<section class="position-relative">
  <div class="position-absolute" style="left: 0; top: 20">
    <button
      *ngIf="steppedForward"
      (click)="perviousSession()"
      [disabled]="sessionIdentiftier == 1"
      type="button"
      class="close bg-light rounded-circle"
      aria-label="Close"
    >
      <span class="p-2 d-inline-flex">
        <span
          aria-hidden="true"
          class="pi pi-arrow-left back-forward-icons"
        ></span>
      </span>
    </button>
  </div>
  <div class="position-absolute" style="right: 0; top: 20">
    <button
      *ngIf="steppedBack"
      (click)="nextSession(null)"
      [disabled]="sessionIdentiftier == 3"
      type="button"
      class="close bg-light rounded-circle"
    >
      <span class="p-2 d-inline-flex">
        <span class="pi pi-arrow-right back-forward-icons"></span>
      </span>
    </button>
  </div>
  <div
    @slideInOut
    *ngIf="sessionIdentiftier == 1"
    class="d-flex flex-row px-4 py-2 flex-wrap justify-content-center align-items-center"
  >
    <div class="w-100 text-center mb-4">
      <strong class="font-size-sessions">
        {{ session[0].title }}
      </strong>
    </div>
    <ng-container *ngFor="let type of types; let i = index">
      <div
        [ngClass]="{ 'selected-type-marker': selectedTypeIdentifier == i }"
        (click)="nextSession(i)"
        [disabled]="type.id == 2"
        class="position-relative card cursor-pointer radius shadow-sm flex-grow-0 p-4 m-lg-4 m-2 m-sm-3 align-self-center select-type--card"
      >
        <span
          *ngIf="selectedTypeIdentifier == i"
          class="position-absolute"
          style="
            border-radius: 50%;
            right: 7px;
            top: 7px;
            width: 15px;
            display: inline-flex;
            height: 15px;
            background: #175974;
          "
        ></span>
        <span
          class="icon-color pi text-center icon-size"
          [ngClass]="{
            ' pi-image': type.id == 0,
            'pi-video': type.id == 1,
            'pi-book': type.id == 2,
            ' pi-microphone': type.id == 3
          }"
        ></span>
        <span class="text-center mt-2"
          ><strong>{{ type.title }}</strong></span
        >
      </div>
    </ng-container>
  </div>
  <div
    @slideInOut2
    *ngIf="sessionIdentiftier == 2"
    class="d-flex flex-column py-2 flex-wrap justify-content-center align-items-center"
  >
    <div class="w-100 text-center mb-4">
      <strong class="font-size-sessions">
        {{ session[1].title }}
      </strong>
    </div>

    <input
      type="file"
      class="text-small"
      id="files"
      (change)="
        this.isFileValid = changeFilePath($event, selectedTypeIdentifier)
      "
    />
    <div
      class="d-flex flex-row flex-wrap justify-content-around align-items-center col-10 col-lg-4 col-md-8"
    >
      <button
        [disabled]="!isFileValid"
        *ngIf="progress == 0"
        class="btn-upload btn d-inline-flex justify-content-start py-btns radius align-items-center m-1"
        (click)="upload()"
      >
        <i class="i-Upload text-dark text-bigger mr-3"></i>
        <strong class="text-small">آپلود</strong>
      </button>
      <div
        *ngIf="progress > 0 && progress < 100"
        class="progress bg-progress-container radius-progress m-2 flex-grow-1"
        style="height: 32px"
      >
        <div
          class="progress-bar bg-progressbar radius-progress pl-1"
          [style.width]="progress + '%'"
        >
          {{ progress }}%
        </div>
      </div>

      <!-- <div *ngIf="progress == undefined" class="">
        <button
          class="btn-upload btn d-inline-flex justify-content-start py-btns radius align-items-center m-1"
        >
          <i class="i-Eye text-dark text-bigger mr-3"></i>
          <strong class="text-small">نمایش</strong>
        </button>
        <button
          class="btn-upload btn d-inline-flex justify-content-start py-btns radius align-items-center m-1"
        >
          <i class="i-Close text-dark text-bigger mr-3"></i>
          <strong class="text-small">حذف</strong>
        </button>
      </div> -->
    </div>
    <div class="col-8 col-md-6 col-lg-5" *ngIf="selectedTypeIdentifier == 0">
      <image-cropper
        [maintainAspectRatio]="false"
        [resizeToWidth]="1280"
        [imageChangedEvent]="imgChangeEvt"
        format="webp"
        (imageCropped)="cropImg($event)"
      >
      </image-cropper>
    </div>
    <div
      class="col-11 col-md-8 col-lg-7"
      *ngIf="selectedTypeIdentifier == 1 && fileChoosed"
    >
      <app-video-player
        class="w-100"
        [fileName]="fileName"
        [file]="file"
        [filePreview]="filePreview"
      ></app-video-player>
    </div>
    <div
      class="col-11 col-md-8 col-lg-7"
      *ngIf="selectedTypeIdentifier == 3 && fileChoosed"
    >
      <app-audio-player
        class="w-100"
        [fileName]="fileName"
        [file]="file"
        [filePreview]="filePreview"
      ></app-audio-player>
    </div>
    <div
      class="col-11 col-md-6 col-lg-4 mt-3"
      *ngIf="selectedTypeIdentifier == 2 && fileChoosed"
    >
      <div class="d-flex flex-row bg-white py-1 radius shadow border">
        <div class="d-flex flex-column flex-grow-1 custom-border text-small">
          <strong class="mb-2 px-2 py-1">عنوان</strong>
          <hr class="my-1 text-dark w-100" />
          <span class="px-2 py-1">{{ fileName }}</span>
        </div>
        <div class="d-flex flex-column flex-grow-0 text-small">
          <strong class="mb-2 px-2 py-1">حجم فایل</strong>
          <hr class="my-1 text-dark w-100" />
          <span class="px-2 py-1">{{ file.size | fileSize }}</span>
        </div>
      </div>
    </div>
  </div>
  <div @slideInOut3 *ngIf="sessionIdentiftier == 3" class="px-5 py-2">
    <div class="w-100 text-center mb-4">
      <strong class="font-size-sessions">
        {{ session[2].title }}
      </strong>
    </div>
    <div class="card radius p-4 shadow">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-4 col-11 col-sm-10 col-md-6">
          <img
            *ngIf="selectedTypeIdentifier == 0"
            class="img-aspect"
            [src]="
              filePreview == ''
                ? '../../../../assets/images/photo-long-1.jpg'
                : filePreview
            "
            alt="{{ filePreview }}"
          />
          <app-video-player
            class="w-100 align-self-center"
            *ngIf="selectedTypeIdentifier == 1"
            [fileName]="fileName"
            [file]="file"
            [filePreview]="filePreview"
          ></app-video-player>
          <span
            *ngIf="selectedTypeIdentifier == 2 || selectedTypeIdentifier == 3"
            class="w-100 align-self-center"
          >
            <span
              class="pi icon-color text-md-left text-center d-block"
              [ngClass]="{
                'pi-book': selectedTypeIdentifier == 2,
                'pi-microphone': selectedTypeIdentifier == 3
              }"
              style="font-size: 4rem"
            ></span>
            <span class="d-block mt-1 px-1 py-2 bg-gray radius"
              ><span class="text-bigger text-white">{{ fileName }}</span></span
            >
          </span>
          <div class="d-flex justify-content-center">
            <button
              (click)="deleteFile()"
              class="btn-delete btn d-inline-flex justify-content-start py-btns radius align-items-center m-1"
            >
              <i class="i-Close text-dark text-bigger mr-3"></i>
              <strong class="text-small">حذف</strong>
            </button>
          </div>
        </div>

        <form [formGroup]="addForm" class="col-12 col-lg-8">
          <div
            class="d-flex flex-row flex-wrap justify-content-center justify-content-lg-start align-items-center"
          >
            <div class="row w-100">
              <div
                class="d-flex flex-column m-lg-4 m-2 col-12 col-md-5 col-lg-4 col-xl-3"
              >
                <label for="title" class="text-small">عنوان</label>
                <input
                  formControlName="title"
                  type="text"
                  id="title"
                  placeholder=""
                  class="form-control radius text-small"
                  autocomplete="off"
                />
              </div>
              <div
                class="d-flex flex-column m-lg-4 m-2 col-12 col-md-5 col-lg-4 col-xl-3"
              >
                <label for="description" class="text-small">توضیح مختصر</label>
                <input
                  formControlName="description"
                  type="text"
                  id="description"
                  placeholder=""
                  autocomplete="off"
                  class="form-control radius text-small"
                />
              </div>
              <div
                class="d-flex flex-column m-lg-4 m-2 col-12 col-md-5 col-lg-4 col-xl-3"
              >
                <label for="key" class="text-small">کلید</label>
                <input
                  formControlName="key"
                  type="text"
                  id="key"
                  placeholder=""
                  autocomplete="off"
                  class="form-control radius text-small"
                />
              </div>
            </div>

            <div class="row w-100">
              <div
                class="d-flex flex-column m-lg-4 m-2 col-12 col-md-5 col-lg-4 col-xl-3"
              >
                <span class="text-small" style="margin-bottom: 0.5rem"
                  >در بخش</span
                >
                <p-dropdown
                  id="tableType"
                  [options]="tableTypes"
                  [(ngModel)]="selectedTableType"
                  [ngModelOptions]="{ standalone: true }"
                  optionLabel="title"
                  optionDisabled="inactive"
                ></p-dropdown>
              </div>
              <div
                class="d-flex flex-column m-lg-4 m-2 col-12 col-md-5 col-lg-4 col-xl-3"
              >
                <span class="text-small" style="margin-bottom: 0.5rem">
                  محصول مربوطه</span
                >
                <p-dropdown
                  id="rowID"
                  [options]="rowList"
                  [(ngModel)]="selectedRow"
                  [ngModelOptions]="{ standalone: true }"
                  optionLabel="title"
                ></p-dropdown>
              </div>
            </div>
          </div>
        </form>

        <!-- Stations -->
        <div class="d-flex p-2 w-100 flex-column">
          <span class="mb-3">
            <strong style="border-bottom: 2px solid #341d87; font-size: 1.3rem"
              >جایگاه</strong
            >
          </span>
          <form [formGroup]="stationForm">
            <div class="row g-0 p-0 m-0">
              <span class="col-12 col-md-6 col-lg-4 col-xl-2">
                <label for="title" class="text-small">نام جایگاه</label>
                <input
                  (change)="searchStation('title', $event.target.value)"
                  formControlName="title"
                  autocomplete="off"
                  type="text"
                  id="title"
                  placeholder=""
                  class="form-control radius text-small"
                />
                <span
                  *ngIf="isSearched"
                  (click)="resetSearchForm('title')"
                  class="d-inline-flex mt-2 p-2 bg-light rounded-circle cursor-pointer"
                  ><span class="pi pi-times" style="font-size: 0.7rem"></span
                ></span>
              </span>
              <!-- <span class="col-12 col-md-6 col-lg-4 col-xl-2">
                <label for="code" class="text-small">کد جایگاه</label>
                <input
                  formControlName="code"
                  (change)="searchStation('code', $event.target.value)"
                  autocomplete="off"
                  type="text"
                  id="code"
                  placeholder=""
                  class="form-control radius text-small"
                />
                <span
                  *ngIf="isSearched"
                  (click)="isSearched = false"
                  class="d-inline-flex p-2 bg-light rounded-circle cursor-pointer"
                  ><span class="pi pi-times" style="font-size: 0.7rem"></span
                ></span>
              </span> -->
            </div>
          </form>
          <drag-scroll
            class="mt-2"
            style="width: 100%; height: auto; cursor: grab"
          >
            <ng-container *ngIf="!isSearched">
              <div
                (click)="selectStation(item)"
                *ngFor="let item of stationsList"
                [ngClass]="{
                  'selected shadow':
                    item.id == addForm.controls['stationID'].value
                }"
                class="d-inline-flex flex-wrap col-10 col-md-5 col-lg-4 col-xl-3 radius shadow-sm p-2 m-lg-4 m-2 m-sm-3 item--card"
              >
                <img
                  [src]="'https://dl.iraniexpert.com/' + item.cardImagePath"
                  class="img-aspect w-100"
                  [ngClass]="{ 'h-station-mob': viewMode == 'list' }"
                  alt=""
                />
                <hr class="w-100 d-block mt-2 mb-2" />
                <ul class="list-unstyled w-100 mt-2">
                  <li class="list-item mb-3">
                    <span
                      class="d-flex flex-wrap align-items-center justify-content-start"
                      ><span
                        class="d-inline-flex pi pi-tag mr-2 p-2 bg-light rounded-circle"
                      ></span>
                      <span class="text-small">{{ item.id }}</span></span
                    >
                  </li>
                  <li class="list-item mb-3">
                    <span
                      class="d-flex flex-wrap align-items-center justify-content-start"
                      ><span
                        class="d-inline-flex pi pi-tag mr-2 p-2 bg-light rounded-circle"
                      ></span>
                      <span class="text-small">{{ item.title }}</span></span
                    >
                  </li>
                  <li class="list-item mb-2">
                    <span
                      class="d-flex flex-wrap align-items-center justify-content-start"
                      ><span
                        class="d-inline-flex pi pi-tag mr-2 p-2 bg-light rounded-circle"
                      ></span>
                      <span class="text-small">{{ item.code }}</span></span
                    >
                  </li>
                </ul>
              </div>
            </ng-container>
            <ng-container *ngIf="isSearched && searchedStations.length > 0">
              <div>
                <div
                  (click)="selectStation(item)"
                  *ngFor="let item of searchedStations"
                  [ngClass]="{
                    'selected shadow':
                      item.id == addForm.controls['stationID'].value
                  }"
                  class="d-inline-flex flex-wrap col-8 col-md-5 col-lg-4 col-xl-3 radius shadow-sm p-2 m-lg-4 m-2 m-sm-3 item--card"
                >
                  <img
                    [src]="'https://dl.iraniexpert.com/' + item.cardImagePath"
                    class="img-aspect w-100"
                    alt=""
                  />
                  <hr class="w-100 d-block mt-2 mb-2" />
                  <ul class="list-unstyled w-100 mt-2">
                    <li class="list-item mb-3">
                      <span
                        class="d-flex flex-wrap align-items-center justify-content-start"
                        ><span
                          class="d-inline-flex pi pi-tag mr-2 p-2 bg-light rounded-circle"
                        ></span>
                        <span class="text-small">{{ item.id }}</span></span
                      >
                    </li>
                    <li class="list-item mb-3">
                      <span
                        class="d-flex flex-wrap align-items-center justify-content-start"
                        ><span
                          class="d-inline-flex pi pi-tag mr-2 p-2 bg-light rounded-circle"
                        ></span>
                        <span class="text-small">{{ item.title }}</span></span
                      >
                    </li>
                    <li class="list-item mb-2">
                      <span
                        class="d-flex flex-wrap align-items-center justify-content-start"
                        ><span
                          class="d-inline-flex pi pi-key mr-2 p-2 bg-light rounded-circle"
                        ></span>
                        <span class="text-small">{{ item.code }}</span></span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="isSearched && searchedStations.length == 0">
              <div
                class="d-inline-flex flex-wrap radius shadow-sm p-2 m-lg-4 m-2 m-sm-3 item--card"
              >
                <img
                  src="../../../../assets/images/97434-no-data-available.gif"
                  class="img-aspect"
                  style="opacity: 0.3"
                  alt=""
                />
              </div>
            </ng-container>
          </drag-scroll>
        </div>
      </div>
      <div class="row justify-content-end">
        <button
          [disabled]="!addForm.valid"
          (click)="addFile(addModal)"
          type="button"
          class="btn-save btn d-inline-flex justify-content-around py-btns radius m-1"
        >
          <span class="pi pi-check mr-2"></span><strong>ثبت</strong>
        </button>
      </div>
    </div>
  </div>
</section>

<!-- Modals -->
<!-- Add Modal -->
<ng-template let-modal #addModal>
  <div class="radius">
    <div class="modal-body border-0">
      <span class="mt-1 header-border-bottom"
        ><strong>جایگاه با مشخصات زیر ثبت میشود</strong>
      </span>

      <!-- Each Value -->
      <div class="d-flex flex-column mr-4 mb-1 mt-3">
        <div class="d-flex align-items-center justify-content-start mb-1">
          <span
            class="pi pi-circle-fill text-light m-1"
            style="font-size: 0.82rem"
          ></span
          ><strong class="my-1 text-small">عنوان</strong>
        </div>
        <span class="py-2 px-4 radius add-modal-card"
          ><strong class="text-small">
            {{ addForm.controls["title"].value }}
          </strong></span
        >
      </div>
      <!-- Each Value -->

      <!-- Each Value -->
      <div class="d-flex flex-column mr-4 mb-1 mt-3">
        <div class="d-flex align-items-center justify-content-start mb-1">
          <span
            class="pi pi-circle-fill text-light m-1"
            style="font-size: 0.82rem"
          ></span
          ><strong class="my-1 text-small">توضیح مختصر</strong>
        </div>
        <span class="py-2 px-4 radius add-modal-card"
          ><strong class="text-small">
            {{ addForm.controls["description"].value }}
          </strong></span
        >
      </div>
      <!-- Each Value -->

      <!-- Each Value -->
      <div class="d-flex flex-column mr-4 mb-1 mt-3">
        <div class="d-flex align-items-center justify-content-start mb-1">
          <span
            class="pi pi-circle-fill text-light m-1"
            style="font-size: 0.82rem"
          ></span
          ><strong class="my-1 text-small">کلید</strong>
        </div>
        <span class="py-2 px-4 radius add-modal-card"
          ><strong class="text-small">
            {{ addForm.controls["key"].value }}
          </strong></span
        >
      </div>
      <!-- Each Value -->

      <!-- Each Value -->
      <div class="d-flex flex-column mr-4 mb-1 mt-3">
        <div class="d-flex align-items-center justify-content-start mb-1">
          <span
            class="pi pi-circle-fill text-light m-1"
            style="font-size: 0.82rem"
          ></span
          ><strong class="my-1 text-small">بخش</strong>
        </div>
        <span class="py-2 px-4 radius add-modal-card"
          ><strong class="text-small">
            {{ selectedTableType.title }}
          </strong></span
        >
      </div>
      <!-- Each Value -->

      <!-- Each Value -->
      <div class="d-flex flex-column mr-4 mb-1 mt-3">
        <div class="d-flex align-items-center justify-content-start mb-1">
          <span
            class="pi pi-circle-fill text-light m-1"
            style="font-size: 0.82rem"
          ></span
          ><strong class="my-1 text-small" *ngIf="selectedTableType.value == 6"
            >محصول</strong
          >
        </div>
        <span class="py-2 px-4 radius add-modal-card"
          ><strong class="text-small">
            {{ selectedRow.title }}
          </strong></span
        >
      </div>
      <!-- Each Value -->

      <!-- Each Value -->
      <div class="d-flex flex-column mr-4 mb-1 mt-3">
        <div class="d-flex align-items-center justify-content-start mb-1">
          <span
            class="pi pi-circle-fill text-light m-1"
            style="font-size: 0.82rem"
          ></span
          ><strong class="my-1 text-small">شناسه جایگاه</strong>
        </div>
        <span class="py-2 px-4 radius add-modal-card"
          ><strong class="text-small">
            {{ addForm.controls["stationID"].value }}
          </strong></span
        >
      </div>
      <!-- Each Value -->
    </div>
    <div class="modal-footer">
      <button
        ngbTooltip="انصراف"
        type="button"
        class="btn-light btn d-flex justify-content-around py-btns radius align-items-center mx-1"
        (click)="modal.dismiss()"
      >
        <span class="pi pi-times"></span>
      </button>
      <button
        ngbAutoFocus
        type="button"
        class="btn-save btn d-flex justify-content-around py-btns radius align-items-center mx-1"
        (click)="modal.close()"
      >
        <span class="pi pi-check"></span>
      </button>
    </div>
  </div>
</ng-template>
