<div class="pb-3 d-flex flex-row row align-items-center">
  <div class="d-flex row col-10 align-items-center">
    <strong class="m-1 text-small"
      ><i class="i-Filter-2 text-dark text-bigger mr-1"></i> فیلتر بر اساس
      &nbsp; : &nbsp;</strong
    >

    <!-- TableType -->

    <strong>نقش</strong>
    <!-- TableType -->
    <div ngbDropdown placement="bottom-end" class="d-inline-block m-1 mb-2">
      <button
        type="button"
        class="btn btn-details radius py-btns text-small"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        {{ userType }}
      </button>
      <div
        ngbDropdownMenu
        class="mt-1 shadow-lg radius"
        aria-labelledby="dropdownBasic1"
      >
        <button
          class="text-left btn"
          ngbDropdownItem
          (click)="getUsersList(1, page.size, null, 'همه')"
        >
          <strong>همه</strong>
        </button>
        <button
          class="text-left btn"
          ngbDropdownItem
          *ngFor="let item of roles"
          (click)="getUsersList(1, page.size, item.id, item.name)"
        >
          <strong>{{ item.name }}</strong>
        </button>
      </div>
    </div>
    <button
      (click)="toggleFilters()"
      class="btn-filter btn d-inline-flex justify-content-around py-btns radius align-items-center m-1"
    >
      <strong class="text-small mr-1">پیشرفته</strong>
      <span class="d-inline-flex"
        ><span
          class="pi pi-chevron-left ml-1"
          [@rotate90deg]="stateOfChevron"
          style="font-size: 0.7rem"
        ></span
      ></span>
    </button>
    <!-- Expand The Div -->
  </div>
</div>
<div @slideInOut *ngIf="isDivExpanded">
  <div class="row d-flex align-items-center mb-3">
    <input
      type="text"
      class="form-control m-1 radius col-9 col-sm-5 col-md-2 bg-white text-small"
      placeholder="شناسه"
      [(ngModel)]="filterData.id"
    />
    <span
      class="d-inline-flex p-2 bg-light rounded-circle cursor-pointer"
      *ngIf="filterHolder.id"
      (click)="filterData.id = null; removeFilter('id')"
      ><span class="pi pi-times" style="font-size: 0.7rem"></span
    ></span>
    <input
      type="text"
      class="form-control m-1 radius col-9 col-sm-5 col-md-2 bg-white text-small"
      placeholder="نام کاربری"
      [(ngModel)]="filterData.userName"
    />
    <span
      class="d-inline-flex p-2 bg-light rounded-circle cursor-pointer"
      *ngIf="filterHolder.userName"
      (click)="filterData.userName = null; removeFilter('userName')"
      ><span class="pi pi-times" style="font-size: 0.7rem"></span
    ></span>
    <input
      type="text"
      class="form-control m-1 radius col-9 col-sm-5 col-md-2 bg-white text-small"
      placeholder="ایمیل"
      [(ngModel)]="filterData.email"
    />
    <span
      class="d-inline-flex p-2 bg-light rounded-circle cursor-pointer"
      *ngIf="filterHolder.email"
      (click)="filterData.email = null; removeFilter('email')"
      ><span class="pi pi-times" style="font-size: 0.7rem"></span
    ></span>
    <input
      type="text"
      class="form-control m-1 radius col-9 col-sm-5 col-md-2 bg-white text-small"
      placeholder="شماره تلفن"
      [(ngModel)]="filterData.phoneNumber"
    />
    <span
      class="d-inline-flex p-2 bg-light rounded-circle cursor-pointer"
      *ngIf="filterHolder.phoneNumber"
      (click)="filterData.phoneNumber = null; removeFilter('phoneNumber')"
      ><span class="pi pi-times" style="font-size: 0.7rem"></span
    ></span>
    <input
      type="text"
      class="form-control m-1 radius col-9 col-sm-5 col-md-2 bg-white text-small"
      placeholder="شماره حساب"
      [(ngModel)]="filterData.accountNumber"
    />
    <span
      class="d-inline-flex p-2 bg-light rounded-circle cursor-pointer"
      *ngIf="filterHolder.accountNumber"
      (click)="filterData.accountNumber = null; removeFilter('accountNumber')"
      ><span class="pi pi-times" style="font-size: 0.7rem"></span
    ></span>

    <input
      type="text"
      class="form-control m-1 radius col-9 col-sm-5 col-md-2 bg-white text-small"
      placeholder="نام"
      [(ngModel)]="filterData.firstName"
    />
    <span
      class="d-inline-flex p-2 bg-light rounded-circle cursor-pointer"
      *ngIf="filterHolder.firstName"
      (click)="filterData.firstName = null; removeFilter('firstName')"
      ><span class="pi pi-times" style="font-size: 0.7rem"></span
    ></span>

    <input
      type="text"
      class="form-control m-1 radius col-9 col-sm-5 col-md-2 bg-white text-small"
      placeholder="نام خانوادگی"
      [(ngModel)]="filterData.lastName"
    />
    <span
      class="d-inline-flex p-2 bg-light rounded-circle cursor-pointer"
      *ngIf="filterHolder.lastName"
      (click)="filterData.lastName = null; removeFilter('lastName')"
      ><span class="pi pi-times" style="font-size: 0.7rem"></span
    ></span>

    <input
      type="text"
      class="form-control m-1 radius col-9 col-sm-5 col-md-2 bg-white text-small"
      placeholder="کد معرف"
      [(ngModel)]="filterData.referralCode"
    />
    <span
      *ngIf="filterHolder.referralCode"
      class="d-inline-flex p-2 bg-light rounded-circle cursor-pointer"
      (click)="filterData.referralCode = null; removeFilter('referralCode')"
      ><span class="pi pi-times" style="font-size: 0.7rem"></span
    ></span>

    <strong for="fromCreateDate" class="text-small mr-sm-2 pl-sm-2 pl-5"
      >ازتاریخ ثبت نام</strong
    >
    <input
      type="text"
      [navigation]="'select'"
      #datePickerStatus2="ngbDatepicker"
      placement="bottom-right"
      autocomplete="off"
      class="form-control m-1 radius col-9 col-sm-5 col-lg-1 col-md-2 bg-white text-small cursor-pointer date-picker"
      [(ngModel)]="fromSignUpDate"
      ngbDatepicker
      [outsideDays]="'collapsed'"
      [footerTemplate]="toCRTfooterTemplate"
      #toCreateDatePicker="ngbDatepicker"
      (click)="datePickerStatus2.toggle()"
      placeholder=" روز / ماه / سال "
    />
    <span
      class="d-inline-flex p-2 bg-light rounded-circle cursor-pointer"
      *ngIf="filterHolder.fromSignUpDate"
      (click)="
        filterData.fromSignUpDate = null;
        fromSignUpDate = null;
        removeFilter('fromSignUpDate')
      "
      ><span class="pi pi-times" style="font-size: 0.7rem"></span
    ></span>
    <strong for="fromCreateDate" class="text-small mr-sm-2 pl-sm-2 pl-5"
      >تا تاریخ ثبت نام</strong
    >
    <input
      type="text"
      ngbDatepicker
      #datePickerStatus1="ngbDatepicker"
      type="text"
      [navigation]="'select'"
      placement="bottom-right"
      autocomplete="off"
      class="form-control m-1 radius col-9 col-sm-5 col-lg-1 col-md-2 bg-white text-small cursor-pointer date-picker"
      [(ngModel)]="ToSignUpDate"
      ngbDatepicker
      [outsideDays]="'collapsed'"
      [footerTemplate]="toCRTfooterTemplate"
      (click)="datePickerStatus1.toggle()"
      placeholder=" روز / ماه / سال "
    />
    <span
      class="d-inline-flex p-2 bg-light rounded-circle cursor-pointer mr-2"
      *ngIf="filterHolder.ToSignUpDate"
      (click)="
        filterData.ToSignUpDate = null;
        ToSignUpDate = null;
        removeFilter('ToSignUpDate')
      "
      ><span class="pi pi-times" style="font-size: 0.7rem"></span
    ></span>

    <button
      type="button"
      ngbAutofocus
      class="btn-filter btn d-inline-flex justify-content-around py-btns radius align-items-center"
      (click)="filterButton()"
    >
      <i class="i-Filter-2 text-bigger mr-2"></i>
      <strong class="text-small">فیلتر </strong>
    </button>
  </div>
</div>
<section class="main-table">
  <table class="table">
    <thead class="bg-dark text-white">
      <tr>
        <th class="rounded--right">ID کابر</th>
        <th>نام کاربری</th>
        <th>نام و نام خانوادگی</th>
        <th>شماره حساب</th>
        <th>شماره تماس</th>
        <th>تاریخ ثبت نام</th>
        <th *appCanAccess="'User-Edit'" class="rounded--left">عملیات</th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="
          let item of rows
            | paginate
              : {
                  itemsPerPage: page.size,
                  page: page.pageNumber,
                  currentPage: page.pageNumber,
                  totalItems: page.totalElements
                }
        "
      >
        <td>{{ item.id }}</td>
        <td>{{ item.userName }}</td>
        <td>{{ item.firstName }}&nbsp;{{ item.lastName }}</td>
        <td>{{ item.accountNumber }}</td>
        <td>{{ item.phoneNumber }}</td>
        <td>{{ item.persianSignUpDate }}</td>
        <td *appCanAccess="'User-Edit'" class="td-oprate">
          <button
            class="btn-download btn d-inline-flex justify-content-around py-btns radius align-items-center mr-1"
            (click)="usersEdit(addUpdateModal, item, item.id)"
          >
            <i class="i-Pen-5 text-bigger mr-2"></i><strong>ویرایش</strong>
          </button>
          <button
            *ngIf="item.isActive == false"
            (click)="updateQuestion(updateTrust, item.id)"
            class="btn-delete btn d-inline-flex justify-content-around py-btns radius align-items-center"
          >
            <i class="i-Circular-Point text-bigger mr-2"></i>
            <strong>فعال کردن</strong>
          </button>
          <button
            *ngIf="item.isActive"
            (click)="updateQuestion(updateTrust, item.id)"
            class="btn-success btn d-inline-flex justify-content-around py-btns radius align-items-center"
          >
            <i class="i-Yes text-bigger mr-2"></i>
            <strong>غیرفعال کردن</strong>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <!--
    *




    *




    *
   -->
</section>

<div class="col-md-12 mt-3" *ngIf="page.totalElements > page.size">
  <pagination-controls
    (pageChange)="setPage($event)"
    previousLabel=""
    nextLabel=""
    responsive="true"
  ></pagination-controls>
</div>

<div *ngIf="rows?.length == 0" class="d-flex justify-content-center">
  <img
    src="../../../../../assets/images/97434-no-data-available.gif"
    class="img-fluid w-50"
    style="opacity: 0.4"
    alt=""
  />
</div>

<ng-template #addUpdateModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="addUpdate.id === 0" id="modal-basic-title">
      ایجاد
    </h4>
    <h4 class="modal-title" *ngIf="addUpdate.id !== 0" id="modal-basic-title">
      ویرایش
    </h4>

    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="addForm" (ngSubmit)="submit()">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6 form-group mb-3 mt-3">
          <label for="firstName ">ایمیل</label>
          <input
            name="userName"
            id="userName"
            class="form-control text-small"
            [(ngModel)]="addUpdate.userName"
            [formControl]="addForm.controls['userName']"
            disabled
          />
        </div>
        <div class="col-md-6 form-group mb-3 mt-3">
          <label for="firstName ">نام </label>
          <input
            name="firstName"
            id="firstName"
            class="form-control text-small"
            [(ngModel)]="addUpdate.firstName"
            [formControl]="addForm.controls['firstName']"
          />
        </div>
        <div class="col-md-6 form-group mb-3 mt-3">
          <label for="lastName">نام خانواگی</label>
          <input
            name="lastName"
            id="lastName"
            class="form-control text-small"
            [(ngModel)]="addUpdate.lastName"
            [formControl]="addForm.controls['lastName']"
          />
        </div>
        <div class="col-md-6 form-group mb-3 mt-3">
          <label for="accountNumber ">شماره حساب</label>
          <input
            name="accountNumber"
            id="accountNumber"
            class="form-control text-small"
            [(ngModel)]="addUpdate.accountNumber"
            [formControl]="addForm.controls['accountNumber']"
          />
        </div>

        <div class="col-md-6 form-group mb-3">
          <label for="parent">معرف</label>
          <input
            [placeholder]="
              isChangingParent
                ? 'کد معرف ,مثل: 1234'
                : userParent.firstname + '&nbsp;' + userParent.lastName
            "
            id="parent"
            (change)="changeUserParentValue($event.target.value)"
            [disabled]="!isChangingParent"
            class="form-control text-small"
          />
          <ng-container *appCanAccess="'UserRefrall-Edit'">
            <span
              *ngIf="!isChangingParent && userParent.id !== 0"
              ngbTooltip="ویرایش معرف"
              [openDelay]="50"
              [closeDelay]="150"
              placement="bottom"
              class="d-inline-flex mt-2 p-2 radius bg-light"
              (click)="changeParent(changeParentModal)"
              ><i class="i-Pen-5 text-bigger text-black"></i
            ></span>
            <span
              *ngIf="!isChangingParent && userParent.id == 0"
              ngbTooltip="ثبت معرف"
              [openDelay]="50"
              [closeDelay]="150"
              placement="bottom"
              class="d-inline-flex mt-2 p-2 radius bg-light"
              (click)="changeParent(changeParentModal)"
              ><i class="i-Add text-bigger text-black"></i
            ></span>
          </ng-container>
          <span
            *ngIf="isChangingParent"
            ngbTooltip="انصراف"
            [openDelay]="50"
            [closeDelay]="150"
            placement="bottom"
            class="d-inline-flex mt-2 p-2 radius bg-light"
            (click)="isChangingParent = false"
            ><i class="i-Close text-bigger text-black"></i
          ></span>
          <span
            *ngIf="isChangingParent"
            ngbTooltip="ثبت"
            [openDelay]="50"
            [closeDelay]="150"
            placement="bottom"
            class="d-inline-flex mt-2 p-2 radius btn-delete ml-2"
            (click)="
              changeUserParent(addUpdate.id, userParentToSend.newReferralCode)
            "
            ><i class="i-Yes text-bigger text-black"></i
          ></span>
        </div>
        <div *appCanAccess="'UserRole-Edit'" class="col-md-6 form-group mb-3">
          <label for="accountNumber ">دسترسی ها</label>
          <ng-multiselect-dropdown
            [formControl]="addForm.controls['permision']"
            [placeholder]="' لیست نقش ها '"
            [settings]="dropdownSettings"
            [data]="dropdownList"
            [(ngModel)]="selectedItems"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            (onDeSelect)="onDeSelect($event)"
            (onDeSelectAll)="onDeSelectAll($event)"
            class="col-12 mt-1 text-small"
          >
          </ng-multiselect-dropdown>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <ng-container *ngIf="addUpdate.id !== 0">
        <button
          ngbAutofocus
          type="button"
          class="btn-download btn d-inline-flex justify-content-around py-btns radius align-items-center mr-1"
          (click)="modal.close(true)"
        >
          <i class="i-Pen-5 text-bigger mr-2"></i><strong>ویرایش</strong>
        </button>
      </ng-container>
      <button
        ngbAutofocus
        type="button"
        class="btn-add btn d-inline-flex justify-content-around py-btns radius align-items-center mr-1"
        (click)="modal.close(true)"
        *ngIf="addUpdate.id === 0"
      >
        <i class="i-Add text-bigger mr-2"></i><strong>ایجاد</strong>
      </button>
      <button
        type="button"
        class="btn-delete btn d-inline-flex justify-content-around py-btns radius align-items-center mr-1"
        (click)="modal.dismiss()"
      >
        <i class="i-Close text-bigger mr-2"></i>
        <strong>انصراف</strong>
      </button>
    </div>
  </form>
</ng-template>
<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">حذف کاربر</h4>
    <button
      type="button"
      class="close"
      aria-label="Close button"
      aria-describedby="modal-basic-title"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>آیا از حذف مطمئنید؟</strong></p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn-save btn d-inline-flex justify-content-around py-btns radius align-items-center mr-1"
      (click)="modal.dismiss()"
    >
      <i class="i-Close text-bigger mr-2"></i><strong>خیر</strong>
    </button>
    <button
      type="button"
      ngbAutofocus
      class="btn-delete btn d-inline-flex justify-content-around py-btns radius align-items-center ml-2"
      (click)="modal.close(true)"
    >
      <i class="i-Yes text-bigger mr-2"></i><strong>بله</strong>
    </button>
  </div>
</ng-template>

<!-- Change User Parent Modal -->

<ng-template #changeParentModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">تغییر معرف کاربر</h4>
    <button
      type="button"
      class="close"
      aria-label="Close button"
      aria-describedby="modal-basic-title"
      (click)="modal.dismiss('Close Modal')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn-save btn d-inline-flex justify-content-around py-btns radius align-items-center mr-1"
      (click)="modal.dismiss('Reject')"
    >
      <i class="i-Close text-bigger mr-2"></i><strong>انصراف</strong>
    </button>
    <button
      type="button"
      ngbAutofocus
      class="btn-delete btn d-inline-flex justify-content-around py-btns radius align-items-center ml-2"
      (click)="modal.close(true)"
    >
      <i class="i-Yes text-bigger mr-2"></i><strong>بله</strong>
    </button>
  </div>
</ng-template>
<ng-template #updateTrust let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">تغییر وضعیت کاربر</h4>
    <button
      type="button"
      class="close"
      aria-label="Close button"
      aria-describedby="modal-basic-title"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>آیا از تغیر وضعیت کاربر اطمینان دارید؟</strong></p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn-save btn d-inline-flex justify-content-around py-btns radius align-items-center mr-1"
      (click)="modal.dismiss()"
    >
      <i class="i-Close text-bigger mr-2"></i><strong>انصراف</strong>
    </button>
    <button
      type="button"
      ngbAutofocus
      class="btn-delete btn d-inline-flex justify-content-around py-btns radius align-items-center ml-2"
      (click)="modal.close(true)"
    >
      <i class="i-Yes text-bigger mr-2"></i><strong>اعمال</strong>
    </button>
  </div>
</ng-template>
