<div class="row g-0 p-0 m-0">
  <div class="col-12 row g-0 p-0 flex-row mb-2">
    <div class="col-auto mb-2">
      <button
        class="btn btn-secondary"
        (click)="getUsersList(1, page.size, null)"
      >
        تمامی کابران
      </button>
    </div>
    <div class="col-auto mb-2">
      <button class="btn btn-primary" (click)="getUsersList(1, page.size, 1)">
        ادمین
      </button>
    </div>
    <div class="col-auto mb-2">
      <button
        class="btn btn-dark"
        (click)="getUsersList(page.pageNumber, page.size, 14)"
      >
        کاربران
      </button>
    </div>
    <div class="col-auto mb-2">
      <button
        class="btn btn-danger"
        (click)="getUsersList(page.pageNumber, page.size, 15)"
      >
        فروشنده
      </button>
    </div>
    <div class="col-auto mb-2">
      <button
        class="btn btn-warning"
        (click)="getUsersList(page.pageNumber, page.size, 13)"
      >
        نویسنده
      </button>
    </div>
  </div>
</div>

<section class="main-table">
  <table class="table">
    <thead class="bg-dark text-white">
      <tr>
        <th class="rounded--right">ID کابر</th>
        <th>نام کاربری</th>
        <th>نام و نام خانوادگی</th>
        <th>شماره حساب</th>
        <th>شماره تماس</th>
        <th class="rounded--left">عملیات</th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="
          let item of rows
            | paginate
              : {
                  itemsPerPage: page.size,
                  page: page.pageNumber,
                  currentPage: page.pageNumber,
                  totalItems: page.totalElements
                }
        "
      >
        <td>{{ item.id }}</td>
        <td>{{ item.userName }}</td>
        <td>{{ item.firstName }}&nbsp;{{ item.lastName }}</td>
        <td>{{ item.accountNumber }}</td>
        <td>{{ item.phoneNumber }}</td>
        <td class="td-oprate">
          <button
            *appCanAccess="'Users-Edit'"
            class="btn-download btn d-inline-flex justify-content-around py-btns radius align-items-center mr-1"
            (click)="usersEdit(addUpdateModal, item)"
          >
            <i class="i-Pen-5 text-bigger mr-2"></i><strong>ویرایش</strong>
          </button>
          <button
            *appCanAccess="'Users-Delete'"
            class="btn-delete btn d-inline-flex justify-content-around py-btns radius align-items-center"
            (click)="deleteUser(item.id, deleteModal)"
          >
            <i class="i-Close text-bigger mr-2"></i>
            <strong>حذف</strong>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- 
    *




    *




    *
   -->
</section>

<div class="col-md-12 mt-3" *ngIf="rows?.length > 0">
  <pagination-controls
    (pageChange)="setPage($event)"
    previousLabel=""
    nextLabel=""
    responsive="true"
  ></pagination-controls>
</div>

<div *ngIf="rows?.length == 0" class="d-flex justify-content-center">
  <img
    src="../../../../../assets/images/97434-no-data-available.gif"
    class="img-fluid w-50"
    style="opacity: 0.4"
    alt=""
  />
</div>

<ng-template #addUpdateModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="addUpdate.id === 0" id="modal-basic-title">
      ایجاد
    </h4>
    <h4 class="modal-title" *ngIf="addUpdate.id !== 0" id="modal-basic-title">
      ویرایش
    </h4>

    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="addForm" (ngSubmit)="submit()">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6 form-group mb-3 mt-3">
          <label for="firstName ">نام کاربری</label>
          <input
            name="userName"
            id="userName"
            class="form-control"
            [(ngModel)]="addUpdate.userName"
            [formControl]="addForm.controls['userName']"
          />
        </div>
        <div class="col-md-6 form-group mb-3 mt-3">
          <label for="firstName ">نام </label>
          <input
            name="firstName"
            id="firstName"
            class="form-control"
            [(ngModel)]="addUpdate.firstName"
            [formControl]="addForm.controls['firstName']"
          />
        </div>
        <div class="col-md-6 form-group mb-3 mt-3">
          <label for="lastName">نام خانواگی</label>
          <input
            name="lastName"
            id="lastName"
            class="form-control"
            [(ngModel)]="addUpdate.lastName"
            [formControl]="addForm.controls['lastName']"
          />
        </div>
        <div class="col-md-6 form-group mb-3 mt-3">
          <label for="accountNumber ">شماره حساب</label>
          <input
            name="accountNumber"
            id="accountNumber"
            class="form-control"
            [(ngModel)]="addUpdate.accountNumber"
            [formControl]="addForm.controls['accountNumber']"
          />
        </div>

        <div class="col-md-6 form-group mb-3">
          <label for="referralCode">کد رفرال معرف جدید</label>
          <input id="referralCode" class="form-control" />
        </div>
        <div class="col-md-6 form-group mb-3 mt-2">
          <label for="accountNumber ">دسترسی ها</label>
          <ng-multiselect-dropdown
            [formControl]="addForm.controls['permision']"
            [placeholder]="' لیست نقش ها '"
            [settings]="dropdownSettings"
            [data]="dropdownList"
            [(ngModel)]="selectedItems"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            (onDeSelect)="onDeSelect($event)"
            (onDeSelectAll)="onDeSelectAll($event)"
            class="col-12 mt-1 text-small"
          >
          </ng-multiselect-dropdown>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <ng-container *ngIf="addUpdate.id !== 0">
        <button
          *appCanAccess="'user-management-final-Edit'"
          ngbAutofocus
          type="button"
          class="btn-download btn d-inline-flex justify-content-around py-btns radius align-items-center mr-1"
          (click)="modal.close(true)"
        >
          <i class="i-Pen-5 text-bigger mr-2"></i><strong>ویرایش</strong>
        </button>
      </ng-container>
      <button
        ngbAutofocus
        type="button"
        class="btn-add btn d-inline-flex justify-content-around py-btns radius align-items-center mr-1"
        (click)="modal.close(true)"
        *ngIf="addUpdate.id === 0"
      >
        <i class="i-Add text-bigger mr-2"></i><strong>ایجاد</strong>
      </button>
      <button
        type="button"
        class="btn-delete btn d-inline-flex justify-content-around py-btns radius align-items-center mr-1"
        (click)="modal.dismiss()"
      >
        <i class="i-Close text-bigger mr-2"></i>
        <strong>انصراف</strong>
      </button>
    </div>
  </form>
</ng-template>
<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">حذف کاربر</h4>
    <button
      type="button"
      class="close"
      aria-label="Close button"
      aria-describedby="modal-basic-title"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>آیا از حذف مطمئنید؟</strong></p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn-save btn d-inline-flex justify-content-around py-btns radius align-items-center mr-1"
      (click)="modal.dismiss()"
    >
      <i class="i-Close text-bigger mr-2"></i><strong>خیر</strong>
    </button>
    <button
      type="button"
      ngbAutofocus
      class="btn-delete btn d-inline-flex justify-content-around py-btns radius align-items-center ml-2"
      (click)="modal.close(true)"
    >
      <i class="i-Yes text-bigger mr-2"></i><strong>بله</strong>
    </button>
  </div>
</ng-template>
