@import "../../../../assets/styles/vendor/bootstrap/functions";
@import "../../../../assets/styles/vendor/bootstrap/variables";
@import "../../../../assets/styles/vendor/bootstrap/mixins";
p {
  color: darken(#ccc, 10%);
  font-weight: 300;
}
a {
  transition: 0.3s all ease;
  &,
  &:hover {
    text-decoration: none !important;
  }
}
.modal-header {
  strong {
    font-size: 1.1rem;
  }
}
.content {
  padding: 1rem 0;
}
h2 {
  font-size: 20px;
}

.custom-table-responsive {
  padding: 20px;
  border-radius: 10px;
}
.custom-table {
  max-width: 1200px;
  min-width: 900px;
  thead {
    tr,
    th {
      border-top: none;
      font-weight: 800;
      border-bottom: none !important;
      font-size: 0.81rem;
    }
  }
  tbody {
    th,
    td {
      vertical-align: middle;
      color: #777;
      font-weight: 700;
      padding-top: 16px;
      padding-bottom: 16px;
      font-size: 0.79rem;
      small {
        color: darken(#ccc, 10%);
        font-weight: 300;
      }
      span {
        font-size: 0.75rem;
      }
    }
    tr {
      &:not(.spacer) {
        border-radius: 10px;
        overflow: hidden;
        transition: 0.3s all ease;
        &:hover {
          box-shadow: 0 2px 10px -5px rgba($black, 0.5);
        }
      }
      th,
      td {
        background: #efefef;
        border: none;

        &:first-child {
          width: 100px;

          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
        &:nth-child(3) {
          width: 90px;
        }
        &:nth-child(n + 5) {
          width: 100px;
        }
        &:last-child {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }
      }
      &.spacer {
        td {
          padding: 0 !important;
          height: 10px;
          border-radius: 0 !important;
          background: transparent !important;
        }
      }
      &.active {
        opacity: 0.4;
      }
    }
  }
}

.blinking {
  -webkit-animation: 2s blink ease infinite;
  -moz-animation: 2s blink ease infinite;
  -ms-animation: 2s blink ease infinite;
  -o-animation: 2s blink ease infinite;
  animation: 2s blink ease infinite;
}
.blinking-fast {
  -webkit-animation: 0.7s blink ease infinite;
  -moz-animation: 0.7s blink ease infinite;
  -ms-animation: 0.7s blink ease infinite;
  -o-animation: 0.7s blink ease infinite;
  animation: 0.7s blink ease infinite;
}
.blinking-slow {
  -webkit-animation: 3s blink ease infinite;
  -moz-animation: 3s blink ease infinite;
  -ms-animation: 3s blink ease infinite;
  -o-animation: 3s blink ease infinite;
  animation: 3s blink ease infinite;
}
.blinking-med {
  -webkit-animation: 1.5s blink ease infinite;
  -moz-animation: 1.5s blink ease infinite;
  -ms-animation: 1.5s blink ease infinite;
  -o-animation: 1.5s blink ease infinite;
  animation: 1.5s blink ease infinite;
}

@keyframes blink {
  from,
  to {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  from,
  to {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  from,
  to {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
}

@-ms-keyframes blink {
  from,
  to {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
}

@-o-keyframes blink {
  from,
  to {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
}

// Modal Inputs
.disabled-title-input {
  cursor: pointer;
  font-weight: 600;
  border: 0.4px solid #fff !important;
  outline: 0 !important;
  transition: 0.3s all ease;
}
.disabled-title-input:hover {
  border: 0.4px solid #d3d3d3 !important;
}
.enabled-title-input {
  pointer-events: all;
  font-weight: 600;
  border: 0.4px solid #969696 !important;
  outline: 0 !important;
}
.enabled-title-input :focus {
  border: 0.4px solid #898989 !important;
  outline: 0 !important;
}

.enabled-title-input :focus-within {
  border: 0.4px solid #898989 !important;
  outline: 0 !important;
}

.enabled-title-input :focus-visible {
  border: 0.4px solid #898989 !important;
  outline: 0 !important;
}
.w-70 {
  width: 75%;
}
.h-custom-header {
  height: 68.17px;
}
.modal-height {
  min-height: 715px !important;
}
.dropdown-menu {
  z-index: 1 !important;
}
input::placeholder {
  color: #0b1136;
}
// input:: .datePicker {
//   display: none;
// }
input:focus {
  border-color: #ced4da !important;
  border: 1px solid #ced4da !important;
  color: #0b1136 !important;
  box-shadow: none !important;
  background: #f4f2f2 !important;
}
.tele-img {
  width: 45px;
  aspect-ratio: 1/1;
  object-fit: contain;
  height: auto;
}
.position-custom-telegram {
  position: fixed;
  top: calc(100px + 1vh);
  left: -1%;
}
.counter-timeOut-container {
  background-color: #12111172;
  padding: 6px;
  border-radius: 6px;
}
.counter-time {
  font-size: 1rem;
  color: #0e0c0c;
}
.img-container {
  position: absolute;
  left: 30px;
  max-width: 100%;
  display: inline-flex;
  align-self: center;
  justify-content: center;
  border-radius: 50%;
  animation: 2s box-shadow ease infinite;
  -webkit-animation: 2s box-shadow ease infinite;
  -moz-animation: 2s box-shadow ease infinite;
}

@keyframes box-shadow {
  from,
  to {
    box-shadow: unset;
    opacity: 0.7;
  }
  50% {
    opacity: 1;
    box-shadow: 0px 0px 14px 4px #4a6f6dbf;
  }
}

@-moz-keyframes box-shadow {
  from,
  to {
    box-shadow: unset;
    opacity: 0.7;
  }
  50% {
    opacity: 1;
    box-shadow: 0px 0px 14px 4px #4a6f6dbf;
  }
}

@-webkit-keyframes box-shadow {
  from,
  to {
    box-shadow: unset;
    opacity: 0.7;
  }
  50% {
    opacity: 1;
    box-shadow: 0px 0px 14px 4px #4a6f6dbf;
  }
}
.message-container {
  position: relative;
  margin-left: 20px;
  margin-bottom: 10px;
  left: 65px;
  margin-top: 50px;

  width: 270px;
  height: 58px;
  border: 1px solid #97c6e3;
  border-radius: 10px;
}
.message-blue {
  text-align: right;
  border-radius: 10px;

  background-color: #5e6a69;
  padding: 7px;
}
.message-content {
  padding: 0;
  margin: 0;
  color: #e0e0e3;
  font-size: 0.68rem;
  font-weight: 400;
  strong {
    margin-left: 3px;
    margin-right: 3px;
    font-size: 0.74rem;
    color: #0b1136;
  }
}
.message-blue:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid #5e6a69;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  top: 0;
  left: -15px;
}

.message-blue:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 17px solid #97c6e3;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  top: -1px;
  left: -17px;
}
.spinner-img-position {
  position: absolute;
  left: 50%;
  top: 50%;
}
