<section class="position-relative">
  <div class="pb-3 d-flex flex-column flex-md-row align-items-center">
    <div class="d-flex flex-row flex-wrap align-items-center">
      <strong class="m-1 text-small"
        ><i class="i-Filter-2 text-dark text-bigger mr-1"></i> فیلتر بر اساس
        &nbsp; : &nbsp;</strong
      >

      <!-- Country -->
      <strong for="pageOrder" class="text-small"> کشور </strong>
      <div ngbDropdown placement="bottom-end" class="col-auto">
        <button
          *ngIf="isDataFetched"
          type="button"
          class="btn btn-filter radius py-btns text-small"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          <span
            class="fi"
            [ngClass]="'fi-' + countriesData[countryIndexHolder].codeFlag"
          ></span>
          <strong class="ml-1" style="font-size: 0.76rem">{{
            countriesData[countryIndexHolder].name
          }}</strong>
        </button>
        <div
          ngbDropdownMenu
          class="mt-1 shadow-lg radius dropDown-scroll"
          aria-labelledby="dropdownBasic1"
          style="height: 300px; overflow: auto"
        >
          <button
            class="text-left btn mt-2"
            ngbDropdownItem
            *ngFor="let country of countriesData; let i = index"
            (click)="
              filterHolder.countryID = country.id;
              countryIndexHolder = i;
              setFilter()
            "
          >
            <span
              class="fi"
              [ngClass]="'fi-' + country.codeFlag"
              style="font-size: 0.8rem"
            ></span>
            <strong class="text-small ml-1">{{ country.name }}</strong>
          </button>
        </div>
      </div>

      <!-- Country -->
      <!-- Expand The Div -->
      <button
        (click)="toggleFilters()"
        class="btn-filter btn d-inline-flex justify-content-around py-btns radius align-items-center m-1"
      >
        <strong class="text-small mr-1">پیشرفته</strong>
        <span class="d-inline-flex"
          ><span
            class="pi pi-chevron-left ml-1"
            [@rotate90deg]="stateOfChevron"
            style="font-size: 0.7rem"
          ></span
        ></span>
      </button>
      <!-- Expand The Div -->
    </div>
  </div>
  <!-- Hidden Filtering Div -->
  <div @slideInOut *ngIf="isDivExpanded">
    <div class="flex-row d-flex flex-wrap align-items-center">
      <!-- Frequency -->
      <strong for="pageOrder" class="text-small"> دوره زمانی </strong>
      <div ngbDropdown placement="bottom-end" class="col-auto mb-2 mb-lg-0">
        <button
          type="button"
          class="btn btn-details radius py-btns text-small"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          {{ eventEnums.eventFrequencies[frequencyIndexHolder].title }}
        </button>
        <div
          ngbDropdownMenu
          class="mt-1 shadow-lg radius dropDown-scroll"
          aria-labelledby="dropdownBasic1"
          style="height: 245px; overflow: auto"
        >
          <button
            class="text-left btn mt-2"
            ngbDropdownItem
            *ngFor="let frequency of eventEnums.eventFrequencies"
            (click)="
              filterHolder.frequency = frequency.value;
              frequency.value == null
                ? (frequencyIndexHolder = 0)
                : (frequencyIndexHolder = frequency.value + 1);
              setFilter()
            "
          >
            <strong class="text-small">{{ frequency.title }}</strong>
          </button>
        </div>
      </div>
      <!-- Frequency -->
      <!-- Importance -->
      <strong for="pageOrder" class="text-small"> اهمیت خبر </strong>
      <div ngbDropdown placement="bottom-end" class="col-auto mb-2 mb-lg-0">
        <button
          type="button"
          class="btn btn-details radius py-btns text-small"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          {{ eventEnums.eventImportances[importanceIndexHolder].title }}
        </button>
        <div
          ngbDropdownMenu
          class="mt-1 shadow-lg radius dropDown-scroll"
          aria-labelledby="dropdownBasic1"
          style="height: 245px; overflow: auto"
        >
          <button
            class="text-left btn mt-2"
            ngbDropdownItem
            *ngFor="let importance of eventEnums.eventImportances"
            (click)="
              filterHolder.importance = importance.value;
              importance.value == null
                ? (importanceIndexHolder = 0)
                : (importanceIndexHolder = importance.value + 1);
              setFilter()
            "
          >
            <strong class="text-small">{{ importance.title }}</strong>
          </button>
        </div>
      </div>
      <!-- Importance -->
      <!-- Sector -->
      <strong for="pageOrder" class="text-small"> بخش خبر </strong>
      <div
        ngbDropdown
        placement="bottom-end"
        class="col-auto mb-2 mb-lg-0 mb-2 mb-lg-0"
      >
        <button
          type="button"
          class="btn btn-details radius py-btns text-small"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          {{ eventEnums.eventSector[sectorIndexHolder].title }}
        </button>
        <div
          ngbDropdownMenu
          class="mt-1 shadow-lg radius dropDown-scroll"
          aria-labelledby="dropdownBasic1"
          style="height: 300px; overflow: auto"
        >
          <button
            class="text-left btn mt-2"
            ngbDropdownItem
            *ngFor="let sector of eventEnums.eventSector"
            (click)="
              filterHolder.sector = sector.value;
              sector.value == null
                ? (sectorIndexHolder = 0)
                : (sectorIndexHolder = sector.value + 1);
              setFilter()
            "
          >
            <strong class="text-small">{{ sector.title }}</strong>
          </button>
        </div>
      </div>

      <!-- Sector -->

      <!-- Type -->
      <strong for="pageOrder" class="text-small"> نوع خبر </strong>
      <div ngbDropdown placement="bottom-end" class="col-auto mb-2 mb-lg-0">
        <button
          type="button"
          class="btn btn-details radius py-btns text-small"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          {{ eventEnums.eventType[typeIndexHolder].title }}
        </button>
        <div
          ngbDropdownMenu
          class="mt-1 shadow-lg radius dropDown-scroll"
          aria-labelledby="dropdownBasic1"
          style="height: 200px; overflow: auto"
        >
          <button
            class="text-left btn mt-2"
            ngbDropdownItem
            *ngFor="let type of eventEnums.eventType"
            (click)="
              filterHolder.type = type.value;
              type.value == null
                ? (typeIndexHolder = 0)
                : (typeIndexHolder = type.value + 1);
              setFilter()
            "
          >
            <strong class="text-small">{{ type.title }}</strong>
          </button>
        </div>
      </div>
      <!-- Type -->

      <!-- Inputs -->
      <input
        (keydown.enter)="filterWithEnter($event.target.value)"
        type="text"
        class="form-control m-1 radius col-9 col-lg-2 col-md-4 bg-white text-small"
        placeholder="شناسه "
        [(ngModel)]="filter.iD"
      />
      <span
        *ngIf="filterHolder.iD"
        (click)="filter.iD = null; removeFilter('iD')"
        class="d-inline-flex p-2 bg-light rounded-circle cursor-pointer"
        ><span class="pi pi-times" style="font-size: 0.7rem"></span
      ></span>
      <input
        (keydown.enter)="filterWithEnter($event.target.value)"
        type="text"
        class="form-control m-1 radius col-9 col-lg-2 col-md-4 bg-white text-small"
        placeholder="کد شاخص "
        [(ngModel)]="filter.eventCode"
      />
      <span
        *ngIf="filterHolder.eventCode"
        (click)="filter.eventCode = null; removeFilter('eventCode')"
        class="d-inline-flex p-2 bg-light rounded-circle cursor-pointer"
        ><span class="pi pi-times" style="font-size: 0.7rem"></span
      ></span>
      <input
        (keydown.enter)="filterWithEnter($event.target.value)"
        type="text"
        class="form-control m-1 radius col-9 col-lg-2 col-md-4 bg-white text-small"
        placeholder="عنوان"
        [(ngModel)]="filter.name"
      />
      <span
        *ngIf="filterHolder.name"
        (click)="filter.name = null; removeFilter('name')"
        class="d-inline-flex p-2 bg-light rounded-circle cursor-pointer"
        ><span class="pi pi-times" style="font-size: 0.7rem"></span
      ></span>
      <input
        (keydown.enter)="filterWithEnter($event.target.value)"
        type="text"
        class="form-control m-1 radius col-9 col-lg-2 col-md-4 bg-white text-small"
        placeholder="لینک منبع"
        [(ngModel)]="filter.sourceUrl"
      />
      <span
        *ngIf="filterHolder.sourceUrl"
        (click)="filter.sourceUrl = null; removeFilter('sourceUrl')"
        class="d-inline-flex p-2 bg-light rounded-circle cursor-pointer"
        ><span class="pi pi-times" style="font-size: 0.7rem"></span
      ></span>
      <button
        type="button"
        ngbAutofocus
        class="btn-filter btn d-inline-flex justify-content-around py-btns radius align-items-center mx-2"
        (click)="filterButton()"
      >
        <i class="i-Filter-2 text-bigger mr-2"></i>
        <strong class="text-small">فیلتر </strong>
      </button>
    </div>
  </div>
  <!-- Hidden Filtering Div -->
  <div class="row p-0 m-0 g-0 justify-content-center align-items-start">
    <div class="col-12 row g-0 p-0 m-0">
      <div class="content col-12">
        <div class="table-responsive custom-table-responsive">
          <table class="table custom-table">
            <thead>
              <tr>
                <th>ارز</th>
                <th>توضیح خبر</th>
                <th>اهمیت</th>
                <th class="text-center">بخش خبر</th>
                <th class="text-center">حالت زمانی</th>
                <th class="text-center">دوره زمانی</th>
                <th class="text-center">منبع رویداد</th>
              </tr>
            </thead>
            <tbody>
              <ng-container
                *ngFor="
                  let item of eventData
                    | paginate
                      : {
                          itemsPerPage: page.size,
                          currentPage: page.pageNumber,
                          totalItems: page.totalElements
                        }
                "
              >
                <tr
                  scope="row"
                  (click)="openModal(detailsModal, 'lg', true, item)"
                  class="cursor-pointer"
                >
                  <td>
                    <span
                      class="fi"
                      [ngClass]="'fi-' + item.codeFlag"
                      style="font-size: 2rem; border-radius: 6px"
                    ></span
                    >&nbsp;
                    <span>{{ item.currency }}</span>
                  </td>
                  <td>
                    <span> {{ item.name }}</span>
                    <br />
                    <span> {{ item.secondName }}</span>
                  </td>
                  <td>
                    <span class="d-inline-flex align-items-center">
                      <span
                        class="pi pi-circle-fill"
                        [ngClass]="{
                          'text-dark': item.importance == 0,
                          'blinking-med text-warning': item.importance == 3,
                          'blinking-slow text-light': item.importance == 1,
                          'blinking-fast text-danger': item.importance == 2
                        }"
                      ></span
                      >&nbsp;&nbsp;{{ item.importanceTitle }}
                    </span>
                  </td>
                  <td class="text-center">{{ item.sectorTitle }}</td>
                  <td class="text-center">{{ item.timeModeTitle }}</td>
                  <td class="text-center">{{ item.frequencyTitle }}</td>
                  <td class="text-center">
                    <a
                      (click)="denyOpeningModal()"
                      href="https://{{ item.source_Url }}"
                      target="blank"
                      >{{ item.source_Url }}</a
                    >
                  </td>
                </tr>
                <tr class="spacer">
                  <td colspan="100"></td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-12 mt-3" *ngIf="page.totalElements > 25">
        <pagination-controls
          (pageChange)="setPage($event, null)"
          previousLabel=""
          nextLabel=""
          responsive="true"
        ></pagination-controls>
      </div>
    </div>
  </div>
  <div *ngIf="page.totalElements == 0" class="d-flex justify-content-center">
    <img
      src="../../../../../assets/images/97434-no-data-available.gif"
      class="img-fluid w-50 radius-lg"
      style="opacity: 0.4"
      alt=""
    />
  </div>

  <!-- TeleGramBtn -->
  <div @fadeOut class="position-custom-telegram" *ngIf="showTelBtn">
    <div
      (click)="checkAndSendNews()"
      [ngbTooltip]="
        isMessageContainerClosed ? 'ارسال اخبار به ربات' : ' ارسال کن'
      "
      tooltipClass="text-small"
      [placement]="isMessageContainerClosed ? 'right' : 'bottom'"
      class="img-container"
    >
      <img
        class="tele-img"
        [src]="
          isSendingReq
            ? '../../../../assets/images/Telegram.gif'
            : '../../../../assets/images/Telegram.png'
        "
        alt=""
      />
    </div>
    <div
      class="message-container"
      [ngClass]="{ 'border-0': isMessageContainerClosed }"
    >
      <div @fadeOut class="message-blue" *ngIf="!isMessageContainerClosed">
        <p class="message-content">
          با این قابلیت میتونی اخبار رو به ربات تلگرام بفرستی
        </p>
        <br class="mt-1 mb-1" />
        <p class="message-content">
          روی لوگوی <strong>تلگرام</strong> کلیک کن !
        </p>
      </div>
      <div
        @fadeOut
        class="d-flex justify-content-end"
        *ngIf="!isMessageContainerClosed"
      >
        <p-button
          (click)="isMessageContainerClosed = true"
          styleClass="p-button-rounded p-button-danger m-1 text-small p-btn-small"
          icon="pi pi-times"
        ></p-button>
      </div>
    </div>
  </div>
</section>

<!-- Modals -->
<ng-template let-modal #detailsModal>
  <div class="shadow-lg radius modal-height d-flex flex-column flex-wrap">
    <div class="modal-header border-0">
      <div class="w-75 h-custom-header">
        <span class="d-inline-flex align-items-center">
          <span class="pi pi-circle-fill text-dark text-bigger"></span>&nbsp;
        </span>
        <ng-container *appCanAccess="'Calendar-Event-Edit'">
          <input
            (click)="onFocusIn()"
            type="text"
            class="form-control-sm radius w-75 text-small disabled-title-input"
            *ngIf="!changing"
            value="{{ eventNameHolder }}"
          />
          <input
            value="{{ eventNameHolder }}"
            [(ngModel)]="eventDetails.name"
            autocomplete="off"
            *ngIf="changing"
            type="text"
            id="enabledInput"
            (focusout)="onFocusOut()"
            class="form-control-sm radius w-75 text-small enabled-title-input"
          />
        </ng-container>
        <div class="d-block" *appCanAccess="'Calendar-Event-Edit'">
          <span
            *ngIf="changing"
            ngbTooltip="انصراف"
            [openDelay]="50"
            [closeDelay]="150"
            placement="bottom"
            class="d-inline-flex mt-2 p-2 radius bg-light"
            (click)="changing = fasle; eventDetails.name = eventNameHolder"
            ><i class="i-Close text-bigger text-black"></i
          ></span>
          <span
            *ngIf="changing"
            (click)="eventNameHolder = eventDetails.name; changing = false"
            ngbTooltip="ثبت"
            [openDelay]="50"
            [closeDelay]="150"
            placement="bottom"
            class="d-inline-flex mt-2 p-2 radius btn-save ml-2"
            ><i class="i-Yes text-bigger text-black"></i
          ></span>
        </div>
      </div>
      <button
        ngbAutoFocus
        type="button"
        class="close"
        aria-label="Close"
        (click)="eventDetails.name = eventNameHolder; modal.dismiss()"
      >
        <span style="font-size: 1.7rem" aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <input
        *appCanAccess="'Calendar-Event-Edit'"
        class="text-small form-control radius col-10 mb-3"
        type="text"
        [placeholder]="
          eventDetails.secondName
            ? eventDetails.secondName
            : 'نام ثانویه تعریف نشده است'
        "
        [(ngModel)]="eventDetails.secondName"
      />
      <div class="d-flex flex-row flex-wrap">
        <!-- Each Value -->
        <div class="d-flex flex-column mr-4 mb-1">
          <div class="d-flex align-items-center justify-content-start mb-1">
            <span
              class="pi pi-circle-fill text-light m-1"
              style="font-size: 0.82rem"
            ></span>
          </div>
          <span
            class="fi"
            [ngClass]="'fi-' + eventDetails.codeFlag"
            style="font-size: 6rem; border-radius: 6px"
          ></span>
        </div>
        <!-- Each Value -->
        <!-- Each Value -->
        <div class="d-flex flex-column mr-4 mb-1">
          <div class="d-flex align-items-center justify-content-start mb-1">
            <span
              class="pi pi-circle-fill text-light m-1"
              style="font-size: 0.82rem"
            ></span
            ><strong class="my-1 text-small" for="type">شناسه</strong>
          </div>
          <span class="card py-2 px-4 radius bg-light"
            ><strong class="text-small">
              {{ eventDetails.id }}
            </strong></span
          >
        </div>
        <!-- Each Value -->
        <!-- Each Value -->
        <div class="d-flex flex-column mr-4 mb-1">
          <div class="d-flex align-items-center justify-content-start mb-1">
            <span
              class="pi pi-circle-fill text-light m-1"
              style="font-size: 0.82rem"
            ></span
            ><strong class="my-1 text-small" for="type">نوع خبر</strong>
          </div>
          <span class="card py-2 px-4 radius bg-light"
            ><strong class="text-small">
              {{ eventDetails.typeTitle }}
            </strong></span
          >
        </div>
        <!-- Each Value -->
        <!-- Each Value -->
        <div class="d-flex flex-column mr-4 mb-1">
          <div class="d-flex align-items-center justify-content-start mb-1">
            <span
              class="pi pi-circle-fill text-light m-1"
              style="font-size: 0.82rem"
            ></span
            ><strong class="my-1 text-small" for="type">حالت زمان</strong>
          </div>
          <span class="card py-2 px-4 radius bg-light"
            ><strong class="text-small">
              {{ eventDetails.timeModeTitle }}
            </strong></span
          >
        </div>
        <!-- Each Value -->

        <!-- Each Value -->
        <div class="d-flex flex-column mr-4 mb-1">
          <div class="d-flex align-items-center justify-content-start mb-1">
            <span
              class="pi pi-circle-fill text-light m-1"
              style="font-size: 0.82rem"
            ></span
            ><strong class="my-1 text-small" for="type">بخش مربوطه</strong>
          </div>
          <span class="card py-2 px-4 radius bg-light"
            ><strong class="text-small">
              {{ eventDetails.sectorTitle }}
            </strong></span
          >
        </div>
        <!-- Each Value -->

        <!-- Each Value -->
        <div class="d-flex flex-column mr-4 mb-1">
          <div class="d-flex align-items-center justify-content-start mb-1">
            <span
              class="pi pi-circle-fill text-light m-1"
              style="font-size: 0.82rem"
            ></span
            ><strong class="my-1 text-small" for="type">معیار محاسبه</strong>
          </div>
          <span class="card py-2 px-4 radius bg-light"
            ><strong class="text-small">
              {{ eventDetails.unitTitle }}
            </strong></span
          >
        </div>
        <!-- Each Value -->
        <!-- Each Value -->
        <div class="d-flex flex-column mr-4 mb-1">
          <div class="d-flex align-items-center justify-content-start mb-1">
            <span
              class="pi pi-circle-fill text-light m-1"
              style="font-size: 0.82rem"
            ></span
            ><strong class="my-1 text-small" for="type">منبع</strong>
          </div>
          <span class="card py-2 px-4 radius bg-light"
            ><a
              class="text-small"
              href="https://{{ eventDetails.source_Url }}"
              target="blank"
            >
              {{ eventDetails.source_Url }}
            </a></span
          >
        </div>
        <!-- Each Value -->
        <!-- Each Value -->
        <div class="d-flex flex-column mr-4 mb-1">
          <div class="d-flex align-items-center justify-content-start mb-1">
            <span
              class="pi pi-circle-fill text-light m-1"
              style="font-size: 0.82rem"
            ></span
            ><strong class="my-1 text-small" for="type">دوره تناوب</strong>
          </div>
          <span class="card py-2 px-4 radius bg-light"
            ><strong class="text-small">
              {{ eventDetails.frequencyTitle }}
            </strong></span
          >
        </div>
        <!-- Each Value -->

        <!-- Each Value -->
        <div class="d-flex flex-column mr-4 mb-1">
          <div class="d-flex align-items-center justify-content-start mb-1">
            <span
              class="pi pi-circle-fill text-light m-1"
              style="font-size: 0.82rem"
            ></span
            ><strong class="my-1 text-small" for="type">اهمیت خبر</strong>
          </div>
          <span
            class="card py-2 px-4 radius"
            [ngClass]="{
              'bg-danger text-white': eventDetails.importance == 2,
              'bg-light': eventDetails.importance == 1,
              'bg-warning': eventDetails.importance == 3,
              'bg-dark text-white': eventDetails.importance == 0
            }"
            ><strong class="text-small">
              {{ eventDetails.importanceTitle }}
            </strong></span
          >
        </div>
        <!-- Each Value -->

        <!-- Each Value -->
        <div class="d-flex flex-column mr-4 mb-1">
          <div class="d-flex align-items-center justify-content-start mb-1">
            <span
              class="pi pi-circle-fill text-light m-1"
              style="font-size: 0.82rem"
            ></span
            ><strong class="my-1 text-small" for="type">مضرب</strong>
          </div>
          <span class="card py-2 px-4 radius bg-light"
            ><strong class="text-small">
              {{ eventDetails.multiplierTitle }}
            </strong></span
          >
        </div>
        <!-- Each Value -->
      </div>

      <!-- CKEDITOR -->

      <div class="row my-3">
        <hr class="d-flex flex-grow-1" style="margin: 13px 10px 13px 8px" />
        <div class="col-auto">
          <strong class="text-small">پیش نمایش</strong>
        </div>
        <hr class="d-flex flex-grow-1" style="margin: 13px 8px 13px 10px" />
      </div>
      <ckeditor
        (paste)="onPasteEditor($event)"
        (change)="onChangeEditor($event)"
        name="myckeditor"
        [config]="ckeConfig"
        debounce="100"
        [(ngModel)]="eventDetails.description"
      >
      </ckeditor>

      <!-- CKEDITOR -->
    </div>

    <div class="d-flex flex-grow-1"></div>
    <div class="modal-footer border-0" *appCanAccess="'Calendar-Event-Edit'">
      <button
        (click)="putEvent()"
        type="button"
        class="btn-save btn d-inline-flex justify-content-around py-btns radius align-items-center ml-2 float-right"
      >
        <i class="i-Yes text-bigger mr-2"></i
        ><strong class="text-small">ذخیره</strong>
      </button>
      <button
        (click)="modal.close(false)"
        type="button"
        class="btn-filter btn d-inline-flex justify-content-around py-btns radius align-items-center ml-2 float-right"
      >
        <i class="i-Close text-bigger mr-2"></i
        ><strong class="text-small">انصراف</strong>
      </button>
    </div>
  </div>
</ng-template>
<ng-template let-modal #warningModal>
  <div class="shadow-lg bg-info">
    <div class="modal-body border-0 text-center">
      <p class="text-black text-small">
        شما تا {{ remainedTime.value }} دقیقه دیگر اجازه درخواست ندارید
      </p>
    </div>
  </div>
</ng-template>
