<div class="content">
  <div class="table-responsive custom-table-responsive">
    <table class="table custom-table col-10">
      <thead>
        <tr>
          <th>تاریخ</th>

          <th>ساعت</th>
          <th>توضیح خبر</th>
          <th>پیش‌بینی</th>
        </tr>
      </thead>
      <tbody>
        <tr scope="row">
          <td>Tue May 09</td>

          <td>02:31</td>
          <td>
            <a href="#"
              >بازرسی آمار خرده فروشی توسط اتحادیه خرده فروشان انگلیس</a
            >
          </td>
          <td>4.7%</td>
        </tr>
        <tr class="spacer">
          <td colspan="100"></td>
        </tr>
        <tr scope="row">
          <td>Tue May 09</td>

          <td>02:31</td>
          <td>
            <a href="#"
              >بازرسی آمار خرده فروشی توسط اتحادیه خرده فروشان انگلیس</a
            >
          </td>
          <td>4.7%</td>
        </tr>
        <tr class="spacer">
          <td colspan="100"></td>
        </tr>
        <tr scope="row">
          <td>Tue May 09</td>

          <td>02:31</td>
          <td>
            <a href="#"
              >بازرسی آمار خرده فروشی توسط اتحادیه خرده فروشان انگلیس</a
            >
          </td>
          <td>4.7%</td>
        </tr>
        <tr class="spacer">
          <td colspan="100"></td>
        </tr>
        <tr scope="row">
          <td>Tue May 09</td>

          <td>02:31</td>
          <td>
            <a href="#"
              >بازرسی آمار خرده فروشی توسط اتحادیه خرده فروشان انگلیس</a
            >
          </td>
          <td>4.7%</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
