@import "../../../../assets/styles/vendor/bootstrap/functions";
@import "../../../../assets/styles/vendor/bootstrap/variables";
@import "../../../../assets/styles/vendor/bootstrap/mixins";
p {
  color: darken(#ccc, 10%);
  font-weight: 300;
}
a {
  transition: 0.3s all ease;
  &,
  &:hover {
    text-decoration: none !important;
  }
}
.content {
  padding: 1rem 0;
}
h2 {
  font-size: 20px;
}

.custom-table-responsive {
  padding: 20px;
  border-radius: 10px;
}
.custom-table {
  max-width: 1200px;
  min-width: 900px;
  thead {
    tr,
    th {
      border-top: none;
      font-weight: 800;
      border-bottom: none !important;
      font-size: 0.81rem;
    }
  }
  tbody {
    th,
    td {
      color: #777;
      font-weight: 700;
      padding-top: 16px;
      padding-bottom: 16px;
      font-size: 0.79rem;
      small {
        color: darken(#ccc, 10%);
        font-weight: 300;
      }
      span {
        font-size: 0.75rem;
      }
    }
    tr {
      &:not(.spacer) {
        border-radius: 10px;
        overflow: hidden;
        transition: 0.3s all ease;
        &:hover {
          box-shadow: 0 2px 10px -5px rgba($black, 0.5);
        }
      }
      th,
      td {
        background: #efefef;
        border: none;

        &:first-child {
          width: 100px;

          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
        &:nth-child(2) {
          width: 90px;
        }
        &:nth-child(3) {
          width: 90px;
        }
        &:nth-child(n + 5) {
          width: 100px;
        }
        &:last-child {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }
      }
      &.spacer {
        td {
          padding: 0 !important;
          height: 10px;
          border-radius: 0 !important;
          background: transparent !important;
        }
      }
      &.active {
        opacity: 0.4;
      }
    }
  }
}

.blinking {
  -webkit-animation: 2s blink ease infinite;
  -moz-animation: 2s blink ease infinite;
  -ms-animation: 2s blink ease infinite;
  -o-animation: 2s blink ease infinite;
  animation: 2s blink ease infinite;
}
.blinking-fast {
  -webkit-animation: 0.7s blink ease infinite;
  -moz-animation: 0.7s blink ease infinite;
  -ms-animation: 0.7s blink ease infinite;
  -o-animation: 0.7s blink ease infinite;
  animation: 0.7s blink ease infinite;
}
.blinking-slow {
  -webkit-animation: 3s blink ease infinite;
  -moz-animation: 3s blink ease infinite;
  -ms-animation: 3s blink ease infinite;
  -o-animation: 3s blink ease infinite;
  animation: 3s blink ease infinite;
}
.blinking-med {
  -webkit-animation: 1.5s blink ease infinite;
  -moz-animation: 1.5s blink ease infinite;
  -ms-animation: 1.5s blink ease infinite;
  -o-animation: 1.5s blink ease infinite;
  animation: 1.5s blink ease infinite;
}

@keyframes blink {
  from,
  to {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  from,
  to {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  from,
  to {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
}

@-ms-keyframes blink {
  from,
  to {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
}

@-o-keyframes blink {
  from,
  to {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
}
// NoteBar Left

.notebar-left {
  position: fixed;
  top: 70px;
  height: calc(100vh - #{80px});
  background: #fff;
  box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
}
@media screen and (min-width: 577px) {
  .notebar-left {
    top: 80px;
  }
}
.notebar-left {
  left: calc(-#{400px} - #{20px});
  z-index: 1057;
  transition: all 0.24s ease-in-out;
  &.open {
    left: 0;
  }
  .aside-left {
    list-style: none;
    text-align: center;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 0;
    .aside-item {
      position: relative;
      display: block;
      width: 100%;
      color: #000;
      &:focus,
      &:active {
        outline: none;
      }
      &.lvl1 {
        padding: 0 12px;
        text-align: justify;
      }
      .aside-item-hold {
        width: 100%;
        padding: 0 0;
        &:focus,
        &:active {
          outline: none;
        }
        .aside-text {
          font-size: 13px;
          display: block;
          font-weight: 400;
        }
      }
    }
  }
}
.bg-lightdark {
  background-color: #3f4343f0;
}
.my-webKit::-webkit-scrollbar {
  display: none;
}
.my-webKit {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
