<div class="content">
  <div class="table-responsive custom-table-responsive">
    <table class="table custom-table">
      <thead>
        <tr>
          <th>
            <span class="d-flex align-items-center"
              ><span class="pi pi-calendar"></span>&nbsp;تاریخ</span
            >
          </th>
          <th>ارز</th>
          <th>
            <span class="d-flex pi pi-clock" style="padding-bottom: 3px"></span>
          </th>
          <th>توضیح خبر</th>
          <th>اهمیت</th>
          <th class="text-center">پیش‌بینی</th>
          <th class="text-center">واقعی</th>
          <th class="text-center">قبلی</th>
        </tr>
      </thead>
      <tbody>
        <tr scope="row">
          <td>Tue May 09</td>
          <td><span class="fi fi-us fib"></span>&nbsp; USD</td>
          <td>02:31</td>
          <td>بازرسی آمار خرده فروشی توسط اتحادیه خرده فروشان انگلیس</td>
          <td>
            <span class="d-inline-flex align-items-center">
              <span class="pi pi-circle-fill text-dark"></span
              >&nbsp;&nbsp;نامعلوم
            </span>
          </td>
          <td class="text-center">4.7%</td>
          <td class="text-center">4.7%</td>
          <td class="text-center">4.7%</td>
        </tr>
        <tr class="spacer">
          <td colspan="100"></td>
        </tr>
        <tr scope="row">
          <td>Tue May 09</td>
          <td><span class="fi fi-us fib"></span>&nbsp; آمریکا</td>
          <td>02:31</td>
          <td>بازرسی آمار خرده فروشی توسط اتحادیه خرده فروشان انگلیس</td>
          <td>
            <span class="d-inline-flex align-items-center">
              <span class="pi pi-circle-fill blinking-med text-warning"></span
              >&nbsp;&nbsp;متوسط
            </span>
          </td>
          <td class="text-center">4.7%</td>
          <td class="text-center">4.7%</td>
          <td class="text-center">4.7%</td>
        </tr>
        <tr class="spacer">
          <td colspan="100"></td>
        </tr>
        <tr scope="row">
          <td>Tue May 09</td>
          <td><span class="fi fi-us fib"></span>&nbsp; آمریکا</td>
          <td>02:31</td>
          <td>بازرسی آمار خرده فروشی توسط اتحادیه خرده فروشان انگلیس</td>
          <td>
            <span class="d-inline-flex align-items-center">
              <span class="pi pi-circle-fill blinking-slow text-light"></span
              >&nbsp;&nbsp;کم
            </span>
          </td>
          <td class="text-center">4.7%</td>
          <td class="text-center">4.7%</td>
          <td class="text-center">4.7%</td>
        </tr>
        <tr class="spacer">
          <td colspan="100"></td>
        </tr>
        <tr scope="row">
          <td>Tue May 09</td>
          <td><span class="fi fi-us fib"></span>&nbsp; آمریکا</td>
          <td>02:31</td>
          <td>بازرسی آمار خرده فروشی توسط اتحادیه خرده فروشان انگلیس</td>
          <td>
            <span class="d-inline-flex align-items-center">
              <span class="pi pi-circle-fill blinking-fast text-danger"></span
              >&nbsp;&nbsp;بالا
            </span>
          </td>
          <td class="text-center">4.7%</td>
          <td class="text-center">4.7%</td>
          <td class="text-center">4.7%</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
