<!-- <input
  type="file"
  placeholder="Voice"
  (input)="changeVoicePath($event.target.files[0])"
/>
<button class="btn btn-light" (click)="uploadVoice()">آپلود</button> -->
<ul ngbNav #nav="ngbNav" class="nav-tabs p-0">
  <li ngbNavItem *appCanAccess="'Calendar-Events-Watch'">
    <a ngbNavLink class="text-small">رویداد های تقویم</a>

    <ng-template ngbNavContent>
      <app-events></app-events>
    </ng-template>
  </li>
  <li ngbNavItem *appCanAccess="'Calendar-Countries-Watch'">
    <a ngbNavLink class="text-small">کشور ها</a>
    <ng-template ngbNavContent><app-countries></app-countries></ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>
