<button
  *appCanAccess="'Roles-Add'"
  type="button"
  class="btn btn-primary mb-4"
  (click)="roleEdit(addUpdateModal, undefined)"
>
  ایجاد
</button>
<div class="separator-breadcrumb border-top"></div>
<div class="row justify-content-lg-start justify-content-center">
  <div
    class="col-lg-3 col-md-6 col-sm-8 col-12"
    *ngFor="
      let item of rows
        | paginate
          : {
              itemsPerPage: page.size,
              page: page.pageNumber,
              currentPage: page.pageNumber,
              totalItems: page.totalElements
            }
    "
  >
    <div class="card bg-dark">
      <div class="card-header text-center m-0 p-0">
        <p class="text-white align-self-center mt-2">نقش</p>
      </div>
      <div class="card-body radius-card bg-secondary text-center">
        <div class="w-100 text-white mb-3">
          {{ item.name }}
        </div>

        <div
          class="d-flex justify-content-around align-content-center align-items-center mt-3"
        >
          <button
            *appCanAccess="'Roles-Edit'"
            class="col-5 btn btn-warning"
            (click)="roleEdit(addUpdateModal, item)"
          >
            ویرایش
          </button>
          <button
            *appCanAccess="'Roles-Delete '"
            class="col-5 btn btn-danger"
            (click)="deleteRole(item.id, deleteModal)"
          >
            حذف
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 mt-3" *ngIf="page.totalElements > page.size">
    <pagination-controls
      (pageChange)="setPage($event)"
      previousLabel=""
      nextLabel=""
      responsive="true"
    ></pagination-controls>
  </div>
</div>
<div *ngIf="rows?.length == 0" class="d-flex justify-content-center">
  <img
    src="../../../../../assets/images/97434-no-data-available.gif"
    class="img-fluid w-50"
    style="opacity: 0.4"
    alt=""
  />
</div>
<ng-template #addUpdateModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="addUpdate.id === 0" id="modal-basic-title">
      ایجاد
    </h4>
    <h4 class="modal-title" *ngIf="addUpdate.id !== 0" id="modal-basic-title">
      ویرایش
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close button"
      aria-describedby="modal-basic-title"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form action="" [formGroup]="addForm" (ngSubmit)="submit()">
      <label for="name">نقش</label>
      <input
        name="name"
        id="name"
        class="form-control"
        [(ngModel)]="addUpdate.name"
        [formControl]="addForm.controls['name']"
      />
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-warning btn-rounded mr-1"
      (click)="modal.close(true)"
      *ngIf="addUpdate.id !== 0"
    >
      ویرایش
    </button>
    <button
      type="button"
      class="btn btn-outline-primary btn-rounded mr-1"
      (click)="modal.close(true)"
      *ngIf="addUpdate.id === 0"
    >
      ایجاد
    </button>
    <button
      type="button"
      class="btn btn-outline-dark btn-rounded"
      (click)="modal.close(false)"
    >
      انصراف
    </button>
  </div>
</ng-template>
<!-------- Delete -->
<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">حذف محصول</h4>
    <button
      type="button"
      class="close"
      aria-label="Close button"
      aria-describedby="modal-basic-title"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>آیا از حذف مطمئنید؟</strong></p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary btn-rounded mr-1"
      (click)="modal.dismiss('cancel')"
    >
      خیر
    </button>
    <button
      type="button"
      ngbAutofocus
      class="btn btn-wide btn-danger btn-rounded"
      (click)="modal.close('Ok')"
    >
      بله
    </button>
  </div>
</ng-template>
