<div ngbDropdown placement="bottom-end" class="d-inline-block m-1 mb-3">
  <button
    type="button"
    class="btn btn-details radius py-btns text-small"
    id="dropdownBasic1"
    ngbDropdownToggle
  >
    یادداشت: {{ dropDownTitleHolder }}
  </button>
  <div
    ngbDropdownMenu
    class="mt-1 shadow-lg radius"
    aria-labelledby="dropdownBasic1"
  >
    <button
      class="text-left btn"
      ngbDropdownItem
      *ngFor="let item of tableTypes"
      (click)="getCommnetOfspecificTableTypes(item.id)"
    >
      <strong>{{ item.title }}</strong>
    </button>
  </div>
</div>

<button
  (click)="openFilterModal(filterModal)"
  class="btn-filter btn d-inline-flex justify-content-around py-btns radius align-items-center m-1"
>
  <i class="i-Filter-2 text-dark text-bigger mr-2"></i>
  <strong class="text-dark ml-2 text-small">فیلتر</strong>
</button>

<div class="my-css d-flex flex-wrap w-100" *ngIf="pageIsLoad">
  <div
    *ngFor="
      let item of rows
        | paginate
          : {
              itemsPerPage: page.size,
              page: page.pageNumber,
              currentPage: page.pageNumber,
              totalItems: page.totalElements
            }
    "
    class="col-lg-6 my-2"
  >
    <div class="timeline-card card mt-4 h-100">
      <div
        class="card-header bg-light-dark d-flex justify-content-between align-items-center"
      >
        <div class="mb-1">
          <strong class="mr-1 text-white">{{ item.name }}</strong>
          <span
            class="badge badge-warning mr-1 text-primary"
            *ngIf="item.isAccepted === false"
            >تایید نشده</span
          >
          <span
            class="badge badge-success mr-1 text-white"
            *ngIf="item.isAccepted === true"
            >تایید شده</span
          >
          <p class="text-white-50 m-0">
            {{ item.createDate | relativeTime }}
          </p>
        </div>
        <div class="text-warning">امتیاز:5\{{ item.rate }}</div>
      </div>
      <div class="card-body bg-gray">
        <p class="text-white">
          {{ item.text }}
        </p>
        <ng-container *ngIf="item.parentID !== null">
          <p class="bg-dark text-white ml-3">
            پاسخ:{{ item.parentComment.text }}
          </p>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div class="mt-5" *ngIf="rows?.length > 0">
  <pagination-controls
    (pageChange)="setPage($event, currentTableType)"
    previousLabel=""
    nextLabel=""
    responsive="true"
  ></pagination-controls>
</div>

<ng-template #filterModal let-modal>
  <div class="bg--gray px-3">
    <div class="modal-header row">
      <h4 class="modal-title text-white">فیلتر</h4>

      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="modal.dismiss()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="text-white d-flex flex-wrap input-form">
      <div class="d-flex flex-column col-12 col-lg-6 col-xl-4 my-3">
        <label>شناسه</label>
        <input type="text" [(ngModel)]="filterModel.iD" />
      </div>

      <div class="d-flex flex-column col-12 col-lg-6 col-xl-4 my-3">
        <label>شناسه کاربر</label>
        <input type="text" [(ngModel)]="filterModel.userID" />
      </div>

      <div class="d-flex flex-column col-12 col-lg-6 col-xl-4 my-3">
        <label for="">نام</label>
        <input type="text" [(ngModel)]="filterModel.name" />
      </div>

      <div class="d-flex flex-column col-12 col-lg-6 col-xl-4 my-3">
        <label for="">ایمیل</label>
        <input type="email" [(ngModel)]="filterModel.email" />
      </div>

      <div class="modal-footer col-12 mt-5">
        <button
          type="button"
          class="btn-light btn d-inline-flex justify-content-around py-btns radius align-items-center"
          (click)="[startFilter(), modal.dismiss()]"
        >
          <i class="i-Yes text-bigger mr-2"></i>
          <strong class="ml-2 text-small">تایید</strong>
        </button>

        <button
          type="button"
          class="btn-delete btn d-flex justify-content-around py-btns radius align-items-center ml-2"
          (click)="modal.dismiss()"
        >
          <i class="i-Close text-bigger mr-2"></i><strong>انصراف</strong>
        </button>
      </div>
    </div>
  </div>
</ng-template>
