<div ngbDropdown placement="bottom-end" class="d-inline-block m-1 mb-3">
  <button
    type="button"
    class="btn btn-details radius py-btns text-small"
    id="dropdownBasic1"
    ngbDropdownToggle
  >
    یادداشت: {{ dropDownTitleHolder }}
  </button>
  <div
    ngbDropdownMenu
    class="mt-1 shadow-lg radius"
    aria-labelledby="dropdownBasic1"
  >
    <button
      class="text-left btn"
      ngbDropdownItem
      *ngFor="let item of tableTypes"
      (click)="getCommnetOfspecificTableTypes(item.id)"
    >
      <strong>{{ item.title }}</strong>
    </button>
  </div>
</div>

<div class="my-css d-flex flex-wrap w-100">
  <div
    *ngFor="
      let item of rows
        | paginate
          : {
              itemsPerPage: page.size,
              page: page.pageNumber,
              currentPage: page.pageNumber,
              totalItems: page.totalElements
            }
    "
    class="col-lg-6 my-2"
  >
    <div class="timeline-card card mt-4 h-100">
      <div
        class="card-header bg-light-dark d-flex justify-content-between align-items-center"
      >
        <div class="mb-1">
          <strong class="mr-1 text-white">{{ item.name }}</strong>
          <span
            class="badge badge-warning mr-1 text-primary"
            *ngIf="item.isAccepted === false"
            >تایید نشده</span
          >
          <span
            class="badge badge-success mr-1 text-white"
            *ngIf="item.isAccepted === true"
            >تایید شده</span
          >
          <p class="text-white-50 m-0">
            {{ item.createDate | relativeTime }}
          </p>
        </div>
        <div class="text-warning">امتیاز:5\{{ item.rate }}</div>
      </div>
      <div class="card-body bg-gray">
        <p class="text-white">
          {{ item.text }}
        </p>
        <ng-container *ngIf="item.parentID !== null">
          <p class="bg-dark text-white ml-3">
            پاسخ:{{ item.parentComment.text }}
          </p>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 mt-5" *ngIf="rows?.length > 0">
  <pagination-controls
    (pageChange)="setPage($event, currentTableType)"
    previousLabel=""
    nextLabel=""
  ></pagination-controls>
</div>
