<div class="flex flex-row align-items-center flex-wrap">
  <div class="card bg-light p-2 d-inline-flex">
    <div class="card-header">
      <span style="font-size: 6rem; border-radius: 10%" class="fi fi-us"></span>
    </div>
  </div>
</div>

<div class="content">
  <div class="table-responsive custom-table-responsive">
    <table class="table custom-table">
      <thead>
        <tr>
          <th>ارز</th>
          <th>توضیح خبر</th>
          <th>اهمیت</th>
          <th class="text-center">بخش خبر</th>
          <th class="text-center">حالت زمانی</th>
          <th class="text-center">دوره زمانی</th>
        </tr>
      </thead>
      <tbody>
        <tr scope="row">
          <td>
            <span
              style="font-size: 3rem; border-radius: 10%"
              class="fi fi-us"
            ></span>
          </td>
          <td></td>
          <td></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
        </tr>
        <tr class="spacer">
          <td colspan="100"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
