<div class="d-flex justify-content-center">
  <input
    type="text"
    placeholder="نام کشور"
    class="form-control radius"
    [(ngModel)]="filter.name"
    (keydown.enter)="filterWithEnter($event.target.value)"
  />
  <span
    *ngIf="filterHolder.name"
    (click)="filter.name = null; setFilter()"
    class="d-inline-flex p-2 bg-light rounded-circle cursor-pointer"
    ><span class="pi pi-times" style="font-size: 0.7rem"></span
  ></span>
  <button
    type="button"
    ngbAutofocus
    class="btn-filter btn d-inline-flex justify-content-around py-btns radius align-items-center mx-2"
    (click)="setFilter()"
  >
    <i class="i-Magnifi-Glass1 text-bigger mr-2"></i>
    <strong class="text-small">جستجو </strong>
  </button>
</div>

<div class="d-flex flex-row flex-wrap justify-content-center mt-3">
  <div
    class="p-3 bg-white radius shadow-lg mx-3 my-2 col-10 col-sm-auto"
    *ngFor="let country of countries"
  >
    <div
      class="d-flex radius align-items-center justify-content-center flex-column"
    >
      <span
        class="shadow-lg fi"
        [ngClass]="'fi-' + country.codeFlag"
        style="font-size: 7.8rem; border-radius: 6px"
      ></span>
      <span class="text-small mt-3"
        ><strong>{{ country.name }}</strong></span
      >
    </div>

    <div class="d-flex flex-column mt-1 flex-wrap">
      <!-- Each Value -->
      <div class="d-flex flex-column mt-1">
        <div class="d-flex align-items-center justify-content-start mb-1">
          <span
            class="pi pi-circle-fill text-light m-1"
            style="font-size: 0.72rem"
          ></span
          ><label class="my-1 text-small" for="type">شناسه</label>
        </div>
        <span
          class="card d-inline-flex py-1 px-2 bg-light"
          style="border-radius: 3px"
          ><strong class="text-small"> {{ country.id }} </strong></span
        >
      </div>
      <!-- Each Value -->

      <!-- Each Value -->
      <div class="d-flex flex-column mt-1">
        <div class="d-flex align-items-center justify-content-start mb-1">
          <span
            class="pi pi-circle-fill text-light m-1"
            style="font-size: 0.72rem"
          ></span
          ><label class="my-1 text-small" for="type">کد کشور</label>
        </div>
        <span
          class="card d-inline-flex py-1 px-2 bg-light"
          style="border-radius: 3px"
          ><strong class="text-small"> {{ country.code }} </strong></span
        >
      </div>
      <!-- Each Value -->

      <!-- Each Value -->
      <div class="d-flex flex-column mt-1">
        <div class="d-flex align-items-center justify-content-start mb-1">
          <span
            class="pi pi-circle-fill text-light m-1"
            style="font-size: 0.72rem"
          ></span
          ><label class="my-1 text-small" for="type">ارز و نماد ارز</label>
        </div>
        <span
          class="card d-inline-flex py-1 px-2 bg-light"
          style="border-radius: 3px"
          ><strong class="text-small"
            >{{ country.currency }}&nbsp;-&nbsp;{{
              country.currencySymbol
            }}</strong
          ></span
        >
      </div>
      <!-- Each Value -->
    </div>
  </div>
</div>
