hr {
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}
.grid-gutter {
  grid-column-gap: 4%;
}
ul {
  padding-inline-start: 10px !important;
  margin-block-end: 0px !important;
}
input::placeholder {
  color: #0b1136;
}
// input:: .datePicker {
//   display: none;
// }
input:focus {
  border-color: #ced4da !important;
  border: 1px solid #ced4da !important;
  color: #0b1136 !important;
  box-shadow: none !important;
  background: #f4f2f2 !important;
}
.form-control {
  width: auto !important;
}
