<div class="d-flex justify-content-end
">
<a
type="button"
(click)="OpenModal(addLog)"
class="btn-add btn d-inline-flex justify-content-around py-btns radius align-items-center mb-4"
><i class="i-Add text-bigger mr-2"></i><strong>ایجاد</strong></a
>
</div>
<div class="rightToleft">


  <p-tree [value]="nodes" class="w-full md:w-30rem" >
    <ng-template let-node pTemplate="url">
      <div class="form-check" >
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" disabled>Option 3
        </label>
      </div>   </ng-template>
    <ng-template let-node pTemplate="default">
        <b>{{ node.label }}</b>
    </ng-template>
</p-tree>

</div>



<ng-template #addLog let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">حذف امکان</h4>
      <button
        type="button"
        class="close"
        aria-label="Close button"
        aria-describedby="modal-title"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p><strong>آیا از حذف مطمئنید؟</strong></p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn-save btn d-inline-flex justify-content-around py-btns radius align-items-center mr-1"
        (click)="modal.dismiss('cancel')"
      >
        <i class="i-Close text-bigger mr-2"></i>
        <strong>خیر</strong>
      </button>
      <button
        type="button"
        ngbAutofocus
        class="btn-delete btn d-inline-flex justify-content-around py-btns radius align-items-center"
        (click)="modal.close('Ok')"
      >
        <i class="i-Yes text-bigger mr-2"></i>
        <strong>بله</strong>
      </button>
    </div>
  </ng-template>