
<div class=" row 

">

<div ngbDropdown placement="bottom-end" class="d-inline-block m-1 mb-2">
  <button
    type="button"
    class="btn btn-details radius py-btns text-small"
    id="dropdownBasic1"
    ngbDropdownToggle
  >
    نوع مرتب سازی 
  </button>
  <div
    ngbDropdownMenu
    class="mt-1 shadow-lg radius"
    aria-labelledby="dropdownBasic1"
  >
    <button
      class="text-left btn"
      ngbDropdownItem
      (click)="addTableTypetoNode()"
      >
      <strong>جدول</strong>
    </button>
    <button
    class="text-left btn"
    ngbDropdownItem
    (click)="addRequestNode()"
  >
    <strong>نوع درخواست</strong>
  </button>
  </div>
</div>

<a
type="button"
(click)="OpenModal(addLog)"
class="btn-add btn d-inline-flex justify-content-around py-btns radius align-items-center m-1 mb-2"
><i class="i-Add text-bigger mr-2"></i><strong>ایجاد</strong></a
>

</div>
<div class="rightToleft f-bold">
  <p-tree *ngIf="nodes"  [value]="nodes"   class="w-full md:w-30rem" >
    <ng-template let-node pTemplate="url"   >
        <div class="form-check" >

          <label class="d-flex  align-items-center">
            <input class="checkbox-lg" type="checkbox" [checked] ="node.checked"
            (change)="onCheckboxChange($event,node.id)"  >
            <div class="collapsible-header m-1" (click)="editModal(edit,node.id)">
              <span  class="pi pi pi-pencil text-dark" style="font-size: 0.8rem;"></span></div>
            <div class="collapsible-header m-1" (click)="nodeRemove(node.id)">
              <span  class="pi pi-trash text-danger" style="font-size: 0.8rem;"></span></div>  
            {{ node.label }}
        </label>
      </div>
       </ng-template>
    <!-- <ng-template let-node pTemplate="default">
        <b>{{ node.label }}</b>
    </ng-template> -->
</p-tree>

</div>



<ng-template #addLog let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title"></h4>
      <button
        type="button"
        class="close"
        aria-label="Close button"
        aria-describedby="modal-title"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form
      class="g-0 p-0 m-0 d-flex row justify-content-md-around justify-content-center align-items-center"
      [formGroup]="addLogForm"
    >
      <div class="col-11">
        <div class="pb-4 form-group mb-3">
          <div>
            <strong for="" class="text--secondary mb-2">عنوان</strong>
            <input
              type="text"
              class="form-control radius-sm bg--input mb-1 text--secondary text--smaller p-2 pe-1"
              [(ngModel)]="addNewLogModel.title"
              [formControl]="addLogForm.controls['title']"
            />
          </div>
          <div>
            <strong for="" class="text--secondary mb-2">ادرس کنترلر</strong>
            <input
              type="text"
              class="form-control radius-sm bg--input mb-1 text--secondary text--smaller p-2 pe-1"
              [(ngModel)]="addNewLogModel.actionDescriptor"
              [formControl]="addLogForm.controls['actionDescriptor']"
            />
          </div>
          <div>
            <strong for="" class="text--secondary mb-2">تیبل تایپ</strong>
            <select  class="form-control radius-sm bg--input mb-1 text--secondary text--smaller p-2 pe-1" 
            [(ngModel)]="addNewLogModel.tableType"
            [formControl]="addLogForm.controls['tableType']"
            >
            <option *ngFor="let item of tableTypes "  value={{item.value}}>{{item.title}}</option>
         
            </select>
          </div>
          <div>
            <strong for="" class="text--secondary mb-2">نوع درخواست</strong>
            <select   [(ngModel)]="addNewLogModel.requestType"
            [formControl]="addLogForm.controls['requestType']"
                class="form-control radius-sm bg--input mb-1 text--secondary text--smaller p-2 pe-1" 
            >
            <option  value="0">ویرایش</option>
            <option  value="1" >افزودن</option>
            <option  value="2">حذف</option>
            </select>
          </div>
          <div>
            <strong for="" class="text--secondary mb-2">توضیحات</strong>
            <textarea
              type="text"
              class="form-control radius-sm bg--input mb-1 text--secondary text--smaller p-2 pe-1"
              [(ngModel)]="addNewLogModel.description"
              [formControl]="addLogForm.controls['description']"
            ></textarea>
          </div>
        </div>
     
      

        <div class="row ActiveCheckBox ml-2">
          <div >وضعیت</div>
          <div class="d-flex col-7">
            <input
              class="p-2"
              type="checkbox"
              id="switch"
              [(ngModel)]="addNewLogModel.isActive"
              [formControl]="addLogForm.controls['isActive']"
            />
            <label
              class="d-flex align-items-center justify-content-start padr"
              for="switch"
              ></label
            >
         
            
          </div>
        </div>
      </div>

      <!-- <div class="col-11">
      <label for="" class="text--secondary mb-2">درصد تخفیف</label>
      <input
      type="text"
        class="form-control radius-sm bg--input mb-1 text--secondary text--smaller p-2 pe-1"
        formControlName="lastName"
        [(ngModel)]="counselingModel.lastName"
        required
      />
      <div class="text--primary text--smaller text-danger"  *ngIf="counselingForm.controls['lastName'].invalid &&counselingForm.controls['lastName'].dirty  ">فیلد نام خانوادگی نمیتواند خالی باشد</div>
      </div> -->
      <!-- <div class="col-11">
      <label for="" class="text--secondary mb-2">میزان تخفیف</label>
      <input
      type="text"
        class="form-control radius-sm bg--input mb-1 text--secondary text--smaller p-2 pe-1"
        formControlName="phoneNumber"
        [(ngModel)]="counselingModel.phoneNumber"
        required
      />
       </div> -->
    </form>    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn-save btn d-inline-flex justify-content-around py-btns radius align-items-center mr-1"
        (click)="modal.dismiss('cancel')"
      >
        <i class="i-Close text-bigger mr-2"></i>
        <strong>خیر</strong>
      </button>
      <button
        type="button"
        ngbAutofocus
        class="btn-delete btn d-inline-flex justify-content-around py-btns radius align-items-center"
        (click)="modal.close('Ok')"
      >
        <i class="i-Yes text-bigger mr-2"></i>
        <strong>بله</strong>
      </button>
    </div>
  </ng-template>
  <ng-template #edit let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title"></h4>
      <button
        type="button"
        class="close"
        aria-label="Close button"
        aria-describedby="modal-title"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form
      class="g-0 p-0 m-0 d-flex row justify-content-md-around justify-content-center align-items-center"
      [formGroup]="addLogForm"
    >
      <div class="col-11">
        <div class="pb-4 form-group mb-3">
          <div>
            <strong for="" class="text--secondary mb-2">عنوان</strong>
            <input
              type="text"
              class="form-control radius-sm bg--input mb-1 text--secondary text--smaller p-2 pe-1"
              [(ngModel)]="addNewLogModel.title"
              [formControl]="addLogForm.controls['title']"
            />
          </div>
          <div>
            <strong for="" class="text--secondary mb-2">ادرس کنترلر</strong>
            <input
              type="text"
              class="form-control radius-sm bg--input mb-1 text--secondary text--smaller p-2 pe-1"
              [(ngModel)]="addNewLogModel.actionDescriptor"
              [formControl]="addLogForm.controls['actionDescriptor']"
            />
          </div>
          <div>
            <strong for="" class="text--secondary mb-2">تیبل تایپ</strong>
            <select  class="form-control radius-sm bg--input mb-1 text--secondary text--smaller p-2 pe-1" 
            [(ngModel)]="addNewLogModel.tableType"
            [formControl]="addLogForm.controls['tableType']"
            >
            <option *ngFor="let item of tableTypes "  value={{item.value}}>{{item.title}}</option>
         
            </select>
          </div>
          <div>
            <strong for="" class="text--secondary mb-2">نوع درخواست</strong>
            <select   [(ngModel)]="addNewLogModel.requestType"
            [formControl]="addLogForm.controls['requestType']"
                class="form-control radius-sm bg--input mb-1 text--secondary text--smaller p-2 pe-1" 
            >
            <option  value="0">ویرایش</option>
            <option  value="1" >افزودن</option>
            <option  value="2">حذف</option>
            </select>
          </div>
          <div>
            <strong for="" class="text--secondary mb-2">توضیحات</strong>
            <textarea
              type="text"
              class="form-control radius-sm bg--input mb-1 text--secondary text--smaller p-2 pe-1"
              [(ngModel)]="addNewLogModel.description"
              [formControl]="addLogForm.controls['description']"
            ></textarea>
          </div>
        </div>
     
      

        <div class="row ActiveCheckBox ml-2">
          <div >وضعیت</div>
          <div class="d-flex col-7">
            <input
              class="p-2"
              type="checkbox"
              id="switch"
              [(ngModel)]="addNewLogModel.isActive"
              [formControl]="addLogForm.controls['isActive']"
            />
            <label
              class="d-flex align-items-center justify-content-start padr"
              for="switch"
              ></label
            >
         
            
          </div>
        </div>
      </div>

      <!-- <div class="col-11">
      <label for="" class="text--secondary mb-2">درصد تخفیف</label>
      <input
      type="text"
        class="form-control radius-sm bg--input mb-1 text--secondary text--smaller p-2 pe-1"
        formControlName="lastName"
        [(ngModel)]="counselingModel.lastName"
        required
      />
      <div class="text--primary text--smaller text-danger"  *ngIf="counselingForm.controls['lastName'].invalid &&counselingForm.controls['lastName'].dirty  ">فیلد نام خانوادگی نمیتواند خالی باشد</div>
      </div> -->
      <!-- <div class="col-11">
      <label for="" class="text--secondary mb-2">میزان تخفیف</label>
      <input
      type="text"
        class="form-control radius-sm bg--input mb-1 text--secondary text--smaller p-2 pe-1"
        formControlName="phoneNumber"
        [(ngModel)]="counselingModel.phoneNumber"
        required
      />
       </div> -->
    </form>    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn-save btn d-inline-flex justify-content-around py-btns radius align-items-center mr-1"
        (click)="modal.dismiss('cancel')"
      >
        <i class="i-Close text-bigger mr-2"></i>
        <strong>خیر</strong>
      </button>
      <button
        type="button"
        ngbAutofocus
        class="btn-delete btn d-inline-flex justify-content-around py-btns radius align-items-center"
        (click)="modal.close('Ok')"
      >
        <i class="i-Yes text-bigger mr-2"></i>
        <strong>بله</strong>
      </button>
    </div>
  </ng-template>