<ul ngbNav #nav="ngbNav" class="nav-tabs p-0" >
    <li ngbNavItem   *appCanAccess="'Comment-Full Premission'"                  > 
      <a ngbNavLink>پورسانت ها</a>
  
      <ng-template ngbNavContent>
        <app-all-commission></app-all-commission>
      </ng-template>
    </li>
    <li ngbNavItem  *appCanAccess="'Users-Full Premission'">
      <a ngbNavLink>قرارداد ها</a>
        <ng-template ngbNavContent>
          <app-contract-list></app-contract-list>
        </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
  