<div class="modal-header">
  <h4 class="modal-title" id="modal-title">حذف آموزش</h4>
  <button
    type="button"
    class="close"
    aria-label="Close button"
    aria-describedby="modal-title"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p><strong>آیا از حذف مطمئنید؟</strong></p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary btn-rounded mr-1">
    خیر
  </button>
  <button
    type="button"
    ngbAutofocus
    class="btn btn-wide btn-danger btn-rounded"
  >
    بله
  </button>
</div>
