<div class="modal-header">
  <h4 class="modal-title" id="modal-title">شماره پلن:PlanID</h4>
  <button
    type="button"
    class="close"
    aria-label="Close-button"
    aria-describedby="modal-title"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="col-md-6 form-group mb-3">
    <label for="title" class="mr-2 pr-2">امکان</label>
    <input
      type="text"
      class="form-control form-control-rounded"
      id="title"
      placeholder="امکان مورد نظر را وارد کنید "
    />
  </div>
  <div class="col-md-6 form-group mb-3">
    <label for="title" class="mr-2 pr-2">امکان</label>
    <input
      type="text"
      class="form-control form-control-rounded"
      id="title"
      placeholder="امکان مورد نظر را وارد کنید "
    />
  </div>
  <div class="col-md-6 form-group mb-3">
    <label for="title" class="mr-2 pr-2">امکان</label>
    <input
      type="text"
      class="form-control form-control-rounded"
      id="title"
      placeholder="امکان مورد نظر را وارد کنید "
    />
  </div>

  <!-- <small class="mat-text-warn m-t-negative">عنوان نام ضروری است</small>
    <small class="mat-text-warn m-t-negative">عنوان بیشتر از حد مجاز است</small>

    <small class="mat-text-warn m-t-negative"> عنوان کوتاه است</small> -->
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary btn-rounded mr-2">
      انصراف
    </button>
    <button
      type="button"
      ngbAutofocus
      class="btn btn-wide btn-danger btn-rounded"
    >
      ذخیره
    </button>
  </div>
</div>
