<button
  class="btn-add btn d-inline-flex justify-content-around py-btns radius align-items-center mb-4"
  type="button"
  (click)="openModal(newcontract, undefined)"
>
  <i class="i-Add text-bigger mr-2"></i><strong>ایجاد</strong>
</button>
<div class="separator-breadcrumb border-top"></div>

<section class="main-table">
  <table class="table">
    <thead class="bg-dark text-white">
      <tr>
        <th class="rounded--right">عنوان</th>
        <th>نوع قرارداد</th>
        <th>تاریخ شروع</th>
        <th>تاریخ پایان</th>
        <th>درصد دریافتی</th>
        <th>نقش</th>
        <th class="rounded--left">حذف</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of allContract">
        <td>{{ item.title }}</td>
        <td>{{ sellingTypeTitle[item.sellingType] }}</td>
        <td>{{ item.fromDate }}</td>
        <td>{{ item.toDate }}</td>
        <td>{{ item.prcentReward }}</td>
        <td>{{ item.roleID }}</td>
        <td>
          <button
            class="btn-delete btn d-inline-flex justify-content-around py-btns radius align-items-center"
            (click)="removeContract(item.id)"
          >
            <i class="i-Close text-bigger mr-2"></i><strong>حذف</strong>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<!----------------Details Modal -->
<ng-template #newcontract let-modal>
  <div>
    <div class="modal-header">
      <h4 class="modal-title">جزئیات و تغییر وضعیت</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <form [formGroup]="contractList" (ngSubmit)="submit()">
        <div class="row">
          <div class="col-md-4 form-group mb-3">
            <strong for="totalPrice" class="mb-3">عنوان</strong>
            <input
              class="form-control mt-1"
              [formControl]="contractList.controls['title']"
              id="title"
              [(ngModel)]="contractModel.title"
            />
          </div>

          <div class="col-md-4 form-group mb-3">
            <strong for="totalPrice" class="mb-3">نوع قرار داد</strong>
            <select
              class="form-control mt-1"
              [formControl]="contractList.controls['sellingType']"
              [(ngModel)]="contractModel.sellingType"
              id="sellingType"
            >
              <option value="0">IB</option>
              <option value="1">سرمایه گذاری</option>
              <option value="2">مدیر فروش</option>
              <option value="3">بازاریاب</option>
            </select>
          </div>

          <div class="col-md-4 form-group mb-3">
            <strong for="totalPrice" class="mb-3">درصد دریافتی</strong>
            <input
              type="number"
              placeholder=""
              class="form-control mt-1"
              [formControl]="contractList.controls['prcentReward']"
              id="prcentReward"
              [(ngModel)]="contractModel.prcentReward"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 form-group mb-3">
            <strong for="totalPrice" class="mb-3">تاریخ شروع</strong>
            <div class="row">
              <ng-persian-datepicker class="position-absolute col-12">
                <div>
                  <input
                    (ngModelChange)="changeFromDate($event)"
                    [formControl]="contractList.controls['fromDate']"
                    (ngModelChange)="changeToDate($event)"
                    class="form-control mt-1 rounded Checkout_input p-2"
                    type="text"
                  />
                </div>
              </ng-persian-datepicker>
            </div>
          </div>
          <div class="col-md-4 form-group mb-3">
            <strong for="totalPrice" class="mb-3">تاریخ پایان</strong>
            <div class="row">
              <ng-persian-datepicker class="position-absolute col-12">
                <input
                  (ngModelChange)="changeToDate($event)"
                  [formControl]="contractList.controls['toDate']"
                  class="form-control mt-1 rounded Checkout_input p-2"
                  type="text"
                />
              </ng-persian-datepicker>
            </div>
          </div>

          <div class="col-md-4 form-group mb-3">
            <strong for="totalPrice" class="mb-3">شروط قرار داد</strong>
            <div class="row">
              <ng-multiselect-dropdown
                [formControl]="contractList.controls['condition']"
                [placeholder]="'       لیست شروط قرارداد  '"
                [settings]="dropdownSettings"
                [data]="dropdownList"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                (onDeSelect)="onDeSelect($event)"
                (onDeSelectAll)="onDeSelectAll($event)"
                class="col-12 mt-1"
              >
                <!-- [(ngModel)]="selectedItems" -->
              </ng-multiselect-dropdown>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- <div class="col-md-4 form-group mb-3">
            <strong for="discountPrice" class="mb-3">نقش کاربر</strong>
            <select
              class="form-control mt-1"
              [formControl]="contractList.controls['roleID']"
              [(ngModel)]="contractModel.roleID"
              id="roleID"
              (change)="userRole($event.target.value)"
            >
              <option *ngFor="let item of roles" ngValue="{{ item.id }}">
                {{ item.name }}
              </option>
            </select>
          </div> -->
          <div class="col-md-4 form-group mb-3">
            <strong for="totalPrice" class="mb-3">کاربر</strong>
            <input
              type="number"
              placeholder=""
              class="form-control mt-1"
              [formControl]="contractList.controls['userID']"
              id="userID"
              [(ngModel)]="contractModel.userID"
            />
            <!-- <select
              class="form-control mt-1"
              [formControl]="contractList.controls['userID']"
              [(ngModel)]="contractModel.userID"
            >
              <option *ngFor="let item of userInfo" value="{{ item.userID }}">
                {{ item.firstname }} {{ item.lastName }}
              </option>
            </select> -->
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn-save btn d-inline-flex justify-content-around py-btns radius align-items-center mr-1"
        (click)="contractWith()"
      >
        <i class="i-Yes text-bigger mr-2"></i><strong>ثبت</strong>
      </button>
    </div>
  </div>
</ng-template>
