<ng-container *appCanAccess="'Discount-Add'">
  <button
    class="btn-add btn d-inline-flex justify-content-around py-btns radius align-items-center mb-4"
    (click)="OpenModal(AddDiscount)"
  >
    <i class="i-Add text-bigger mr-2"></i><strong>ایجاد</strong>
  </button>
</ng-container>

<button
  class="btn-filter btn d-inline-flex mx-3 justify-content-around py-btns radius align-items-center mb-4"
  (click)="toggleFilter()"
>
  <i class="pi pi-filter text-bigger mr-2"></i><strong>فیلتر</strong>
</button>

<div class="separator-breadcrumb border-top"></div>

<section class="main-table">
  <table class="table">
    <thead class="bg-dark text-white">
      <tr>
        <th class="rounded--right">ID</th>
        <th>ایجاد کننده</th>
        <th>درصد یا میزان تخفیف</th>
        <th>تاریخ ایجاد</th>
        <th>تاریخ انقضا</th>
        <th>استفاده</th>
        <th>کد</th>
        <th *appCanAccess="'Discount-Delete'" class="rounded--left">عملیات</th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="
          let item of rows
            | paginate
              : {
                  itemsPerPage: page.size,
                  currentPage: page.currentPage,
                  totalItems: page.totalElements
                }
        "
      >
        <td>{{ item.id }}</td>
        <td>{{ item.createBy }}</td>
        <td *ngIf="item.percent != 0">%{{ item.percent }}</td>
        <td *ngIf="item.percent == 0">${{ item.amount }}</td>
        <td>{{ item.createDate | date : "YYYY-MM-dd" }}</td>
        <td>{{ item.expireDate | date : "YYYY-MM-dd" }}</td>

        <td *ngIf="item.isUsed">
          <span class="text-small text-white badge bg_gray">استفاده شده</span>
        </td>
        <td *ngIf="!item.isUsed">
          <span class="text-small text-white badge bg-success"
            >استفاده نشده</span
          >
        </td>

        <td>
          <div class="card bg-warning bg-gradient text-white text-center p-3">
            {{ item.code }}
          </div>
        </td>
        <td *appCanAccess="'Discount-Delete'" class="td-oprate">
          <button
            class="btn-delete btn d-inline-flex justify-content-around py-btns radius align-items-center"
            (click)="deleteDiscount(item.id)"
          >
            <i class="i-Close text-bigger mr-2"></i><strong>حذف</strong>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<div class="col-md-12 mt-3" *ngIf="page.totalElements > page.size">
  <pagination-controls
    (pageChange)="setPage($event)"
    previousLabel=""
    nextLabel=""
    responsive="true"
  ></pagination-controls>
</div>

<div *ngIf="rows?.length == 0" class="d-flex justify-content-center">
  <img
    src="../../../../../assets/images/97434-no-data-available.gif"
    class="img-fluid w-50"
    style="opacity: 0.4"
    alt=""
  />
</div>

<ng-template #AddDiscount let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">ایجاد تخفیف</h4>
    <button
      type="button"
      class="close"
      aria-label="Close button"
      aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form
      class="g-0 p-0 m-0 d-flex row justify-content-md-around justify-content-center align-items-center"
      [formGroup]="AddList"
    >
      <div class="col-11">
        <div class="pb-4 form-group mb-3">
          <div>
            <strong for="" class="text--secondary mb-2">تعداد تخفیف</strong>
            <input
              type="text"
              class="form-control radius-sm bg--input mb-1 text--secondary text--smaller p-2 pe-1"
              [(ngModel)]="ShowModel.count"
              [formControl]="AddList.controls['count']"
              required
            />
          </div>
          <strong for="totalPrice" class="mb-3">تاریخ انقضاء</strong>
          <div class="row">
            <ng-persian-datepicker
              class="position-absolute w-100 Left-0 UpperIndex"
            >
              <input
                [(ngModel)]="ShowModel.expireDate"
                [formControl]="AddList.controls['expireDate']"
                class="form-control mt-1 rounded Checkout_input p-2"
                type="text"
              />
            </ng-persian-datepicker>
          </div>
        </div>
        <hr class="hr mb-3" />
        <div *ngIf="!checkbox">
          <strong for="" class="text--secondary mb-2">درصد تخفیف</strong>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">%</span>
            </div>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="ShowModel.percent"
              [formControl]="AddList.controls['percent']"
              required
              value=""
            />
          </div>
        </div>
        <div *ngIf="checkbox">
          <strong for="" class="text--secondary mb-2">میزان تخفیف</strong>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">$</span>
            </div>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="ShowModel.amount"
              [formControl]="AddList.controls['amount']"
              required
            />
          </div>
        </div>

        <div class="row container justify-content-end">
          <div class="d-flex col-7">
            <input
              class="p-2"
              type="checkbox"
              id="switch"
              (change)="changeCheckBox()"
            />
            <label
              class="d-flex align-items-center justify-content-start padr"
              for="switch"
              *ngIf="!checkbox"
              >{{ ShowModel.percent }}%</label
            >
            <label
              class="d-flex align-items-center justify-content-end padl"
              for="switch"
              *ngIf="checkbox"
              >{{ ShowModel.amount }}</label
            >
          </div>
        </div>
      </div>

      <!-- <div class="col-11">
      <label for="" class="text--secondary mb-2">درصد تخفیف</label>
      <input
      type="text"
        class="form-control radius-sm bg--input mb-1 text--secondary text--smaller p-2 pe-1"
        formControlName="lastName"
        [(ngModel)]="counselingModel.lastName"
        required
      />
      <div class="text--primary text--smaller text-danger"  *ngIf="counselingForm.controls['lastName'].invalid &&counselingForm.controls['lastName'].dirty  ">فیلد نام خانوادگی نمیتواند خالی باشد</div>
      </div> -->
      <!-- <div class="col-11">
      <label for="" class="text--secondary mb-2">میزان تخفیف</label>
      <input
      type="text"
        class="form-control radius-sm bg--input mb-1 text--secondary text--smaller p-2 pe-1"
        formControlName="phoneNumber"
        [(ngModel)]="counselingModel.phoneNumber"
        required
      />
       </div> -->
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn-delete btn d-inline-flex justify-content-around py-btns radius align-items-center mr-1"
      (click)="modal.dismiss('cancel')"
    >
      <i class="i-Close text-bigger mr-2"></i><strong>خیر</strong>
    </button>
    <button
      type="button"
      ngbAutofocus
      class="btn-save btn d-inline-flex justify-content-around py-btns radius align-items-center mr-1"
      (click)="createDiscount()"
    >
      <i class="i-Yes text-bigger mr-2"></i><strong>بله</strong>
    </button>
  </div>
</ng-template>

<p-sidebar
  (onClose)="toggleFilter()"
  [(visible)]="filterVisible"
  [position]="isMobile ? 'right' : 'top'"
>
  <div class="row align-items-stretch" style="gap: 0.5rem">
    <!-- Code -->
    <div class="col-auto my-3">
      <span class="p-float-label">
        <input
          (input)="search($event.target.value, 'code')"
          class="p-inputtext-sm"
          pInputText
          id="code"
        />
        <label class="text-small" htmlFor="code">کد</label>
      </span>
    </div>
    <!-- Code -->

    <!-- Amount -->
    <div class="col-auto my-3">
      <div class="slider-container h-75">
        <div class="input-numbers">
          <input
            class="single-input"
            type="number"
            min="0"
            max="9999"
            [(ngModel)]="amountValues[0]"
            (change)="changeAmount($event.target.value, 'fromAmount')"
          />
          <span>&UnderBar;</span>
          <input
            min="0"
            max="9999"
            class="single-input"
            type="number"
            [(ngModel)]="amountValues[1]"
            (change)="changeAmount($event.target.value, 'toAmount')"
          />
        </div>
        <p-slider
          max="9999"
          (onSlideEnd)="slideAmount()"
          [(ngModel)]="amountValues"
          [range]="true"
        ></p-slider>
      </div>
      <span class="d-block text-white text-center">مقدار</span>
    </div>
    <!-- Amount -->

    <!-- Percent -->
    <div class="col-auto my-3">
      <div class="slider-container h-75">
        <div class="input-numbers">
          <input
            class="single-input"
            type="number"
            min="0"
            max="100"
            [(ngModel)]="percentValues[0]"
            (change)="changePercent($event.target.value, 'fromPercent')"
          />
          <span>&UnderBar;</span>
          <input
            min="0"
            max="100"
            class="single-input"
            type="number"
            [(ngModel)]="percentValues[1]"
            (change)="changePercent($event.target.value, 'toPercent')"
          />
        </div>
        <p-slider
          (onSlideEnd)="slidePercent()"
          [(ngModel)]="percentValues"
          [range]="true"
        ></p-slider>
      </div>
      <span class="d-block text-white text-center">درصد</span>
    </div>
    <!-- Percent -->

    <!-- Order-Date -->
    <div class="col-auto my-3">
      <span class="p-float-label block">
        <p-calendar
          dateFormat="yy-mm-dd"
          (onSelect)="changeCreateDate()"
          [(ngModel)]="createDate"
          inputId="createDate"
          selectionMode="range"
        >
          <ng-template pTemplate="header">
            <div class="row p-0 m-0 justify-content-around">
              <button class="col-auto p-button p-button-sm" (click)="getWeek()">
                هفت روز
              </button>
              <button
                class="col-auto p-button p-button-sm"
                (click)="getThisMonth()"
              >
                این ماه
              </button>
              <button
                class="col-auto p-button p-button-sm"
                (click)="getPreviousMonth()"
              >
                ماه گذشته
              </button>
            </div>
          </ng-template>
        </p-calendar>
        <label class="text-small" for="createDate"> تاریخ ایجاد</label>
      </span>
    </div>
    <!-- Order-Date -->
  </div>
</p-sidebar>
