<!-- <button

class="btn btn-primary m-1"
>
ایجاد
</button> -->
<button 
class="btn btn-primary m-1"
[ngClass]="{ 'd-none': viewMode === 'grid' }"
(click)="OpenModal( AddDiscount)"
  >
ایجاد
</button>

<div class="separator-breadcrumb border-top"></div>

<!-- DATA LIST -->
<div class="row list-horizontal">
  <div
    class="list-item"
    [ngClass]="{
      'col-md-12': viewMode === 'list',
      'col-md-3': viewMode === 'grid'
    }"
  >
    <div
      class="card bg-dark o-hidden mb-4 d-flex"
      [ngClass]="{
        'flex-row': viewMode === 'list',
        'flex-column': viewMode === 'grid'
      }"
    >
      <div
        class="flex-grow-1"
        [ngClass]="{
          'pl-2 d-flex': viewMode === 'list',
          'd-block': viewMode === 'grid'
        }"
      >
        <div class="align-self-center text-white">ID</div>
        <div
          id="myHeader"
          class="card-body align-self-center d-flex align-items-lg-center row text-center"
          [ngClass]="{ 'flex-lg-row': viewMode === 'list' }"
        >
 <!-- OTHER DATA  -->

          <div class="m-0 text-white col text-lg-center">ایجاد کننده</div>
          <div class="m-0 text-white col text-lg-center">درصد یا میزان تخفیف</div>
          <div class="m-0 text-white col text-lg-center">تاریخ ایجاد</div>
          <div class="m-0 text-white col text-lg-center">تاریخ انقضا</div>
          <div class="m-0 text-white col text-lg-center">کد</div>

          <div
            class="m-0 col d-md-block text-light d-lg-block d-xl-block d-sm-none d-none text-lg-center"
          >
            عملیات
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- SINGLE LIST ITEM  -->
  <div
    *ngFor="
      let item of rows
        | paginate
          : {
              itemsPerPage: page.size,
              page: page.pageNumber,
              currentPage: page.pageNumber,
              totalItems: page.totalElements
            }
    "
    class="list-item"
    [ngClass]="{
      'col-md-12': viewMode === 'list',
      'col-md-3': viewMode === 'grid'
    }"
  >
    <div
      class="card o-hidden mb-2 d-flex"
      [ngClass]="{
        'flex-row-2': viewMode === 'list',
        'flex-column': viewMode === 'grid'
      }"
    >
      <div
        class="flex-grow-1"
        [ngClass]="{
          'pl-2 d-flex': viewMode === 'list',
          'd-block': viewMode === 'grid'
        }"
      >
        <div class="align-self-center">
          {{ item.id }}
        </div>
        <div
          class="card-body align-self-center text-center d-flex align-items-lg-center row"
          [ngClass]="{ 'flex-lg-row': viewMode === 'list' }"
        >
      <!-- OTHER DATA  -->

      <p class="m-0 col">
        {{ item.createBy }}
      </p>
          <p class="m-0 col" *ngIf="item.percent!=0">
            %{{ item.percent }}
          </p>
          <p class="m-0 col"*ngIf="item.percent==0">
            ${{ item.amount }}
          </p>
          <p class="m-0 col">
            {{ item.createDate  }}
          </p>
          <p class="m-0 col">
            {{ item.expireDate  }}
          </p>
         
          
          <div class="card  bg-warning bg-gradient
          text-white text-center p-3 col">
              <p class="m-0 ">
                {{ item.code  }}
              </p>
          </div>
        
          <div
            class="col d-sm-none d-none d-md-inline-block d-lg-inline-block d-xl-inline-block"
          >
            <div class="text-center col-auto d-flex justify-content-around">
             
              <div class="w-50 w-sm-100 ml-sm-2">
                <button 
                  class="btn btn-danger"
                  [ngClass]="{ 'd-none': viewMode === 'grid' }"
                  (click)="deleteDiscount(item.id)"
                >
                  حذف
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="text-center row m-5 d-sm-block d-block d-md-none d-lg-none d-xl-none"
      >
        <h6 class="text-center">عملیات</h6>
        <button
          type="button"
          [ngClass]="{ 'd-none': viewMode === 'grid' }"
          (click)="deleteProduct(item.id, deleteConfirmModal)"
          class="btn btn-outline-danger col m-1"
        >
          حذف
        </button>
        <button
          type="button"
          [routerLink]="'/prd/addUpdate/' + item.id"
          [ngClass]="{ 'd-none': viewMode === 'grid' }"
          class="btn btn-outline-info col m-1"
        >
          جزئیات
        </button>
      </div>
    </div>
  </div>

  <!-- PAGINATION CONTROL -->
  <div class="col-md-12 mt-3" *ngIf="rows?.length > 0">
    <pagination-controls
      (pageChange)="setPage($event)"
      previousLabel=""
      nextLabel=""
    ></pagination-controls>
  </div>
</div>
<div *ngIf="rows?.length == 0" class="d-flex justify-content-center">
  <img
    src="../../../../../assets/images/97434-no-data-available.gif"
    class="img-fluid w-50"
    alt=""
  />
</div> 

<ng-template #AddDiscount let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">ایجاد تخفیف</h4>
    <button
      type="button"
      class="close"
      aria-label="Close button"
      aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body ">
    <form
    class="g-0 p-0 m-0 d-flex row justify-content-md-around justify-content-center align-items-center"
    [formGroup]="AddList"
  >
      <div class="col-11 ">
        <div class=" pb-4 form-group mb-3">
          <div>
            <strong for="" class="text--secondary mb-2">تعداد تخفیف</strong>
            <input
            type="text"
              class="form-control radius-sm bg--input mb-1 text--secondary text--smaller p-2 pe-1"
              [(ngModel)]="ShowModel.count" 
              [formControl]="AddList.controls['count']" 
              required
            />
        </div>
          <strong for="totalPrice" class="mb-3">تاریخ انقضاء</strong>
          <div class="row">
            <ng-persian-datepicker   class="position-absolute w-100 Left-0 UpperIndex">
              <input    
                 [(ngModel)]="ShowModel.expireDate" 
                 [formControl]="AddList.controls['expireDate']" 
                 class="form-control mt-1 rounded Checkout_input p-2 " type="text" >
            </ng-persian-datepicker>
          </div>
        </div>
        <hr class="hr mb-3" />
        <div *ngIf="!checkbox">
            <strong for="" class="text--secondary mb-2">درصد تخفیف</strong>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">%</span>
              </div>
              <input
              type="text"
                class="form-control  " 
                [(ngModel)]="ShowModel.percent" 
                [formControl]="AddList.controls['percent']" 
                required
                value=""
              />            </div>
          
        </div>
        <div *ngIf="checkbox">
          <strong for="" class="text--secondary mb-2">میزان تخفیف</strong>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">$</span>
            </div>
            <input
            type="text"
              class="form-control "
              [(ngModel)]="ShowModel.amount" 
              [formControl]="AddList.controls['amount']" 
              required
            />          </div>
       
      </div>

      <div class="row container ">
        <strong for="" class="text--secondary mb-2">تخفیف بر اساس  مبلغ</strong>
        <div class="d-flex col-7">
        <input class="p-2" type="checkbox" id="switch" (change)="changeCheckBox()"/>
        <label class="d-flex align-items-center justify-content-start  padr " for="switch"*ngIf="!checkbox">{{ShowModel.percent}}%</label>
        <label class="d-flex align-items-center justify-content-end padl   "  for="switch"*ngIf="checkbox">{{ShowModel.amount}}</label>

      </div>
      </div>
    </div>

    <!-- <div class="col-11">
      <label for="" class="text--secondary mb-2">درصد تخفیف</label>
      <input
      type="text"
        class="form-control radius-sm bg--input mb-1 text--secondary text--smaller p-2 pe-1"
        formControlName="lastName"
        [(ngModel)]="counselingModel.lastName"
        required
      />
      <div class="text--primary text--smaller text-danger"  *ngIf="counselingForm.controls['lastName'].invalid &&counselingForm.controls['lastName'].dirty  ">فیلد نام خانوادگی نمیتواند خالی باشد</div>
      </div> -->
      <!-- <div class="col-11">
      <label for="" class="text--secondary mb-2">میزان تخفیف</label>
      <input
      type="text"
        class="form-control radius-sm bg--input mb-1 text--secondary text--smaller p-2 pe-1"
        formControlName="phoneNumber"
        [(ngModel)]="counselingModel.phoneNumber"
        required
      />
       </div> -->
  





  </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary btn-rounded mr-1"
      (click)="modal.dismiss('cancel')"
    >
      خیر
    </button>
    <button
      type="button"
      ngbAutofocus
      class="btn btn-wide btn-success btn-rounded"
      (click)="createDiscount()"
    >
      بله
    </button>
  </div>
</ng-template>
