.border-raduis-5 {
  border-radius: 5px;
  border: 3px;
  border-style: dashed;
  border-color: aquamarine;
}
.Icon_size {
  font-size: 3.5rem !important;
}
.radius {
  border-radius: 6px;
}
.text-bigger {
  font-size: 15px;
}

.btn-details {
  color: #e9e1e1 !important;
  background-color: #797576f4;
  transition: all 0.15s ease-in-out;
}
.btn-details:hover {
  background-color: #605d5e;
  transition: all 0.15s ease-in-out;
}
.btn-download {
  color: #e9e1e1 !important;
  background-color: #e5dbdef4;
  transition: all 0.15s ease-in-out;
}
.btn-download:hover {
  background-color: #797576f4;
  transition: all 0.15s ease-in-out;
}
.btn-download i {
  margin: 0;
  transition: all 0.15s ease-in-out;
}
.btn-download:hover i {
  margin-top: 1.75px !important;
  transition: all 0.15s ease-in-out;
}

.btn-upload {
  color: #e9e1e1 !important;
  background-color: #e5dbdef4;
  transition: all 0.15s ease-in-out;
}
.btn-upload:hover {
  background-color: #797576f4;
  transition: all 0.15s ease-in-out;
}
.btn-upload i {
  margin: 0;
  transition: all 0.15s ease-in-out;
}
.btn-upload:hover i {
  margin-bottom: 1.75px !important;
  transition: all 0.15s ease-in-out;
}

.btn-delete {
  color: #e9e1e1 !important;
  background-color: #a70000b7;
  transition: all 0.15s ease-in-out;
}
.btn-delete:hover {
  background-color: #5c0000b7;
  transition: all 0.15s ease-in-out;
}

.py-btns {
  padding: 0.45rem 1.3rem;
}
