<div>
  <app-breadcrump [breadcrumb]="breadCrumbList"></app-breadcrump>
  <div class="row">
    <div class="col-sm-12 h3 mb-4">
      کاربر گرامی به پرتال ایرانی اکسپرت خوش آمدید.
    </div>

    <!-- 
      -
      -
      Buttons
      -
      -  
     -->

    <span class="col-auto radius">
      <a
        href=""
        class="btn-upload btn d-flex justify-content-around py-btns radius align-items-center"
        ><i class="i-Upload text-dark text-bigger mr-2"></i>
        <strong class="text-dark ml-2 text-small">آپلود</strong></a
      >
    </span>
    <span class="col-auto radius">
      <a
        href=""
        class="btn-download btn d-flex justify-content-around py-btns radius align-items-center"
        ><i class="i-Download text-dark text-bigger mr-2"></i>
        <strong class="text-dark ml-2 text-small"> دانلود</strong></a
      >
    </span>
    <span class="col-auto radius">
      <a
        class="btn-light btn d-flex justify-content-around py-btns radius align-items-center"
        ><i class="i-Pen-5 text-bigger mr-2"></i>
        <strong class="ml-2 text-small"> یادداشت ها</strong></a
      >
    </span>
    <span class="col-auto radius">
      <a
        class="btn-light btn d-flex justify-content-around py-btns radius align-items-center"
      >
        <i class="i-File-Zip text-bigger mr-2"></i>
        <strong class="ml-2 text-small"> لایسنس</strong>
      </a>
    </span>
    <span class="col-auto radius">
      <a
        class="btn btn-details text-decoration-none d-flex justify-content-around py-btns radius align-items-center"
      >
        <strong class="text-small">جزئیات</strong>
      </a>
    </span>

    <span class="col-auto radius">
      <a
        class="btn-delete btn d-flex justify-content-around py-btns radius align-items-center"
      >
        <i class="i-Close text-bigger mr-2"></i>
        <strong> حذف</strong>
      </a>
    </span>

    <div class="col-lg-9 mt-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 text-center">
              <div class="ul-widget__content-v4 card-icon-bg">
                <span
                  class="glyphicon glyphicon-shopping-cart Icon_size"
                ></span>
                <h3 class="t-font-boldest">{{ userprofile.orderCount }}</h3>
                <span>کل سفارشات</span>
              </div>
            </div>
            <div class="col-md-3 col-lg-3 text-center">
              <div class="ul-widget__content-v4 card-icon-bg">
                <span class="glyphicon glyphicon-download-alt Icon_size"></span>
                <h3 class="t-font-boldest">{{ userprofile.licenseCount }}</h3>
                <span>دانلود ها</span>
              </div>
            </div>

            <div class="col-md-3 col-lg-3 text-center">
              <div class="ul-widget__content-v4 card-icon-bg">
                <span class="glyphicon glyphicon-comment Icon_size"></span>
                <h3 class="t-font-boldest">{{ userprofile.commentCount }}</h3>
                <span>نظر</span>
              </div>
            </div>

            <div class="col-md-3 col-lg-3 text-center">
              <div class="ul-widget__content-v4 card-icon-bg">
                <span class="glyphicon glyphicon-piggy-bank Icon_size"></span>
                <h3 class="t-font-boldest">${{ userprofile.commission }}</h3>
                <span>پاداش شما</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mt-3">
      <div class="card">
        <div class="card-body">
          <div class="row text-center">
            <div class="ul-widget__content-v4 card-icon-bg px-3">
              <i class="i-Money text-success"></i>
              <h6>
                کاربر گرامی با اراِئه کد معرف خود به دیگران،از هر سفارش 5%
                پورسانت بگیرید.پس از رسیدن به فروش 1000 دلاری پورسانت 5% شما
                قابل برداشت است
              </h6>
              <div class="border-raduis-5 text-center py-3">
                <h4 class="text-success text-center">
                  کد شما : {{ userprofile.referralCode }}
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row col-lg-12"></div>
</div>
