.back-icon {
  font-size: 40px;
  font-size: 1.4vw;
  font-size: calc(70% + 0.2vw);
}
.gap-custom {
  gap: 0.2rem;
}
.section-title {
  padding: 5px 10px 4px 10px;
  background: #afbbba;
  border-radius: 0.4rem;
}
.shop-icon {
  font-size: 1.3695rem;
}
.shop-cart {
  left: 0px;
  top: 5px;
}
.shop-cart-icon {
  transition: all 0.3s ease;
  border: 1px solid #efefef;
  background-color: #9fd4d6de;
  &:focus {
    outline: 0 !important;
  }
  &:hover {
    background-color: #26ccc69f;
    transform: translate(2px, 2px);
  }
}
.counter-container {
  position: absolute;
  transform: translate(50%, 50%);
  width: 18px;
  height: 18px;
  right: 2px;
  bottom: 2px;
  text-align: center;
  border-radius: 50%;
  background-color: #fe6d6dba !important;
}
.shop-cart-list {
  position: absolute;
  background-color: #ffffff;
  transform: translate(105%, 0);
  top: 4px;
  min-width: 280px;
  border: 1px solid #dad0d0;
  border-radius: 9px;
  box-shadow: -2px 3px 4px 2px #d3d3d3;
  z-index: 4;
}
.input-count {
  width: 47px;
  text-align: center;
  padding: 0.25rem 0rem !important;
  margin: 0 !important;
  border: 1px solid #c59797;
  border-radius: 10px;
  outline: 0;
}
.btn-delete-item {
  cursor: pointer;
  padding: 0.375rem;
  display: inline-flex;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 50%;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:hover {
    color: #fff;
    background-color: #b11e3b;
    text-decoration: none;
  }
}
.backdrop-shop-cart {
  top: 0;
  bottom: 0;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: unset;
  display: block;
  z-index: 3;
  width: 100%;
  overflow: visible;
}
