<div *ngIf="isLoaded" class="mb-3">
  <div class="p-3 border_main rounded--title mb-3 max-w-300">
    <span class="mr-2">پورسانت:</span>
    <span>{{ data.commission }}</span>
  </div>

  <div class="d-flex flex-wrap">
    <div
      class="d-flex flex-column flex-sm-row p-3 bg_purple text-white rounded--title mt-sm-0 mt-3"
      *ngFor="let itemHeader of data.header"
    >
      <div>
        <span class="mr-2">شماره قرارداد:</span>
        <span>{{ itemHeader.contractID }}</span>
      </div>

      <div class="ml-sm-4">
        <span class="mr-2">پورسانت قرارداد:</span>
        <span>{{ itemHeader.commission }}</span>
      </div>
    </div>
  </div>
</div>

<div class="separator-breadcrumb border-top"></div>

<section *ngIf="isLoaded" class="main-table">
  <table class="table">
    <thead class="bg-dark text-white">
      <tr>
        <th class="rounded--right">id</th>
        <th>نام مشتری</th>
        <th>قیمت</th>
        <th>مبلغ پرداختی</th>
        <th>شماره حساب</th>
        <th class="rounded--left">تاریخ انقضا</th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="
          let row of data.orders
            | paginate
              : {
                  itemsPerPage: page.size,
                  page: page.pageNumber,
                  currentPage: page.pageNumber,
                  totalItems: page.totalElements
                }
        "
      >
        <td>{{ row.id }}</td>
        <td>{{ row.firstName + " " + row.lastName }}</td>
        <td>{{ row.price }}</td>
        <td>{{ row.toPayPrice }}</td>
        <td>{{ row.accountNumber }}</td>
        <td>{{ row.expireDate | jalali }}</td>
      </tr>
    </tbody>
  </table>
</section>

<div class="col-md-12 mt-3" *ngIf="isLoaded">
  <pagination-controls
    (pageChange)="setPage(page.pageNumber)"
    previousLabel=""
    nextLabel=""
  ></pagination-controls>
</div>
