<div class="d-flex flex-column flex-sm-row mb-5 flex-sm-wrap">
  <div class="bg_pink rounded--title p-3 mt-3 mt-sm-0">
    <span class="mr-2">شماره قرارداد &nbsp;:</span>
    <span *ngIf="isLoaded">{{ data.header.contractID }}</span>
  </div>
  <div class="ml-sm-4 bg_pink rounded--title p-3 mt-3 mt-sm-0">
    <span class="mr-2">عنوان قرارداد &nbsp;:</span>
    <span *ngIf="isLoaded">{{ data.header.contractTitle }}</span>
  </div>
  <div class="ml-sm-4 bg_pink rounded--title p-3 mt-3 mt-sm-0">
    <span class="mr-2">پورسانت قرارداد &nbsp;:</span>
    <span *ngIf="isLoaded"
      >{{ data.header.allCommission | number : "1.2-2" }}&nbsp;$
    </span>
  </div>
</div>

<span
  *ngIf="isLoaded"
  class="p-2 d-inline-flex mb-2 text-white px-4 bg_purple rounded--right rounded--left"
  >سفارشات تیم فروش شما</span
>

<section class="main-table" *ngIf="isLoaded">
  <table class="table">
    <thead class="bg-dark text-white">
      <tr>
        <th class="rounded--right">ID</th>
        <th>نام مشتری</th>
        <th>محصول و پلن</th>
        <th>شماره حساب</th>
        <th>قیمت</th>
        <th>مبلغ پرداختی</th>
        <th class="rounded--left">تاریخ انقضا</th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="
          let row of data.orders
            | paginate
              : {
                  itemsPerPage: page.size,
                  currentPage: page.currentPage,

                  totalItems: page.totalElements
                }
        "
      >
        <td>{{ row.id }}</td>
        <td>{{ row.firstName + " " + row.lastName }}</td>
        <td>{{ row.productTitle + " " + row.planTitle }}</td>
        <td>{{ row.accountNumber }}</td>
        <td>{{ row.price | currency }}</td>
        <td>{{ row.toPayPrice | currency }}</td>
        <td>{{ row.expireDate | jalali }}</td>
      </tr>
    </tbody>
  </table>
</section>
<div class="flex-grow-1"></div>
<div class="col-md-12 mt-3" *ngIf="isLoaded">
  <pagination-controls
    (pageChange)="setPage($event)"
    previousLabel=""
    nextLabel=""
    responsive="true"
  ></pagination-controls>
</div>
