<button
  *appCanAccess="'privilege-Add'"
  type="button"
  class="btn-add btn d-inline-flex justify-content-around py-btns radius align-items-center mb-4"

  (click)="addorEdit(addUpdateModal, undefined)"
>
  <i class="i-Add text-bigger mr-2"></i><strong>ایجاد</strong>
</button> 
<div class="separator-breadcrumb border-top"></div>
<div class="row d-md-flex flex-row justify-content-md-start">
  <div
    class="col-lg-4 col-xl-3 col-md-6 col-sm-8 col-12"
    *ngFor="
      let item of rows
        | paginate
          : {
              itemsPerPage: page.size,
              page: page.pageNumber,
              currentPage: page.pageNumber,
              totalItems: page.totalElements
            }
    "
  >
    <div class="card bg-gradient-grey order-card">
      <i
        *appCanAccess="'privilege-Edit'"
        ngbTooltip="ویرایش"
        [openDelay]="0"
        [closeDelay]="50"
        (click)="addorEdit(addUpdateModal, item)"
        class="i-Pen-5 top-left-card bg-gradient-yellow clickable-btn text-dark p-2 rounded-circle"
      ></i>
      <div class="card-block">
        <div
          class="d-flex flex-row justify-content-between m-b-0 align-items-center align-content-center"
        >
          <h5 class="bg-light p-1 rounded text-dark">عنوان</h5>
          <i
            class="i-File bg-green clickable-btn text-dark p-2 rounded-circle"
          ></i>
        </div>
        <h6 class="text-white">{{ item.title }}</h6>
        <hr class="separator-breadcrumb border-top" />
        <div
          class="d-flex flex-row justify-content-between m-b-0 align-items-center align-content-center"
        >
          <h5 class="bg-light p-1 rounded text-dark">دسترسی</h5>
          <i class="i-Key text-dark bg-green p-2 rounded-circle"></i>
        </div>
        <h6 class="text-white">{{ item.key }}</h6>
      </div>
      <div class="">
        <button
          *appCanAccess="'privilege-Delete'"
          (click)="deletePrivilege(item.id, deleteModal)"
          class="btn d-block w-100 text-white bg-gradient-red float-right"
        >
          حذف
        </button>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12 mt-3" *ngIf="page.totalElements > page.size">
  <pagination-controls
    (pageChange)="setPage($event)"
    previousLabel=""
    nextLabel=""
    responsive="true"
  ></pagination-controls>
</div>
<div *ngIf="rows?.length == 0" class="d-flex justify-content-center">
  <img
    src="../../../../../assets/images/97434-no-data-available.gif"
    class="img-fluid w-50"
    style="opacity: 0.4"
    alt=""
  />
</div>
<!-- ------ Modal For Adding -->
<ng-template #addUpdateModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="addUpdate.id === 0" id="modal-basic-title">
      ایجاد
    </h4>
    <h4 class="modal-title" *ngIf="addUpdate.id !== 0" id="modal-basic-title">
      ویرایش
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close button"
      aria-describedby="modal-basic-title"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form action="" [formGroup]="addForm" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-md-6 form-group mb-3 mt-3">
          <label for="title">عنوان</label>
          <input
            name="title"
            id="title"
            class="form-control"
            [(ngModel)]="addUpdate.title"
            [formControl]="addForm.controls['title']"
          />
          <small
            *ngIf="
              addForm.controls['title'].hasError('required') &&
              addForm.controls['title'].touched
            "
            class="mat-text-warn m-t-negative"
            >نوشتن عنوان ضروری است</small
          >
        </div>
        <div class="col-md-6 form-group mb-3 mt-3">
          <label for="parentID">زیر مجموعه ای از</label>
          <select
            class="form-control"
            [(ngModel)]="addUpdate.parentID"
            [formControl]="addForm.controls['parentID']"
          >
            <option
              *ngFor="let privilege of allPrivilageData"
              value="{{ privilege.id }}"
            >
              {{ privilege.key }}
            </option>
          </select>
        </div>
        <div class="col-md-6 form-group mb-3 mt-3">
          <label for="title">نام کلید</label>
          <input
            name="keyValue"
            id="keyValue"
            class="form-control"
            [(ngModel)]="keyValue"
            [formControl]="addForm.controls['keyValue']"
          />
          <small
            *ngIf="
              addForm.controls['keyValue'].hasError('required') &&
              addForm.controls['keyValue'].touched
            "
            class="mat-text-warn m-t-negative"
            >نوشتن عنوان ضروری است</small
          >
        </div>

        <div class="col-md-6 form-group mb-3 mt-3">
          <label for="parentID">دسترسی</label>
          <select
            class="form-control"
            [(ngModel)]="keyType"
            [formControl]="addForm.controls['keyType']"
          >
            <option *ngFor="let key of keys" value="-{{ key }}">
              {{ key }}
            </option>
          </select>
        </div>

        <div class="col-md-6 form-group mb-3 mt-3">
          <label class="m-1">فعال</label>
          <label class="switch switch-primary mr-2 m-2">
            <span>غیرفعال</span>
            <input
              [(ngModel)]="addUpdate.isActive"
              [formControl]="addForm.controls['isActive']"
              type="checkbox"
              id="isActive"
            />
            <span class="slider"></span>
          </label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn-download btn d-inline-flex justify-content-around py-btns radius align-items-center mr-1"
      (click)="modal.close(true)"
      *ngIf="addUpdate.id !== 0"
    >
      <i class="i-Pen-5 text-bigger mr-2"></i><strong>ویرایش</strong>
    </button>
    <button
      type="button"
      class="btn-add btn d-inline-flex justify-content-around py-btns radius align-items-center mr-1"
      (click)="modal.close(true)"
      *ngIf="addUpdate.id === 0"
    >
      <i class="i-Add text-bigger mr-2"></i><strong>ایجاد</strong>
    </button>
    <button
      type="button"
      class="btn-delete btn d-inline-flex justify-content-around py-btns radius align-items-center mr-1"
      (click)="modal.dismiss()"
    >
      <i class="i-Close text-bigger mr-2"></i>
      <strong>انصراف</strong>
    </button>
  </div>
</ng-template>
<!-- ------  Modal For Delete -->
<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">حذف محصول</h4>
    <button
      type="button"
      class="close"
      aria-label="Close button"
      aria-describedby="modal-basic-title"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>آیا از حذف مطمئنید؟</strong></p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn-save btn d-inline-flex justify-content-around py-btns radius align-items-center"
      (click)="modal.dismiss('cancel')"
    >
      <i class="i-Close text-bigger mr-2"></i><strong>خیر</strong>
    </button>
    <button
      type="button"
      ngbAutofocus
      class="btn-delete btn d-inline-flex justify-content-around py-btns radius align-items-center ml-2"
      (click)="modal.close()"
    >
      <i class="i-Yes text-bigger mr-2"></i><strong>بله</strong>
    </button>
  </div>
</ng-template>
