<section class="main-table">
  <table class="table">
    <thead class="bg-dark text-white">
      <tr>
        <th class="rounded--right">کد رهگیری</th>
        <th>شماره حساب</th>
        <th>نام و پلن محصول</th>
        <th>مبلغ</th>
        <th>وضعیت</th>
        <th class="rounded--left">عملیات</th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="
          let item of rows
            | paginate
              : {
                  itemsPerPage: page.size,
                  page: page.pageNumber,
                  currentPage: page.pageNumber,
                  totalItems: page.totalElements
                }
        "
      >
        <td>{{ item.code }}</td>
        <td>{{ item.accountNumber }}</td>
        <td>{{ item.product }}&nbsp;|&nbsp;{{ item.plan }}</td>
        <td>{{ item.toPayPrice | currency }}</td>

        <td *ngIf="item.transactionStatus == 6">
          <span
            class="badge p-2 text-white"
            [ngClass]="item.transactionStatus == 6 ? 'wait-span' : ''"
            >{{ item.transactionStatus | transactionStatus }}</span
          >
        </td>

        <td *ngIf="item.transactionStatus == 8">
          <span
            class="badge p-2 text-white"
            [ngClass]="item.transactionStatus == 8 ? 'success-span' : ''"
            >{{ item.transactionStatus | transactionStatus }}</span
          >
        </td>

        <td *ngIf="item.transactionStatus == 1">
          <span
            class="badge p-2 text-white"
            [ngClass]="item.transactionStatus == 1 ? 'new-span' : ''"
            >{{ item.transactionStatus | transactionStatus }}</span
          >
        </td>

        <td *ngIf="item.transactionStatus == 2">
          <span
            class="badge p-2 text-white"
            [ngClass]="item.transactionStatus == 2 ? 'last-span' : ''"
            >{{ item.transactionStatus | transactionStatus }}</span
          >
        </td>

        <td
          *ngIf="
            item.transactionStatus != 2 &&
            item.transactionStatus != 1 &&
            item.transactionStatus != 6 &&
            item.transactionStatus != 8
          "
        >
          <span
            class="badge p-2 text-white"
            [ngClass]="
              item.transactionStatus != 2 &&
              item.transactionStatus != 1 &&
              item.transactionStatus != 6 &&
              item.transactionStatus != 8
                ? 'failed-span'
                : ''
            "
            >{{ item.transactionStatus | transactionStatus }}</span
          >
        </td>

        <td>
          <a
            *ngIf="item.transactionStatus == 8 && item.filePath != null"
            class="btn btn-warning text-dark"
            href="https://dl.iraniExpert.com/{{ item.filePath }}"
          >
            دانلود
          </a>

          <button
            *ngIf="
              item.transactionStatus == 8 ||
              (item.transactionStatus == 2 && item.filePath != null)
            "
            class="btn btn-primary text-white"
            (click)="showDetails(item, detailModal)"
          >
            جزئیات
          </button>

          <button
            *ngIf="item.transactionStatus == 2 && item.filePath == null"
            class="btn btn-outline-light text-dark"
            disabled
          >
            در انتظار لایسنس
          </button>
          <button
            class="btn btn-info"
            (click)="addPay(item, PayModal)"
            *ngIf="item.transactionStatus == 1"
          >
            ثبت پرداخت
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<div class="mt-3" *ngIf="rows?.length > 0">
  <pagination-controls
    (pageChange)="setPage($event)"
    previousLabel=""
    nextLabel=""
  ></pagination-controls>
</div>

<div *ngIf="rows?.length == 0" class="d-flex justify-content-center">
  <img
    src="../../../../../assets/images/97434-no-data-available.gif"
    class="img-fluid w-50"
    style="opacity: 0.4"
    alt=""
  />
</div>

<!--  Detail-Modal -->
<ng-template #detailModal let-modal>
  <div>
    <div class="modal-header">
      <h4 class="modal-title">جزئیات سفارش</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col col-md-4 form-group mb-3">
          <label for="startDate">تاریخ شروع لایسنس</label>
          <div
            for="startDate"
            class="mb-3 text-white rounded-left rounded-right bg-dark p-2"
          >
            {{ userOrderDetail.startDate | jalali }}
          </div>
        </div>
        <div class="col col-md-4 form-group mb-3">
          <label for="expireDate">تاریخ انقضاء لایسنس</label>
          <div
            for="expireDate"
            class="mb-3 text-white rounded-left rounded-right bg-dark p-2"
          >
            {{ userOrderDetail.expireDate | jalali }}
          </div>
        </div>
        <div class="col col-md-4 form-group mb-3">
          <label for="versionNumber">نسخه لایسنس</label>
          <div
            for="versionNumber"
            class="mb-3 text-white rounded-left rounded-right bg-dark p-2"
          >
            {{ userOrderDetail.versionNumber }}
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-secondary btn-rounded mr-1"
        (click)="modal.dismiss()"
      >
        بستن
      </button>
    </div>
  </div>
</ng-template>

<!-- Cancel-Modal -->
<ng-template #cancelModal let-modal>
  <div>
    <div class="modal-header">
      <h4 class="modal-title">لغو سفارش</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p><strong>آیا از لغو سفارشتان مطمئنید؟</strong></p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-secondary btn-rounded mr-1"
        (click)="modal.dismiss()"
      >
        خیر
      </button>
      <button
        type="button"
        ngbAutofocus
        class="btn btn-wide btn-danger btn-rounded"
        (click)="modal.close(true)"
      >
        بله
      </button>
    </div>
  </div>
</ng-template>
