.success-span{
  background-color: #4CAF50 !important;
  padding: 5px;
  border-radius: 5px;
  color: white;
}
.new-span{
  background-color: #5992c7 !important;
  padding: 5px;
  border-radius: 5px;
  color: white;
}
.failed-span{
  background-color: #e24c4c !important;
  padding: 5px;
  border-radius: 5px;
  color: white;
}
.wait-span{
  background-color: #a4d9a4 !important ;
  padding: 5px;
  border-radius: 5px;
  color: white;
}
