.success-span {
  background-color: #4caf50 !important;
}
.new-span {
  background-color: #5992c7 !important;
}
.failed-span {
  background-color: #e24c4c !important;
}
.wait-span {
  background-color: #a4d9a4 !important ;
}
