<!-- <button class="btn bg-dark text-white" (click)="openFilterModal(filterModal)">
  فیلتر کردن
</button> -->
<div ngbDropdown placement="bottom-end" class="d-inline-block m-1 mb-3">
  <button
    type="button"
    class="btn btn-details radius py-btns"
    id="dropdownBasic1"
    ngbDropdownToggle
  >
    <ng-container *ngIf="tableType != 8 && tableType != 10"
      >دیدگاه های
    </ng-container>
    <ng-container *ngIf="tableType == 8 || tableType == 10"
      >یادداشت های </ng-container
    >{{ dropDownTitleHolder }}
  </button>
  <div
    ngbDropdownMenu
    class="mt-1 shadow-lg radius"
    aria-labelledby="dropdownBasic1"
  >
    <button
      class="text-left btn"
      ngbDropdownItem
      *ngFor="let item of tableTypeTitles"
      (click)="getCommentList(0, item.id, filter)"
    >
      <strong>{{ item.title }}</strong>
    </button>
  </div>
</div>

<a
  (click)="openFilterModal(filterModal)"
  class="btn-filter btn d-inline-flex justify-content-around py-btns radius m-1 align-items-center"
  ><i class="i-Filter-2 text-dark text-bigger mr-2"></i>
  <strong class="text-dark ml-2"> فیلتر کردن</strong></a
>

<div class="my-css d-flex flex-wrap w-100">
  <div
    *ngFor="
      let item of rows
        | paginate
          : {
              itemsPerPage: page.size,
              page: page.pageNumber,
              currentPage: page.pageNumber,
              totalItems: page.totalElements
            }
    "
    class="col-xl-6 my-2"
  >
    <div class="timeline-card card mt-4 h-100">
      <!-- *ngIf="item.parentID === null" -->
      <div
        class="card-header bg-light-dark d-flex justify-content-between align-items-center"
      >
        <div class="mb-1">
          <strong class="mr-1 text-white">{{ item.name }}</strong>
          <span
            class="badge badge-warning mr-1 text-primary"
            *ngIf="item.isAccepted === false"
            >تایید نشده</span
          >
          <span
            class="badge badge-success mr-1 text-white"
            *ngIf="item.isAccepted === true"
            >تایید شده</span
          >
          <p class="text-white-50">{{ item.createDate | relativeTime }}</p>
        </div>
        <div class="text-warning">امتیاز:5\{{ item.rate }}</div>
      </div>
      <div class="card-body bg-gray">
        <p class="text-white">
          {{ item.text }}
        </p>
        <ng-container *ngIf="item.parentID !== null">
          <p class="bg-dark text-white ml-3">
            پاسخ:{{ item.parentComment.text }}
          </p>
        </ng-container>
      </div>
      <div class="card-footer bg-gray">
        <div class="mb-2">
          <button
            type="button"
            class="btn-download btn d-inline-flex justify-content-around py-btns radius align-items-center"
            *ngIf="item.isAccepted === false"
            (click)="openSmall(modalSmall, item)"
          >
            <i class="i-Yes text-bigger mr-2"></i><strong>پذیرفتن</strong>
          </button>
        </div>
        <div class="mb-2">
          <button
            type="button"
            *ngIf="item.isAccepted === true"
            (click)="deleteComment(item.id, deleteModal)"
            class="btn-delete btn d-inline-flex justify-content-around py-btns radius align-items-center"
          >
            <i class="i-Close text-bigger mr-2"></i><strong>حذف پیام</strong>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 mt-3" *ngIf="rows?.length > 0">
  <pagination-controls
    (pageChange)="setPage($event, this.tableType)"
    previousLabel=""
    nextLabel=""
    responsive="true"
  ></pagination-controls>
</div>
<div *ngIf="rows?.length == 0" class="d-flex justify-content-center">
  <img
    src="../../../../../assets/images/97434-no-data-available.gif"
    class="img-fluid w-50"
    alt=""
  />
</div>
<ng-template #modalSmall let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      آیا از پذیرش پیام مطمئن هستید
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label class="text-black-50 mb-2"
      >درصورت نیاز یا علاقه پاسخ این نظر را بدهید</label
    >
    <textarea [(ngModel)]="replyText" class="form-control"></textarea>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn-save btn d-inline-flex justify-content-around py-btns radius align-items-center"
      (click)="modal.close(true)"
    >
      <i class="i-Yes text-bigger mr-2"></i><strong>بله</strong>
    </button>
    <button
      type="button"
      class="btn-delete btn d-inline-flex justify-content-around py-btns radius align-items-center"
      (click)="modal.dismiss()"
    >
      <i class="i-Close text-bigger mr-2"></i><strong>خیر</strong>
    </button>
  </div>
</ng-template>

<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      آیا از حذف نظر مطمئن هستید
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn-delete btn d-inline-flex justify-content-around py-btns radius align-items-center"
      (click)="modal.close(true)"
    >
      <i class="i-Yes text-bigger mr-2"></i><strong>بله</strong>
    </button>
    <button
      type="button"
      class="btn-save btn d-inline-flex justify-content-around py-btns radius align-items-center"
      (click)="modal.dismiss()"
    >
      <i class="i-Close text-bigger mr-2"></i><strong>خیر</strong>
    </button>
  </div>
</ng-template>
<ng-template #filterModal let-modal>
  <div class="d-flex align-items-center bg-gray">
    <div class="col-11 container mt-2 mb-2 contrast">
      <div class="modal-header row">
        <h4 class="modal-title text-white" id="modal-basic-title">فیلتر</h4>

        <button
          type="button"
          class="close text-white"
          aria-label="Close"
          (click)="modal.dismiss()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="row" [formGroup]="filterForm" (ngSubmit)="filterComment()">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6 form-group mb-3 mt-3">
              <label class="text-white">ID</label>
              <input
                class="form-control bg-light radius"
                [(ngModel)]="filterModel.id"
                formControlName="ID"
              />
            </div>
            <div class="col-md-6 form-group mb-3 mt-3">
              <label class="text-white">ID کاربر</label>
              <input
                class="form-control bg-light radius"
                [(ngModel)]="filterModel.userID"
                formControlName="userID"
              />
            </div>
            <div class="col-md-6 form-group mb-3 mt-3">
              <label class="text-white">محصول</label>
              <input
                class="form-control bg-light radius"
                [(ngModel)]="filterModel.rowID"
                formControlName="rowID"
              />
            </div>
            <div class="col-md-6 form-group mb-3 mt-3">
              <label class="text-white">نام</label>
              <input
                class="form-control bg-light radius"
                [(ngModel)]="filterModel.name"
                formControlName="name"
              />
            </div>
            <div class="col-md-6 form-group mb-3 mt-3">
              <label class="text-white">ایمیل </label>
              <input
                name="accountNumber"
                id="accountNumber"
                class="form-control bg-light radius"
                [(ngModel)]="filterModel.email"
                formControlName="email"
              />
            </div>
            <div class="col-md-6 form-group mb-3 mt-3">
              <label for="accountNumber " class="text-white">امتیاز</label>
              <select
                class="form-control bg-light radius text-dark"
                id="status"
                [(ngModel)]="filterModel.rate"
                formControlName="rate"
              >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
            <div class="col-md-6 form-group mb-3 mt-3">
              <label class="text-white">وضعیت</label>
              <div class="mt-1">
                <label class="m-1 text-white">پذیرفته شده</label>
                <label class="switch switch-primary mr-2 m-2">
                  <span class="text-white">عدم پذیرش</span>
                  <input
                    [(ngModel)]="filterModel.isAccepted"
                    [formControl]="filterForm.controls['isAccepted']"
                    type="checkbox"
                    id="isActive"
                  />
                  <span class="slider"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer w-100">
          <button
            ngbAutofocus
            type="button"
            class="btn-download btn d-inline-flex justify-content-around py-btns radius align-items-center"
            (click)="modal.close(true)"
          >
            <i class="i-Pen-5 text-bigger mr-2"></i>
            <strong class="ml-2 text-small">ویرایش</strong>
          </button>

          <button
            type="button"
            class="btn-delete btn d-inline-flex justify-content-around py-btns radius align-items-center ml-2"
            (click)="modal.dismiss()"
          >
            <i class="i-Close text-bigger mr-2"></i><strong>انصراف</strong>
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
