<button class="btn bg-dark text-white" (click)="openFilterModal(filterModal)">
  فیلتر کردن
</button>
<div class="my-css d-flex flex-wrap w-100">
  <div *ngFor="let item of rows.slice().reverse()" class="col-xl-6 my-2">
    <div class="timeline-card card mt-4 h-100">
      <!-- *ngIf="item.parentID === null" -->
      <div
        class="card-header bg-light-dark d-flex justify-content-between align-items-center"
      >
        <div class="mb-1">
          <strong class="mr-1 text-white">{{ item.name }}</strong>
          <span
            class="badge badge-warning mr-1 text-primary"
            *ngIf="item.isAccepted === false"
            >تایید نشده</span
          >
          <span
            class="badge badge-success mr-1 text-white"
            *ngIf="item.isAccepted === true"
            >تایید شده</span
          >
          <p class="text-white-50">{{ item.createDate | relativeTime }}</p>
        </div>
        <div class="text-warning">امتیاز:5\{{ item.rate }}</div>
      </div>
      <div class="card-body bg-gray">
        <p class="text-white">
          {{ item.text }}
        </p>
        <ng-container *ngIf="item.parentID !== null">
          <p class="bg-dark text-white ml-3">
            پاسخ:{{ item.parentComment.text }}
          </p>
        </ng-container>
      </div>
      <div class="card-footer bg-gray">
        <div class="mb-2">
          <button
            type="button"
            class="btn btn-rounded m-1"
            *ngIf="item.isAccepted === false"
            (click)="openSmall(modalSmall, item)"
          >
            پذیرفتن
          </button>
        </div>
        <div class="mb-2">
          <button
            type="button"
            *ngIf="item.isAccepted === true"
            (click)="deleteComment(item.id, deleteModal)"
            class="btn btn-danger btn-rounded m-1"
          >
            حذف پیام
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="rows?.length == 0" class="d-flex justify-content-center">
  <img
    src="../../../../../assets/images/97434-no-data-available.gif"
    class="img-fluid w-50"
    alt=""
  />
</div>
<ng-template #modalSmall let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      آیا از پذیرش پیام مطمئن هستید
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label class="text-black-50 mb-2"
      >درصورت نیاز یا علاقه پاسخ این نظر را بدهید</label
    >
    <textarea [(ngModel)]="replyText" class="form-control"></textarea>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark btn-rounded"
      (click)="modal.close(true)"
    >
      بله
    </button>
    <button
      type="button"
      class="btn btn-outline-dark btn-rounded"
      (click)="modal.dismiss()"
    >
      خیر
    </button>
  </div>
</ng-template>

<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      آیا از حذف نظر مطمئن هستید
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark btn-rounded"
      (click)="modal.close(true)"
    >
      بله
    </button>
    <button
      type="button"
      class="btn btn-outline-dark btn-rounded"
      (click)="modal.dismiss()"
    >
      خیر
    </button>
  </div>
</ng-template>
<ng-template #filterModal let-modal>
  <div class="d-flex align-items-center bg-gray">
    <div class="col-11 container mt-2 mb-2 contrast">
      <div class="modal-header row">
        <h4 class="modal-title text-white" id="modal-basic-title">فیلتر</h4>

        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="row" [formGroup]="filterForm" (ngSubmit)="filterComment()">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6 form-group mb-3 mt-3">
              <label class="text-white">ایدی کاربر</label>
              <input
                class="form-control"
                [(ngModel)]="filterModel.userID"
                [formControl]="filterForm.controls['userID']"
              />
            </div>
            <div class="col-md-6 form-group mb-3 mt-3">
              <label class="text-white">شناسه محصول</label>
              <input
                class="form-control"
                [(ngModel)]="filterModel.rowID"
                [formControl]="filterForm.controls['rowID']"
              />
            </div>
            <div class="col-md-6 form-group mb-3 mt-3">
              <label class="text-white">نام</label>
              <input
                class="form-control"
                [(ngModel)]="filterModel.name"
                [formControl]="filterForm.controls['name']"
              />
            </div>
            <div class="col-md-6 form-group mb-3 mt-3">
              <label class="text-white">ایمیل </label>
              <input
                name="accountNumber"
                id="accountNumber"
                class="form-control"
                [(ngModel)]="filterModel.email"
                [formControl]="filterForm.controls['email']"
              />
            </div>

            <div class="col-md-6 form-group mb-3" dir="ltr">
              <label for="accountNumber " class="text-white">تاریخ شروع</label>

              <input
                (click)="d.toggle()"
                type="text"
                class="form-control"
                ngbDatepicker
                #d="ngbDatepicker"
                [(ngModel)]="CrtDate"
                [formControl]="filterForm.controls['fromCreateDate']"
              />
            </div>
            <div class="col-md-6 form-group mb-3" dir="ltr">
              <label class="text-white">تاریخ پایان</label>

              <input
                (click)="e.toggle()"
                type="text"
                class="form-control"
                ngbDatepicker
                #e="ngbDatepicker"
                [(ngModel)]="ExpDate"
                [formControl]="filterForm.controls['ToCreateDate']"
              />
            </div>

            <div class="col-md-6 form-group mb-3 mt-3">
              <label for="accountNumber " class="text-white">امتیاز</label>
              <select
                class="form-control text-dark"
                id="status"
                [(ngModel)]="filterModel.rate"
                [formControl]="filterForm.controls['rate']"
              >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
            <div class="col-md-6 form-group mb-3 mt-3">
              <label class="text-white">وضعیت</label>
              <div class="mt-1">
                <label class="m-1 text-white">پذیرفته شده</label>
                <label class="switch switch-primary mr-2 m-2">
                  <span class="text-white">عدم پذیرش</span>
                  <input
                    [(ngModel)]="filterModel.isAccepted"
                    [formControl]="filterForm.controls['isAccepted']"
                    type="checkbox"
                    id="isActive"
                  />
                  <span class="slider"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer w-100">
          <button
            ngbAutofocus
            type="button"
            class="btn btn-outline-dark btn-rounded mr-1 text-white"
            (click)="modal.close(true)"
          >
            ویرایش
          </button>

          <button
            type="button"
            class="btn btn-outline-dark btn-rounded text-white"
            (click)="modal.dismiss()"
          >
            انصراف
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
