
<div class="pb-3 d-flex flex-row row align-items-center">

  <div class="d-flex row col-10 align-items-center">
    <strong class="m-1 text-small"
      ><i class="i-Filter-2 text-dark text-bigger mr-1"></i> فیلتر بر اساس
      &nbsp; : &nbsp;</strong
    >
    <div ngbDropdown placement="bottom-end" class="d-inline-block m-1 ">
      <button
        type="button"
        class="btn btn-details radius py-btns"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        <ng-container *ngIf="tableType != 8 && tableType != 10"
          >دیدگاه های
        </ng-container>
        <ng-container *ngIf="tableType == 8 || tableType == 10"
          >یادداشت های </ng-container
        >{{ dropDownTitleHolder }}
      </button>
      <div
        ngbDropdownMenu
        class="mt-3 shadow-lg radius"
        aria-labelledby="dropdownBasic1"
      >
        <button
          class="text-left btn"
          ngbDropdownItem
          *ngFor="let item of tableTypeTitles"
          (click)="getCommentList(0, item.id, this.filterModel)"
        >
          <strong>{{ item.title }}</strong>
        </button>
      </div>
    </div>

    <!-- TableType -->
    <strong for="pageOrder" class="text-small"> امتیاز</strong>
    <div ngbDropdown placement="bottom-end" class="col-auto">
      <button
        type="button"
        class="btn btn-details radius py-btns text-small"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
{{rateText}}
    </button>
      <div
        ngbDropdownMenu
        class="mt-1 shadow-lg radius dropDown-scroll"
        aria-labelledby="dropdownBasic1"
        style="height: 235px; overflow: auto"
   
      >
      <button
      class="text-left btn mt-2"
      ngbDropdownItem
      (click)="setRate(null)"
    >
      <strong class="text-small">همه</strong>
    </button>
      <button
      class="text-left btn mt-2"
      ngbDropdownItem
      *ngFor="let rate of rateNumber"
      (click)="setRate(rate)"
    >
      <strong class="text-small">{{rate}}</strong>
    </button>
      </div>
    </div>


    <button
    (click)="toggleFilters()"
      class="btn-filter btn d-inline-flex justify-content-around py-btns radius align-items-center m-1"
    >
      <strong class="text-small mr-1">پیشرفته</strong>
      <span class="d-inline-flex"
        ><span
          class="pi pi-chevron-left ml-1"
          [@rotate90deg]="stateOfChevron"
          style="font-size: 0.7rem"
        ></span
      ></span>
    </button>
    <!-- Expand The Div -->
  </div>
</div>
<div @slideInOut *ngIf="isDivExpanded">
    <div class="row d-flex align-items-center">
  <input
  type="text"
  class="form-control m-1 radius col-9 col-sm-5 col-lg-1 col-md-2 bg-white text-small"
  placeholder="شناسه"
  [(ngModel)]="filterModel.iD"

/>
<span
  *ngIf="filterHolder.iD"
  (click)="filterModel.iD = null;sendFilter() "
  class="d-inline-flex p-2 bg-light rounded-circle cursor-pointer"
  ><span class="pi pi-times" style="font-size: 0.7rem"></span
></span>
<input
type="text"
class="form-control m-1 radius col-9 col-sm-5 col-lg-1 col-md-2 bg-white text-small"
placeholder="ایدی کاربر"
[(ngModel)]="filterModel.userID"
/>

 
<span
*ngIf="filterHolder.userID"
(click)="filterModel.userID = null;sendFilter() "
    class="d-inline-flex p-2 bg-light rounded-circle cursor-pointer"
    ><span class="pi pi-times" style="font-size: 0.7rem"></span
  ></span>

  <input
    type="text"
    class="form-control m-1 radius col-9 col-sm-5 col-md-2 bg-white text-small"
    placeholder="ایدی محصول"
    [(ngModel)]="filterModel.rowID"
    />
  <span
  *ngIf="filterHolder.rowID"
  (click)="filter.rowID = null;sendFilter() "
    class="d-inline-flex p-2 bg-light rounded-circle cursor-pointer"
    ><span class="pi pi-times" style="font-size: 0.7rem"></span
  ></span>
  <input
  type="text"
  class="form-control m-1 radius col-9 col-sm-5 col-md-2 bg-white text-small"
  placeholder="نام و نام خانوادگی"
  [(ngModel)]="filterModel.name"
/>
<span
  class="d-inline-flex p-2 bg-light rounded-circle cursor-pointer"
*ngIf="filterHolder.name"
(click)="filterModel.name = null;sendFilter() "
  ><span class="pi pi-times" style="font-size: 0.7rem"></span
></span>
<input
type="text"
class="form-control m-1 radius col-9 col-sm-5 col-md-2 bg-white text-small"
placeholder="ایمیل"
[(ngModel)]="filterModel.email"
/>
<span
class="d-inline-flex p-2 bg-light rounded-circle cursor-pointer"
*ngIf="filterHolder.email"
(click)="filterModel.email = null;sendFilter() "
><span class="pi pi-times" style="font-size: 0.7rem"></span
></span>

  <div class="mb-1 mr-1">
    <strong class="m-1 text-small">پذیرفته شده</strong>
    <label class="switch switch-primary mr-2 m-2">
      <strong class="text-small">عدم پذیرش</strong>
      <input type="checkbox" [(ngModel)]="filterModel.isAccepted"
      />
      <span class="slider"></span>

    </label>
  </div>
  <button
    type="button"
    ngbAutofocus
    class="btn-filter btn d-inline-flex justify-content-around py-btns radius align-items-center"
    (click)="sendFilter()"
  >
    <i class="i-Filter-2 text-bigger mr-2"></i>
    <strong class="text-small">فیلتر </strong>
  </button>
</div></div>





<div class="my-css d-flex flex-wrap w-100">
  <div
    *ngFor="
      let item of rows
        | paginate
          : {
              itemsPerPage: page.size,
              page: page.pageNumber,
              currentPage: page.pageNumber,
              totalItems: page.totalElements
            }
    "
    class="col-xl-6 my-2"
  >
    <div class="timeline-card card mt-4 h-100">
      <!-- *ngIf="item.parentID === null" -->
      <div
        class="card-header bg-light-dark d-flex justify-content-between align-items-center"
      >
        <div class="mb-1">
          <strong class="mr-1 text-white">{{ item.name }}</strong>
          <span
            class="badge badge-warning mr-1 text-primary"
            *ngIf="item.isAccepted === false"
            >تایید نشده</span
          >
          <span
            class="badge badge-success mr-1 text-white"
            *ngIf="item.isAccepted === true"
            >تایید شده</span
          >

          <p class="text-white-50 m-0 mt-2">
            <span>{{ item.createDate | relativeTime }} | </span>

            <span>{{ item.createDate | jalali }}</span>
          </p>

          <p class="text-white-50 m-0">
            <span>شناسه: {{ item.id }} | </span>
            <span>مربوط به شناسه: {{ item.rowID }}</span>
          </p>
        </div>
        <div class="text-warning">امتیاز:5\{{ item.rate }}</div>
      </div>
      <div class="card-body bg-gray">
        <p class="text-white">
          {{ item.text }}
        </p>
        <ng-container *ngIf="item.parentID !== null">
          <p class="bg-dark text-white ml-3">
            <!-- پاسخ:{{ item.parentComment.text }} -->
          </p>
        </ng-container>
      </div>
      <div class="card-footer bg-gray">
        <div class="mb-2">
          <button
            type="button"
            class="btn-download btn d-inline-flex justify-content-around py-btns radius align-items-center"
            *ngIf="item.isAccepted === false"
            (click)="openSmall(modalSmall, item)"
          >
            <i class="i-Yes text-bigger mr-2"></i><strong>پذیرفتن</strong>
          </button>
        </div>
        <div class="mb-2">
          <button
            type="button"
            *ngIf="item.isAccepted === true"
            (click)="deleteComment(item.id, deleteModal)"
            class="btn-delete btn d-inline-flex justify-content-around py-btns radius align-items-center"
          >
            <i class="i-Close text-bigger mr-2"></i><strong>حذف پیام</strong>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 mt-3" *ngIf="page.totalElements > page.size">
  <pagination-controls
    (pageChange)="setPage($event, this.tableType)"
    previousLabel=""
    nextLabel=""
    responsive="true"
  ></pagination-controls>
</div>
<div *ngIf="rows?.length == 0" class="d-flex justify-content-center">
  <img
    src="../../../../../assets/images/97434-no-data-available.gif"
    class="img-fluid w-50"
    alt=""
  />
</div>
<ng-template #modalSmall let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      آیا از پذیرش پیام مطمئن هستید
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label class="text-black-50 mb-2"
      >درصورت نیاز یا علاقه پاسخ این نظر را بدهید</label
    >
    <textarea [(ngModel)]="replyText" class="form-control"></textarea>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn-save btn d-inline-flex justify-content-around py-btns radius align-items-center"
      (click)="modal.close(true)"
    >
      <i class="i-Yes text-bigger mr-2"></i><strong>بله</strong>
    </button>
    <button
      type="button"
      class="btn-delete btn d-inline-flex justify-content-around py-btns radius align-items-center"
      (click)="modal.dismiss()"
    >
      <i class="i-Close text-bigger mr-2"></i><strong>خیر</strong>
    </button>
  </div>
</ng-template>

<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      آیا از حذف نظر مطمئن هستید
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn-delete btn d-inline-flex justify-content-around py-btns radius align-items-center"
      (click)="modal.close(true)"
    >
      <i class="i-Yes text-bigger mr-2"></i><strong>بله</strong>
    </button>
    <button
      type="button"
      class="btn-save btn d-inline-flex justify-content-around py-btns radius align-items-center"
      (click)="modal.dismiss()"
    >
      <i class="i-Close text-bigger mr-2"></i><strong>خیر</strong>
    </button>
  </div>
</ng-template>
<!-- <ng-template #filterModal let-modal>
  <div class="d-flex align-items-center bg-gray">
    <div class="col-11 container mt-2 mb-2 contrast">
      <div class="modal-header row">
        <h4 class="modal-title text-white" id="modal-basic-title">فیلتر</h4>

        <button
          type="button"
          class="close text-white"
          aria-label="Close"
          (click)="modal.dismiss()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="row" [formGroup]="filterForm" (ngSubmit)="filterComment()">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6 form-group mb-3 mt-3">
              <label class="text-white">ID</label>
              <input
                class="form-control bg-light radius"
                [(ngModel)]="filterModel.id"
                formControlName="ID"
              />
            </div>
            <div class="col-md-6 form-group mb-3 mt-3">
              <label class="text-white">ID کاربر</label>
              <input
                class="form-control bg-light radius"
                [(ngModel)]="filterModel.userID"
                formControlName="userID"
              />
            </div>
            <div class="col-md-6 form-group mb-3 mt-3">
              <label class="text-white">محصول</label>
              <input
                class="form-control bg-light radius"
                [(ngModel)]="filterModel.rowID"
                formControlName="rowID"
              />
            </div>
            <div class="col-md-6 form-group mb-3 mt-3">
              <label class="text-white">نام</label>
              <input
                class="form-control bg-light radius"
                [(ngModel)]="filterModel.name"
                formControlName="name"
              />
            </div>
            <div class="col-md-6 form-group mb-3 mt-3">
              <label class="text-white">ایمیل </label>
              <input
                name="accountNumber"
                id="accountNumber"
                class="form-control bg-light radius"
                [(ngModel)]="filterModel.email"
                formControlName="email"
              />
            </div>
            <div class="col-md-6 form-group mb-3 mt-3">
              <label for="accountNumber " class="text-white">امتیاز</label>
              <select
                class="form-control bg-light radius text-dark"
                id="status"
                [(ngModel)]="filterModel.rate"
                formControlName="rate"
              >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
            <div class="col-md-6 form-group mb-3 mt-3">
              <label class="text-white">وضعیت</label>
              <div class="mt-1">
                <label class="m-1 text-white">پذیرفته شده</label>
                <label class="switch switch-primary mr-2 m-2">
                  <span class="text-white">عدم پذیرش</span>
                  <input
                    [(ngModel)]="filterModel.isAccepted"
                    [formControl]="filterForm.controls['isAccepted']"
                    type="checkbox"
                    id="isActive"
                  />
                  <span class="slider"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer w-100">
          <button
            ngbAutofocus
            type="button"
            class="btn-download btn d-inline-flex justify-content-around py-btns radius align-items-center"
            (click)="modal.close(true)"
          >
            <i class="i-Yes text-bigger mr-2"></i>
            <strong class="ml-2 text-small">تایید</strong>
          </button>

          <button
            type="button"
            class="btn-delete btn d-inline-flex justify-content-around py-btns radius align-items-center ml-2"
            (click)="modal.dismiss()"
          >
            <i class="i-Close text-bigger mr-2"></i><strong>انصراف</strong>
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template> -->
