.no-response {
  font-size: large;
  padding: 12px 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color: black;
}

.gif-fluid {
  object-fit: contain;
  width: 100%;
  height: 400px;
}

:is(img-cropper) span {
  display: inline;
}

.th-list div {
  color: black !important;
  font-size: 22px !important;
}

.main-table {
  overflow-x: scroll;
}
.main-table {
  .table {
    margin: 0 auto;
  }
}
table th,
td {
  min-width: 150px;
  // border: 1px solid black;
  padding: 20px;
  text-align: center;
  white-space: nowrap;
  vertical-align: unset !important;
}
.rounded--right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.rounded--left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.td-oprate > button,
a {
  margin: 0 5px;
}

//new File Class
input[type="file"] {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fbfbfb;
  border-radius: 10px;
  border: 1px solid #efefef;
}
// Input Button File
input[type="file"]::file-selector-button {
  margin-right: 4px;
  border: none;
  background: #5e6a69;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: #4a5352;
}
