<div class="row g-0 m-0 p-0">
  <div class="mb-4">
    <button
      class="btn btn-primary m-1"
      type="button"
      [ngClass]="{ 'd-none': viewMode === 'grid' }"
      (click)="addorEdit(addUpdateModal, undefined)"
    >
      ایجاد
    </button>
  </div>
  <!-- SINGLE LIST ITEM -->
  <!----------------------------------- Head Table  -->
  <div
    class="list-item"
    [ngClass]="{
      'col-md-12': viewMode === 'list',
      'col-md-3 g-0 m-0 p-0': viewMode === 'grid'
    }"
  >
    <div
      class="card o-hidden mb-3 d-flex"
      [ngClass]="{
        'flex-row': viewMode === 'list',
        'flex-column': viewMode === 'grid'
      }"
    >
      <div
        class="flex-grow-1"
        [ngClass]="{
          'd-flex': viewMode === 'list',
          'd-block': viewMode === 'grid'
        }"
      >
        <div class="list-thumb">
          <!-- TUMBNAIL -->
        </div>
        <div
          id="myHeader"
          class="card-body align-self-center d-flex align-items-lg-center row"
          [ngClass]="{ 'flex-lg-row': viewMode === 'list' }"
        >
          <!-- OTHER DATA -->

          <div class="m-0 text-muted col w-100 w-sm-100">شناسه محصول</div>
          <div class="m-0 text-muted col w-100 w-sm-100">عنوان</div>
          <div class="m-0 text-muted col w-100 w-sm-100">توضیحات</div>
          <div class="m-0 text-muted col w-100 w-sm-100">اولویت</div>
          <div class="m-0 text-muted col w-100 w-sm-100">ادرس فایل</div>
          <div class="m-0 text-muted col w-100 w-sm-100">وضعیت</div>
          <div
            class="m-0 text-muted text-primary col text-lg-center w-100 w-sm-100"
          >
            عملیات
          </div>
        </div>
      </div>
    </div>
  </div>
  <!---------------------------------- List -->
  <div
    class="list-item"
    *ngFor="let item of rows"
    [ngClass]="{
      'col-md-12': viewMode === 'list',
      'col-md-3 m-0 p-0 g-0': viewMode === 'grid'
    }"
  >
    <div
      class="card o-hidden mb-2 d-flex"
      [ngClass]="{
        'flex-row': viewMode === 'list',
        'flex-column': viewMode === 'grid'
      }"
    >
      <div
        class="flex-grow-1"
        [ngClass]="{
          'd-flex': viewMode === 'list',
          'd-block': viewMode === 'grid'
        }"
      >
        <div class="list-thumb">
          <!-- TUMBNAIL -->
        </div>
        <div
          id="myHeader"
          class="card-body align-self-center d-flex th-list align-items-lg-center row"
          [ngClass]="{ 'flex-lg-row': viewMode === 'list' }"
        >
          <!-- OTHER DATA -->

          <div class="m-0 text-muted col w-25">
            {{ item.id }}
          </div>
          <div class="m-0 text-muted col w-25">
            {{ item.title }}
          </div>
          <div class="m-0 text-muted col w-25 brief-text">
            {{ item.description }}
          </div>
          <div class="m-0 text-muted col w-25">
            {{ item.orderID }}
          </div>
          <div class="m-0 text-muted col w-25">
            {{ item.fileUrl }}
          </div>
          <div class="m-0 text-muted col w-25">
            <div *ngIf="item.isActive === false" class="badge badge-info">
              غیر فعال
            </div>
            <div *ngIf="item.isActive === true" class="badge badge-success">
              فعال
            </div>
          </div>
          <div class="m-0 text-muted text-lg-center col w-25">
            <button
              class="btn btn-warning btn-rounded m-1"
              type="button"
              [ngClass]="{ 'd-none': viewMode === 'grid' }"
              (click)="addorEdit(addUpdateModal, item)"
            >
              ویرایش
            </button>
            <button
              class="btn btn-danger btn-rounded m-1"
              type="button"
              [ngClass]="{ 'd-none': viewMode === 'grid' }"
              (click)="deleteLearn(item.id, deleteConfirmModal)"
            >
              حذف
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!---------------------------------------------- MODALS -->
  <!-- Add Or Edit -->
  <ng-template #addUpdateModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" *ngIf="addUpdate.id === 0" id="modal-basic-title">
        ایجاد
      </h4>
      <h4 class="modal-title" *ngIf="addUpdate.id !== 0" id="modal-basic-title">
        ویرایش
      </h4>

      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="addForm" (ngSubmit)="submit()">
        <div class="row">
          <!-- title -->
          <div class="col-md-6 form-group mb-3">
            <label for="title">عنوان</label>
            <input
              type="text"
              class="form-control form-control-rounded"
              id="title"
              placeholder="عنوان مورد نظر را وارد کنید "
              [formControl]="addForm.controls['title']"
              [(ngModel)]="addUpdate.title"
            />
            <small
              *ngIf="
                addForm.controls['title'].hasError('maxlength') &&
                addForm.controls['title'].touched
              "
              class="mat-text-warn m-t-negative"
              >عنوان نام ضروری است</small
            >
          </div>

          <!-- Order ID  -->
          <div class="col-md-4 form-group mb-3">
            <label for="orderID">اولویت را مشخص کنید</label>
            <select
              [formControl]="addForm.controls['orderID']"
              class="form-control form-control-rounded"
              [ngModel]="addUpdate.orderID"
              (ngModelChange)="selectType($event)"
            >
              <option value="0">اولویت بسیار بالا</option>
              <option value="1">اولویت بالا</option>
              <option value="2">اولویت متوسط</option>
              <option value="3">اولویت پایین</option>
              <option value="4">اولویت بسیار پایین</option>
            </select>
            <small
              *ngIf="
                addForm.controls['orderID'].hasError('required') &&
                addForm.controls['orderID'].touched
              "
              class="mat-text-warn m-t-negative"
              >انتخاب نوع گروه ضروری است</small
            >
          </div>
          <!-- Description -->
          <div class="col-md-12 form-group mb-3">
            <label for="description">توضیحات</label>
            <textarea
              name=""
              cols="30"
              rows="10"
              type="text"
              class="form-control form-control-rounded"
              id="description"
              [formControl]="addForm.controls['description']"
              [(ngModel)]="addUpdate.description"
            >
            </textarea>
          </div>
          <div class="col-md-4 form-group mb-3">
            <label for="fileUrl">آدرس فایل</label>
            <input
              type="url"
              class="form-control form-control-rounded"
              id="fileUrl"
              placeholder="آدرس فایل مورد نظر را وارد کنید "
              [formControl]="addForm.controls['fileUrl']"
              [(ngModel)]="addUpdate.fileUrl"
            />
          </div>
          <!-- Url -->
          <!-- isActive -->
          <div class="col-md-6 form-group mb-3 mt-3">
            <label class="m-1">فعال</label>
            <label class="switch switch-primary mr-2 m-2">
              <span>غیرفعال</span>
              <input
                [(ngModel)]="addUpdate.isActive"
                [formControl]="addForm.controls['isActive']"
                type="checkbox"
                id="isActive"
              />
              <span class="slider"></span>
            </label>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark btn-rounded"
        (click)="modal.close(true)"
        *ngIf="addUpdate.id !== 0"
      >
        ویرایش
      </button>
      <button
        type="button"
        class="btn btn-outline-dark btn-rounded"
        (click)="modal.close(false)"
        *ngIf="addUpdate.id === 0"
      >
        ایجاد
      </button>
    </div>
  </ng-template>
  <!-- Delete -->
  <ng-template #deleteConfirmModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">حذف آموزش</h4>
      <button
        type="button"
        class="close"
        aria-label="Close button"
        aria-describedby="modal-title"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p><strong>آیا از حذف مطمئنید؟</strong></p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-secondary btn-rounded mr-1"
        (click)="modal.dismiss('cancel')"
      >
        خیر
      </button>
      <button
        type="button"
        ngbAutofocus
        class="btn btn-wide btn-danger btn-rounded"
        (click)="modal.close('Ok')"
      >
        بله
      </button>
    </div>
  </ng-template>

  <!-- PAGINATION CONTROL -->
  <div class="col-md-12 mt-3" *ngIf="products?.length">
    <pagination-controls
      (pageChange)="page = $event"
      previousLabel=""
      nextLabel=""
    ></pagination-controls>
  </div>
</div>
<div *ngIf="rows?.length == 0" class="row text-center">
  <img
    src="../../../../../assets/images/97434-no-data-available.gif"
    class="gif-fluid col-12"
    alt=""
  />
</div>
