<div class="mb-4 d-block">
  <button
    class="btn btn-primary mb-4"
    type="button"
    [ngClass]="{ 'd-none': viewMode === 'grid' }"
    (click)="addorEdit(addUpdateModal, undefined)"
  >
    ایجاد
  </button>
</div>
<div class="separator-breadcrumb border-top"></div>
<!-- SINGLE LIST ITEM -->
<!----------------------------------- Head Table  -->
<div class="row list-horizontal">
  <div
    class="list-item"
    [ngClass]="{
      'col-md-12': viewMode === 'list',
      'col-md-3': viewMode === 'grid'
    }"
  >
    <div
      class="card bg-dark o-hidden mb-4 d-flex"
      [ngClass]="{
        'flex-row': viewMode === 'list',
        'flex-column': viewMode === 'grid'
      }"
    >
      <div
        class="flex-grow-1"
        [ngClass]="{
          'pl-2 d-flex': viewMode === 'list',
          'd-bock': viewMode === 'grid'
        }"
      >
        <div class="align-self-center text-white">ID</div>
        <div
          id="myHeader"
          class="card-body align-self-center d-flex align-items-lg-center row text-center"
          [ngClass]="{ 'flex-lg-row': viewMode === 'list' }"
        >
          <!-- OTHER DATA -->
          <div class="m-0 col text-white text-lg-center">عنوان</div>
          <div class="m-0 col text-white text-lg-center">توضیحات</div>
          <div class="m-0 col text-white text-lg-center">آدرس فایل</div>
          <div class="m-0 col text-white text-lg-center">active</div>
          <div
            class="m-0 col d-md-block text-light d-lg-block d-xl-block d-sm-none d-none text-lg-center"
          >
            عملیات
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- SINGLE LIST ITEM -->
  <div
    *ngFor="let item of rows"
    class="list-item"
    [ngClass]="{
      'col-md-12': viewMode === 'list',
      'col-md-3': viewMode === 'grid'
    }"
  >
    <div
      class="card o-hidden mb-4 d-flex"
      [ngClass]="{
        'flex-row-2': viewMode === 'list',
        'flex-column': viewMode === 'grid'
      }"
    >
      <!-- <div class="list-thumb">
          <img [src]="item.filePath" width="100px" height="50px" alt="تصویری وجود ندارد">
        </div> -->
      <div
        class=""
        [ngClass]="{
          'pl-2 d-flex': viewMode === 'list',
          'd-block': viewMode === 'grid'
        }"
      >
        <div class="align-self-center">{{ item.id }}</div>
        <div
          class="card-body align-self-center text-center d-flex align-items-lg-center row"
          [ngClass]="{ 'flex-lg-row': viewMode === 'list' }"
        >
          <!-- OTHER DATA -->
          <a href="" class="col">
            <div class="item-title">{{ item.title }}</div>
          </a>
          <div class="m-0 col">
            {{ item.description }}
          </div>
          <div class="m-0 col">
            {{ item.fileUrl }}
          </div>
          <div class="m-0 col">
            <div
              *ngIf="item.isActive === false"
              class="badge badge-dark badge-pill text-center p-2"
            >
              غیر فعال
            </div>
            <div
              *ngIf="item.isActive === true"
              class="badge badge-success badge-pill text-center p-2"
            >
              فعال
            </div>
          </div>

          <div
            class="col d-sm-none d-none d-md-inline-block d-lg-inline-block d-xl-inline-block"
          >
            <div class="text-center col-auto d-flex justify-content-around">
              <div class="m-0 w-25 w-sm-100 mr-sm-2">
                <button
                  class="btn btn-warning"
                  (click)="addorEdit(addUpdateModal, item)"
                  [ngClass]="{ 'd-none': viewMode === 'grid' }"
                >
                  ویرایش
                </button>
              </div>
              <div class="m-0 w-25 w-sm-100 ml-sm-2">
                <button
                  class="btn btn-danger"
                  [ngClass]="{ 'd-none': viewMode === 'grid' }"
                  (click)="deleteLearn(item.id, deleteConfirmModal)"
                >
                  حذف
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="text-center row m-5 d-sm-block d-block d-md-none d-lg-none d-xl-none"
      >
        <h6 class="text-center">عملیات</h6>
        <button
          type="button"
          [ngClass]="{ 'd-none': viewMode === 'grid' }"
          (click)="deleteLearn(item.id, deleteConfirmModal)"
          class="btn btn-outline-danger col-6 m-1"
        >
          حذف
        </button>
        <button
          type="button"
          (click)="addorEdit(addUpdateModal, item)"
          [ngClass]="{ 'd-none': viewMode === 'grid' }"
          class="btn btn-outline-warning col-6 m-1"
        >
          ویرایش
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="rows?.length == 0" class="d-flex justify-content-center">
  <img
    src="../../../../../assets/images/97434-no-data-available.gif"
    class="img-fluid w-50"
    style="opacity: 0.4"
    alt=""
  />
</div>
<!---------------------------------------------- MODALS -->
<!-- Add Or Edit -->
<ng-template #addUpdateModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="addUpdate.id === 0" id="modal-basic-title">
      ایجاد
    </h4>
    <h4 class="modal-title" *ngIf="addUpdate.id !== 0" id="modal-basic-title">
      ویرایش
    </h4>

    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addForm" (ngSubmit)="submit()">
      <div class="row">
        <!-- title -->
        <div class="col-md-6 form-group mb-3">
          <label for="title">عنوان</label>
          <input
            type="text"
            class="form-control form-control-rounded"
            id="title"
            placeholder="عنوان مورد نظر را وارد کنید "
            [formControl]="addForm.controls['title']"
            [(ngModel)]="addUpdate.title"
            maxlength="51"
            minlength="2"
          />

          <small
            *ngIf="
              addForm.controls['title'].hasError('required') &&
              addForm.controls['title'].touched
            "
            class="mat-text-warn m-t-negative"
            >عنوان نام ضروری است</small
          >
          <small
            *ngIf="addForm.controls['title'].hasError('maxlength')"
            class="mat-text-warn m-t-negative"
            >عنوان بیشتر از حد مجاز است</small
          >

          <small
            *ngIf="addForm.controls['title'].hasError('minlength')"
            class="mat-text-warn m-t-negative"
          >
            عنوان کوتاه است</small
          >
        </div>

        <!-- Order ID  -->
        <div class="col-md-4 form-group mb-3">
          <label for="orderID">اولویت را مشخص کنید</label>
          <select
            [formControl]="addForm.controls['orderID']"
            class="form-control form-control-rounded"
            [ngModel]="addUpdate.orderID"
            (ngModelChange)="selectType($event)"
          >
            <option value="0">اولویت بسیار بالا</option>
            <option value="1">اولویت بالا</option>
            <option value="2">اولویت متوسط</option>
            <option value="3">اولویت پایین</option>
            <option value="4">اولویت بسیار پایین</option>
          </select>
          <small
            *ngIf="
              addForm.controls['orderID'].hasError('required') &&
              addForm.controls['orderID'].touched
            "
            class="mat-text-warn m-t-negative"
            >انتخاب نوع گروه ضروری است</small
          >
        </div>
        <!-- Description -->
        <div class="col-md-12 form-group mb-3">
          <label for="description">توضیحات</label>
          <textarea
            name=""
            cols="30"
            rows="10"
            type="text"
            class="form-control form-control-rounded"
            id="description"
            [formControl]="addForm.controls['description']"
            [(ngModel)]="addUpdate.description"
            maxlength="501"
          >
          </textarea>
          <small
            *ngIf="addForm.controls['description'].hasError('maxlength')"
            class="mat-text-warn m-t-negative"
            >توضیحات بیشتر از حد مجاز</small
          >
        </div>
        <div class="col-md-4 form-group mb-3">
          <label for="fileUrl">آدرس فایل</label>
          <input
            type="url"
            class="form-control form-control-rounded"
            id="fileUrl"
            placeholder="آدرس فایل مورد نظر را وارد کنید "
            [formControl]="addForm.controls['fileUrl']"
            [(ngModel)]="addUpdate.fileUrl"
          />
        </div>
        <!-- Url -->
        <!-- isActive -->
        <div class="col-md-6 form-group mb-3 mt-3">
          <label class="m-1">فعال</label>
          <label class="switch switch-primary mr-2 m-2">
            <span>غیرفعال</span>
            <input
              [(ngModel)]="addUpdate.isActive"
              [formControl]="addForm.controls['isActive']"
              type="checkbox"
              id="isActive"
            />
            <span class="slider"></span>
          </label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark btn-rounded"
      (click)="modal.close(true)"
      *ngIf="addUpdate.id !== 0"
    >
      ویرایش
    </button>
    <button
      type="button"
      class="btn btn-outline-dark btn-rounded"
      (click)="modal.close(false)"
      *ngIf="addUpdate.id === 0"
    >
      ایجاد
    </button>
  </div>
</ng-template>
<!-- Delete -->
<ng-template #deleteConfirmModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">حذف آموزش</h4>
    <button
      type="button"
      class="close"
      aria-label="Close button"
      aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>آیا از حذف مطمئنید؟</strong></p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary btn-rounded mr-1"
      (click)="modal.dismiss('cancel')"
    >
      خیر
    </button>
    <button
      type="button"
      ngbAutofocus
      class="btn btn-wide btn-danger btn-rounded"
      (click)="modal.close('Ok')"
    >
      بله
    </button>
  </div>
</ng-template>

<!-- PAGINATION CONTROL -->
<div class="col-md-12 mt-3" *ngIf="products?.length">
  <pagination-controls
    (pageChange)="page = $event"
    previousLabel=""
    nextLabel=""
  ></pagination-controls>
</div>
