<button
  *appCanAccess="'Banner-Add'"
  type="button"
  class="btn btn-create btn-primary mb-4"
  (click)="addorEdit(addUpdateModal, undefined)"
>
  ایجاد
</button>

<div class="separator-breadcrumb border-top"></div>

<div class="row list-horizontal">
  <div
    class="list-item"
    [ngClass]="{
      'col-md-12': viewMode === 'list',
      'col-md-3': viewMode === 'grid'
    }"
  >
    <div
      class="card bg-dark o-hidden mb-4 d-flex"
      [ngClass]="{
        'flex-row': viewMode === 'list',
        'flex-column': viewMode === 'grid'
      }"
    >
      <div
        class="flex-grow-1"
        [ngClass]="{
          'pl-2 d-flex': viewMode === 'list',
          'd-block': viewMode === 'grid'
        }"
      >
        <div class="align-self-center text-white">ID</div>
        <div
          id="myHeader"
          class="card-body align-self-center d-flex align-items-lg-center row text-center"
          [ngClass]="{ 'flex-lg-row': viewMode === 'list' }"
        >
          <!-- OTHER DATA -->
          <div class="m-0 text-white col text-lg-center">عکس</div>
          <div class="m-0 text-white col text-lg-center">عنوان</div>
          <div class="m-0 text-white col text-lg-center">اولویت</div>
          <div class="m-0 text-white col text-lg-center">وضعیت</div>

          <div
            class="m-0 col d-md-block text-light d-lg-block d-xl-block d-sm-none d-none text-lg-center"
          >
            عملیات
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- SINGLE LIST ITEM -->
  <div
    *ngFor="
      let item of rows
        | paginate
          : {
              itemsPerPage: page.size,
              page: page.pageNumber,
              currentPage: page.pageNumber,
              totalItems: page.totalElements
            }
    "
    class="list-item"
    [ngClass]="{
      'col-md-12': viewMode === 'list',
      'col-md-3': viewMode === 'grid'
    }"
  >
    <div
      class="card o-hidden mb-4 d-flex"
      [ngClass]="{
        'flex-row-2': viewMode === 'list',
        'flex-column': viewMode === 'grid'
      }"
    >
      <div class="list-thumb">
        <!-- TUMBNAIL -->
      </div>
      <div
        class="flex-grow-1"
        [ngClass]="{
          'pl-2 d-flex': viewMode === 'list',
          'd-block': viewMode === 'grid'
        }"
      >
        <div class="align-self-center">{{ item.id }}</div>
        <div
          class="card-body align-self-center text-center d-flex align-items-lg-center row"
          [ngClass]="{ 'flex-lg-row': viewMode === 'list' }"
        >
          <!-- OTHER DATA -->
          <a href="" class="col">
            <div class="item-title">
              <img src="{{ item.filePath }}" class="img-card" alt="" />
            </div>
          </a>
          <p class="m-0 col briefed-text">
            {{ item.title }}
          </p>
          <p class="m-0 col briefed-text">
            {{ item.orderID | orderID }}
          </p>
          <div class="col">
            <div
              *ngIf="item.isActive === false"
              class="badge badge-dark badge-rounder text-center p-2"
            >
              غیر فعال
            </div>
            <div
              *ngIf="item.isActive === true"
              class="badge badge-success badge-rounder text-center p-2"
            >
              فعال
            </div>
          </div>
          <div
            class="col d-sm-none d-none d-md-inline-block d-lg-inline-block d-xl-inline-block"
          >
            <div class="text-center col-auto d-flex justify-content-around">
              <div class="w-25 w-sm-100 mr-sm-2">
                <button
                  *appCanAccess="'Banner-Edit'"
                  class="btn btn-warning"
                  (click)="addorEdit(addUpdateModal, item)"
                  [ngClass]="{ 'd-none': viewMode === 'grid' }"
                >
                  ویرایش
                </button>
              </div>
              <div
                class="w-25 w-sm-100 ml-sm-2"
                *appCanAccess="'Banner-Delete'"
              >
                <button
                  class="btn btn-danger"
                  [ngClass]="{ 'd-none': viewMode === 'grid' }"
                  (click)="deleteBanner(item.id, deleteConfirmModal)"
                >
                  حذف
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="text-center row m-5 d-sm-block d-block d-md-none d-lg-none d-xl-none"
      >
        <h6 class="text-center">عملیات</h6>
        <button
          type="button"
          [ngClass]="{ 'd-none': viewMode === 'grid' }"
          (click)="deleteBanner(item.id, deleteConfirmModal)"
          class="btn btn-outline-danger col m-1"
        >
          حذف
        </button>
        <button
          (click)="addorEdit(addUpdateModal, item)"
          type="button"
          [ngClass]="{ 'd-none': viewMode === 'grid' }"
          class="btn btn-outline-warning col m-1"
        >
          ویرایش
        </button>
      </div>
    </div>
  </div>

  <!-- PAGINATION CONTROL -->
  <div class="col-md-12 mt-3" *ngIf="rows?.length > 0">
    <pagination-controls
      (pageChange)="setPage($event)"
      previousLabel=""
      nextLabel=""
    ></pagination-controls>
  </div>
</div>

<div *ngIf="rows?.length == 0" class="d-flex justify-content-center">
  <img
    src="../../../../../assets/images/97434-no-data-available.gif"
    class="img-fluid w-50"
    style="opacity: 0.4"
    alt=""
  />
</div>

<ng-template #deleteConfirmModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">حذف محصول</h4>
    <button
      type="button"
      class="close"
      aria-label="Close button"
      aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>آیا از حذف مطمئنید؟</strong></p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary btn-rounded mr-1"
      (click)="modal.dismiss('cancel')"
    >
      خیر
    </button>
    <button
      type="button"
      ngbAutofocus
      class="btn btn-wide btn-danger btn-rounded"
      (click)="modal.close('Ok')"
    >
      بله
    </button>
  </div>
</ng-template>

<ng-template #addUpdateModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="addUpdate.id === 0" id="modal-basic-title">
      ایجاد
    </h4>
    <h4 class="modal-title" *ngIf="addUpdate.id !== 0" id="modal-basic-title">
      ویرایش
    </h4>

    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addForm" (ngSubmit)="submit()">
      <div class="row">
        <!-- title -->
        <div class="col-md-6 form-group mb-3">
          <label for="title">نام</label>
          <input
            type="text"
            class="form-control form-control-rounded"
            id="title"
            placeholder="نام مورد نظر را وارد کنید "
            [formControl]="addForm.controls['title']"
            [(ngModel)]="addUpdate.title"
          />
          <small
            *ngIf="
              addForm.controls['title'].hasError('required') &&
              addForm.controls['title'].touched
            "
            class="mat-text-warn m-t-negative"
            >ورود نام ضروری است</small
          >
        </div>

        <div class="col-md-12 form-group mb-3">
          <label for="description">توضیحات</label>
          <textarea
            name=""
            cols="30"
            rows="10"
            type="text"
            class="form-control form-control-rounded"
            id="description"
            [formControl]="addForm.controls['description']"
            [(ngModel)]="addUpdate.description"
            maxlength="501"
          >
          </textarea>
          <small
            *ngIf="addForm.controls['description'].hasError('maxlength')"
            class="mat-text-warn m-t-negative"
            >توضیحات بیشتر از حد مجاز</small
          >
        </div>

        <!-- type  -->
        <div class="col-md-6 form-group mb-3">
          <label for="type">جایگاه را مشخص کنید</label>
          <select
            [formControl]="addForm.controls['type']"
            class="form-control form-control-rounded"
            [ngModel]="addUpdate.type"
            (ngModelChange)="selectType($event)"
          >
            <option value="0">BackTest</option>
            <option value="2">HomeTop</option>
            <option value="3">HomeMiddle</option>
            <option value="1">Other</option>
          </select>
          <small
            *ngIf="
              addForm.controls['type'].hasError('required') &&
              addForm.controls['type'].touched
            "
            class="mat-text-warn m-t-negative"
            >انتخاب نوع گروه ضروری است</small
          >
        </div>

        <!-- fileType -->
        <div class="col-md-6 form-group mb-3">
          <label for="fileType">نوع فایل</label>
          <select
            class="form-control form-control-rounded"
            [formControl]="addForm.controls['fileType']"
            (ngModelChange)="selectPath($event)"
            [ngModel]="addUpdate.fileType"
          >
            <option value="0">عکس</option>
            <option value="1">ویدیو</option>
            <option value="2">فایل pdf</option>
          </select>
          <small
            *ngIf="
              addForm.controls['fileType'].hasError('required') &&
              addForm.controls['fileType'].touched
            "
            class="mat-text-warn m-t-negative"
            >انتخاب نوع فایل ضروری است</small
          >
        </div>

        <!-- linkType -->
        <div class="col-md-6 form-group mb-3">
          <label for="linkType">خارجی داخلی </label>
          <select
            [formControl]="addForm.controls['linkType']"
            class="form-control form-control-rounded"
            [ngModel]="addUpdate.linkType"
            (ngModelChange)="selectlinkType($event)"
          >
            <option value="0">داخلی</option>
            <option value="1">خارجی</option>
            <small class="mat-text-warn m-t-negative"
              >انتخاب یکی از موارد ضروری است</small
            >
          </select>
        </div>
        <!-- filePath img -->
        <div
          class="col-12"
          *ngIf="addUpdate.fileType === 0 && addUpdate.fileType !== null"
        >
          <div class="row form-group mb-3">
            <div class="col-6 text-start">
              <img
                *ngIf="addUpdate?.cardImagePath"
                [src]="bannerModel?.filePath"
                [formControl]="addForm.controls['filePath']"
                [(ngModel)]="addUpdate.filePath"
              />
            </div>
            <div class="col-md-7 mt-4">
              <input type="file" (change)="onFileChanged($event)" />

              <div>
                <image-cropper
                  [imageChangedEvent]="imgChangeEvt"
                  [maintainAspectRatio]="true"
                  [aspectRatio]="16 / 9"
                  format="webp"
                  [resizeToWidth]="1280"
                  (imageCropped)="cropImg($event)"
                  (imageLoaded)="imgLoad()"
                  (cropperReady)="initCropper()"
                  (loadImageFailed)="imgFailed()"
                >
                </image-cropper>
              </div>
              <div class="float-left w-25">
                <img [src]="cropImagePreview" alt="" />
              </div>
            </div>

            <div class="col-12 mt-2">
              <button class="btn btn-primary col-2" (click)="uploadFile()">
                آپلود
              </button>
            </div>
            <small
              *ngIf="
                addForm.controls['filePath'].hasError('required') &&
                addForm.controls['filePath'].touched
              "
              class="mat-text-warn m-t-negative"
              >انتخاب یک مورد و آپلود ضروری است</small
            >
          </div>
        </div>

        <!-- Url -->

        <!-- filePath vidoe -->
        <div
          class="col-md-12 form-group mb-3"
          *ngIf="addUpdate.fileType !== 0 && addUpdate.fileType !== null"
        >
          <input
            type="text"
            class="form-control form-control-rounded"
            id="filePath"
            placeholder="آدرس URL  ویدیو خود را وارد کنید"
            [formControl]="addForm.controls['filePath']"
            [(ngModel)]="addUpdate.filePath"
          />
          <small
            *ngIf="
              addForm.controls['filePath'].hasError('required') &&
              addForm.controls['filePath'].touched
            "
            class="mat-text-warn m-t-negative"
            >آدرس URL ضروری است
          </small>
        </div>

        <div class="col-md-6 form-group mb-3">
          <label for="url">url</label>
          <input
            type="text"
            class="form-control form-control-rounded"
            id="url"
            placeholder="عنوان را وارد نمایید."
            [formControl]="addForm.controls['url']"
            [(ngModel)]="addUpdate.url"
          />
          <small
            *ngIf="
              addForm.controls['url'].hasError('required') &&
              addForm.controls['url'].touched
            "
            class="mat-text-warn m-t-negative"
            >ورود url ضروری است</small
          >
        </div>
        <!-- OrderId -->
        <div class="col-md-4 form-group mb-3">
          <label for="orderID">اولویت را مشخص کنید</label>
          <select
            [formControl]="addForm.controls['orderID']"
            class="form-control form-control-rounded"
            [ngModel]="addUpdate.orderID"
            (ngModelChange)="selectOrderId($event)"
          >
            <option value="0">اولویت بسیار بالا</option>
            <option value="1">اولویت بالا</option>
            <option value="2">اولویت متوسط</option>
            <option value="3">اولویت پایین</option>
            <option value="4">اولویت بسیار پایین</option>
          </select>
          <small
            *ngIf="
              addForm.controls['orderID'].hasError('required') &&
              addForm.controls['orderID'].touched
            "
            class="mat-text-warn m-t-negative"
            >انتخاب نوع گروه ضروری است</small
          >
        </div>
        <!-- isActive -->
        <div class="col-md-6 form-group mb-3 mt-3">
          <label class="m-1">فعال</label>
          <label class="switch switch-primary mr-2 m-2">
            <span>غیرفعال</span>
            <input
              [(ngModel)]="addUpdate.isActive"
              [formControl]="addForm.controls['isActive']"
              type="checkbox"
              id="isActive"
            />
            <span class="slider"></span>
          </label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark btn-rounded"
      (click)="modal.close(true)"
      *ngIf="addUpdate.id !== 0"
    >
      <!-- [disabled]="!addForm.valid"
    [disabled]="!addForm.valid" -->

      ویرایش
    </button>
    <button
      type="button"
      class="btn btn-outline-dark btn-rounded"
      (click)="modal.close(false)"
      *ngIf="addUpdate.id === 0"
      [disabled]="!addForm.valid"
    >
      ایجاد
    </button>
  </div>
</ng-template>

<ng-template #modalCropper let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">آپلود و ویرایش تصویر</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body"></div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-rounded btn-outline-dark"
      (click)="modal.close(image)"
    >
      آپلود کن
    </button>
  </div>
</ng-template>
