<ng-container *appCanAccess="'Groups-Add'">
  <button
    _ngcontent-tco-c175=""
    type="button"
    class="btn-add btn d-inline-flex justify-content-around py-btns radius align-items-center mb-4"
    (click)="addorEdit(addUpdateModal, undefined)"
  >
    <i class="i-Add text-bigger mr-2"></i><strong>ایجاد</strong>
  </button>

  <div class="separator-breadcrumb border-top"></div>
</ng-container>

<section class="main-table">
  <table class="table">
    <thead class="bg-dark text-white">
      <tr>
        <th class="rounded--right">ID</th>
        <th>عنوان</th>
        <th>عنوان مجموعه اصلی</th>
        <th>وضعیت</th>
        <th
          class="rounded--left"
          *appCanAccess="['Groups-Edit', 'Groups-Delete']"
        >
          عملیات
        </th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="
          let item of rows
            | paginate
              : {
                  itemsPerPage: page.size,
                  page: page.pageNumber,
                  currentPage: page.pageNumber,
                  totalItems: page.totalElements
                }
        "
      >
        <td>{{ item.id }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.parentGroupTitle }}</td>
        <td *ngIf="item.parentGroupTitle === null">ندارد</td>
        <td *ngIf="item.isActive === false">
          <span class="badge badge-dark badge-rounder p-2">غیر فعال</span>
        </td>
        <td *ngIf="item.isActive === true">
          <span class="badge badge-success badge-rounder text-center p-2"
            >فعال</span
          >
        </td>
        <td class="td-oprate">
          <button
            *appCanAccess="'Groups-Edit'"
            class="btn-light btn d-inline-flex justify-content-around py-btns radius align-items-center"
            (click)="addorEdit(addUpdateModal, item)"
          >
            <i class="i-Pen-5 text-bigger mr-2"></i>
            <strong class="ml-2 text-small">ویرایش</strong>
          </button>
          <button
            *appCanAccess="'Groups-Delete'"
            class="btn-delete btn d-inline-flex justify-content-around py-btns radius align-items-center ml-2"
            (click)="deleteGroup(item, deleteConfirmModal)"
          >
            <i class="i-Close text-bigger mr-2"></i><strong>حذف</strong>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<div class="mt-3" *ngIf="page.totalElements > page.size">
  <pagination-controls
    (pageChange)="setPage($event)"
    previousLabel=""
    nextLabel=""
    responsive="true"
  ></pagination-controls>
</div>

<div *ngIf="rows?.length == 0" class="d-flex justify-content-center">
  <img
    src="../../../../../assets/images/97434-no-data-available.gif"
    class="img-fluid w-50"
    style="opacity: 0.4"
    alt=""
  />
</div>

<ng-template #deleteConfirmModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">حذف گروه</h4>
    <button
      type="button"
      class="close"
      aria-label="Close button"
      aria-describedby="modal-title"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>آیا از حذف مطمئنید؟</strong></p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn-save btn d-inline-flex justify-content-around py-btns radius align-items-center mr-1"
      (click)="modal.dismiss()"
    >
      <i class="i-Close text-bigger mr-2"></i><strong>خیر</strong>
    </button>
    <button
      type="button"
      ngbAutofocus
      class="btn-delete btn d-inline-flex justify-content-around py-btns radius align-items-center"
      (click)="modal.close('Ok')"
    >
      <i class="i-Yes text-bigger mr-2"></i><strong>بله</strong>
    </button>
  </div>
</ng-template>

<ng-template #addUpdateModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="addUpdate.id === 0" id="modal-basic-title">
      ایجاد
    </h4>
    <h4 class="modal-title" *ngIf="addUpdate.id !== 0" id="modal-basic-title">
      ویرایش
    </h4>

    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addForm" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-md-6 form-group mb-3">
          <label for="title">عنوان</label>
          <input
            type="text"
            class="form-control form-control-rounded"
            id="title"
            placeholder="عنوان را وارد نمایید."
            [formControl]="addForm.controls['title']"
            [(ngModel)]="addUpdate.title"
          />
          <small
            *ngIf="
              addForm.controls['title'].hasError('required') &&
              addForm.controls['title'].touched
            "
            class="mat-text-warn m-t-negative"
            >ورود عنوان ضروری است</small
          >
        </div>

        <div class="col-md-6 form-group mb-3">
          <label for="picker1">انتخاب والد</label>
          <select
            [formControl]="addForm.controls['parentID']"
            class="form-control form-control-rounded"
            (ngModelChange)="selectParent($event)"
            [ngModel]="addUpdate.parentID"
          >
            <option value="null">والد ندارد</option>
            <option *ngFor="let item of rows" value="{{ item.id }}">
              {{ item.title }}
            </option>
          </select>
          <small
            *ngIf="
              addForm.controls['parentID'].hasError('required') &&
              addForm.controls['parentID'].touched
            "
            class="mat-text-warn m-t-negative"
            >انتخاب والد ضروری است</small
          >
        </div>

        <!-- <div class="col-md-6 form-group mb-3">
          <label for="picker1">نوع گروه</label>
          <select
            [formControl]="addForm.controls['type']"
            class="form-control form-control-rounded"
            (ngModelChange)="selectType($event)"
            [ngModel]="addUpdate.type"
          >
          <option value="0">تنظیمات</option>
          <option value="1">مقاله  </option>
          <option value="2">FAQ</option>
          </select>
          <small
            *ngIf="
              addForm.controls['type'].hasError('required') &&
              addForm.controls['type'].touched
            "
            class="mat-text-warn m-t-negative"
            >انتخاب نوع گروه  ضروری است</small
          >
        </div> -->

        <div class="col-md-6 form-group mb-3">
          <label class="switch switch-primary mr-3">
            <span>فعال/غیرفعال</span>
            <input
              [(ngModel)]="addUpdate.isActive"
              [formControl]="addForm.controls['isActive']"
              type="checkbox"
            />
            <span class="slider"></span>
          </label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn-save btn d-inline-flex justify-content-around py-btns radius align-items-center"
      (click)="modal.close(true)"
      *ngIf="addUpdate.id !== 0"
      [disabled]="!addForm.valid"
    >
      <i class="i-Yes text-bigger mr-2"></i><strong>ذخیره</strong>
    </button>
    <button
      type="button"
      class="btn-add btn d-inline-flex justify-content-around py-btns radius align-items-center ml-2"
      (click)="modal.close(true)"
      *ngIf="addUpdate.id === 0"
      [disabled]="!addForm.valid"
    >
      <i class="i-Add text-bigger mr-2"></i><strong>ایجاد</strong>
    </button>
  </div>
</ng-template>
