<div class="main-header bg-secondary">
  <div class="logo">
    <img
      src="../../../../../../assets/images/darklogo.png"
      class="logo-img"
      alt=""
    />
  </div>

  <div style="margin: auto"></div>

  <div class="header-part-right">
    <div class="menu-toggle" (click)="toggelSidebar()">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div ngbDropdown [placement]="'bottom-right'" class="user row">
      <div>
        <span class="text-white">
          {{user.firstName}} {{user.lastName}} عزیز
        </span>
        <!-- <i
          id="userDropdown"
          class="i-Male-21"
          ngbDropdownToggle
          style="font-size: 30px; color: #f3f4f6"
        ></i> -->
        <i
        id="userDropdown"
        ngbDropdownToggle
        style="font-size: 30px; color: #f3f4f6"
      ></i>


      </div>

      <div
        ngbDropdownMenu
        aria-labelledby="userDropdown"
        class="header-account-dropdown bg-dark"
      >
        <div class="dropdown-header">
          <i
            class="i-Lock-User mr-1"
            style="font-size: 15px; color: #f3f4f6"
          ></i>
        </div>
        <button class="dropdown-item text-white bg-icon" (click)="signout()">
          خروج
        </button>
      </div>
    </div>
  </div>
</div>
