// .gif-fluid {
//   object-fit: contain;
//   width: 100%;
//   // height: 400px;
// }
// @media screen and (max-width: 1463px) {
//   .margin-right {
//     margin-right: -1.94rem;
//   }
// }

// .notebar-left {
//   width: 400px;
//   max-width: 75% !important;
//   position: fixed;
//   top: 70px;
//   height: 100vh;
//   background: #fff;
//   box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
// }
// @media screen and (min-width: 577px) {
//   .notebar-left {
//     top: 80px;
//   }
// }

// .notebar-left {
//   left: calc(-#{400px} - #{20px});
//   z-index: 90;
//   transition: all 0.24s ease-in-out;
//   &.open {
//     left: 0;
//   }
//   .aside-left {
//     list-style: none;
//     text-align: center;
//     width: 400px;
//     height: 100%;
//     margin: 0;
//     padding: 0;
//     .aside-item {
//       position: relative;
//       display: block;
//       width: 100%;
//       color: #000;
//       &:focus,
//       &:active {
//         outline: none;
//       }
//       &.lvl1 {
//         padding: 0 12px;
//         text-align: justify;
//       }
//       .aside-item-hold {
//         width: 100%;
//         padding: 0 0;
//         &:focus,
//         &:active {
//           outline: none;
//         }
//         .aside-text {
//           font-size: 13px;
//           display: block;
//           font-weight: 400;
//         }
//       }
//     }
//   }
// }
// :is(.my-css) .badge {
//   width: 80px !important;
//   padding: 4px 0;
//   font-size: 16px;
// }
// .clickable-btn {
//   cursor: pointer;
//   font-size: 25px !important;
// }
// .bg-gradient-grey {
//   background: linear-gradient(
//     90deg,
//     rgba(109, 129, 129, 1) 51%,
//     rgba(87, 102, 99, 1) 92%
//   );
// }
// .bg-light-dark {
//   background-color: rgba(63, 67, 67, 0.9411764706);
// }
// .textarea-font {
//   font-size: 13px;
//   color: #fff;
// }
// .bg-green {
//   background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
// }
// .bg-grey {
//   background-color: #f5f7fa6b;
// }
// .rounded-4 {
//   border-radius: 14px;
// }
// .btn-dark-yellow {
//   background-color: #cb9800;
// }
// .btn-green {
//   background-color: #6e6446;
// }
// .add-comment-header-border {
//   height: 15%;
//   border-top-left-radius: 1rem;
//   border-top-right-radius: 1rem;
// }
// .comment-header-border {
//   border-top-left-radius: 0.75rem;
//   border-top-right-radius: 0.75rem;
// }
// .comment-scroll {
//   // height: 350px;

//   overflow-y: scroll;
// }
// #scrollbar2::-webkit-scrollbar {
//   width: 12px;
// }

// #scrollbar2::-webkit-scrollbar-track {
//   border-radius: 8px;
// }

// #scrollbar2::-webkit-scrollbar-thumb {
//   border-radius: 8px;
//   background-color: #363636 !important;
// }
// .position-sm {
//   position: static;
//   height: 500px;
// }
// .card-body {
//   padding-bottom: 0px !important;
// }
// @media (min-width: 499px) {
//   .note-height {
//     width: 400px;
//   }

//   .minimum-height {
//     height: 70%;
//   }
//   @media only screen and (min-width: 1200px) {
//     .afterScroll {
//       position: fixed !important;
//       top: 90px !important;
//     }

//     .auther-start {
//       position: absolute !important;
//     }

//     .auther-end {
//       position: absolute !important;

//       bottom: 0 !important;
//     }
//   }
// }
// .comment-scroll {
//   height: 65% !important;
// }
// .note-footer {
//   height: 35%;
// }
// @media screen and (max-height: 750px) {
//   .afterScroll {
//     bottom: 100px;
//   }
// }

// .note-height {
//   height: inherit;
// }

// .my-webKit::-webkit-scrollbar {
//   display: none;
// }
// .my-webKit {
//   -ms-overflow-style: none; /* IE and Edge */
//   scrollbar-width: none; /* Firefox */
// }

// .bg-lightdark {
//   background-color: #3f4343f0;
// }

// .bg-notes {
//   background-color: #c4ccd1;
// }
// .bg-notes-header {
//   background-color: #5c65b3;
// }
// .rounded-alt {
//   border-radius: 14px !important;
//   border-bottom-left-radius: 0px !important;
//   border-bottom-right-radius: 0px !important;
// }

@media screen and (max-width: 1463px) {
  .margin-right {
    margin-right: -1.94rem;
  }
}
.notebar-left {
  position: fixed;
  top: 70px;
  height: calc(100vh - #{80px});

  background: #fff;
  box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
}
@media screen and (min-width: 577px) {
  .notebar-left {
    top: 80px;
  }
}
.bg-lightdark {
  background-color: #3f4343f0;
}
.btn-confirmed {
  background-color: #cb9800;
}
.btn-final {
  background-color: #6e6446;
}
.btn-rejected {
  background-color: #980404;
}
.success-span {
  background-color: #4caf50 !important;
}
.new-span {
  background-color: #5992c7 !important;
}
.failed-span {
  background-color: #e24c4c !important;
}
.wait-span {
  background-color: #a4d9a4 !important ;
}
.last-span {
  background-color: #85e089 !important ;
}
.notebar-left {
  left: calc(-#{400px} - #{20px});
  z-index: 90;
  transition: all 0.24s ease-in-out;
  &.open {
    left: 0;
  }
  .aside-left {
    list-style: none;
    text-align: center;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 0;
    .aside-item {
      position: relative;
      display: block;
      width: 100%;
      color: #000;
      &:focus,
      &:active {
        outline: none;
      }
      &.lvl1 {
        padding: 0 12px;
        text-align: justify;
      }
      .aside-item-hold {
        width: 100%;
        padding: 0 0;
        &:focus,
        &:active {
          outline: none;
        }
        .aside-text {
          font-size: 13px;
          display: block;
          font-weight: 400;
        }
      }
    }
  }
}
// :is(.my-css) .badge {
//   width: 80px !important;
//   padding: 4px 0;
//   font-size: 16px;
// }
.clickable-btn {
  cursor: pointer;
  font-size: 25px !important;
}
.bg-gradient-grey {
  background: linear-gradient(
    90deg,
    rgba(109, 129, 129, 1) 51%,
    rgba(87, 102, 99, 1) 92%
  );
}
.textarea-font {
  font-size: 13px;
  color: #fff;
}
.bg-green {
  background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
}
.bg-grey {
  background-color: #f5f7fa6b;
}
.syncIcon {
  font-weight: 900;
  border-radius: 50%;
  background: #f9f7fa;
}
.radius-lg {
  border-radius: 16px !important;
}
.padding-fixer {
  padding-left: 46px;
}
.updateNoteBar {
  top: 0;
  bottom: 0;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: none;
  display: block;
  z-index: 89;
  width: 100%;
  overflow: visible;
}
.rounded-4 {
  border-radius: 15px !important;
}
.rounded-alt {
  border-radius: 15px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.bg-notes {
  background-color: #c4ccd1;
}
.bg-notes-header {
  background-color: #5c65b3;
}

.my-webKit::-webkit-scrollbar {
  display: none;
}
.my-webKit {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.bg--gray {
  background-color: rgb(70 85 85);
}
