<div class="my-css">
  <div class="timeline-card card mt-4">
    <div class="card-body">
      <div class="mb-1">
        <strong class="mr-1">مشتری 1 </strong>
        <span class="badge badge-warning mr-1">تایید نشده</span>
        <span class="badge badge-success mr-1">تایید شده</span>
        <p class="text-muted">۱۶ ساعت قبل</p>
      </div>

      <p>نیاز به مشاوره برای خرید دمو دارم</p>
      <div class="mb-3">
        <button type="button" class="btn btn-outline-info m-1">پذیرفتن</button>

        <div class="row">
          <p class="ml-5 col">پذیرفته شده</p>
          <button type="button" class="btn btn-danger btn-rounded m-1">
            حذف پیام
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <ng-template #modalSmall let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      آیا از پذیرش پیام مطمئن هستید
    </h4>
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark btn-rounded">بله</button>
    <button type="button" class="btn btn-outline-dark btn-rounded">خیر</button>
  </div>
</ng-template> -->
