<div class="row g-0 p-0 m-0">
  <div class="col-12 row g-0 p-0 flex-row mb-2">
    <div class="col-auto mb-2">
      <button class="btn btn-secondary" (click)="getUserNeedByUserWant(null)">
        آخرین درخواست ها
      </button>
    </div>
    <div class="col-auto mb-2">
      <button class="btn btn-primary" (click)="getUserNeedByUserWant(0)">
        دمو
      </button>
    </div>
    <div class="col-auto mb-2">
      <button class="btn btn-dark" (click)="getUserNeedByUserWant(1)">
        مشاوره
      </button>
    </div>

    <div class="col-auto mb-2">
      <button
        class="btn btn-dark-yellow text-white"
        (click)="getUserNeedByUserWant(2)"
      >
        مشارکت در سود
      </button>
    </div>
    <div class="col-auto mb-2">
      <button
        class="btn btn-green text-white"
        (click)="getUserNeedByUserWant(3)"
      >
        نمایشگاه
      </button>
    </div>
  </div>
</div>

<div class="my-css">
  <div
    class="timeline-card shadow-lg card mt-4"
    *ngFor="
      let item of rows
        | paginate
          : {
              itemsPerPage: page.size,
              page: page.pageNumber,
              currentPage: page.pageNumber,
              totalItems: page.totalElements
            }
    "
  >
    <div class="card-body">
      <div class="mb-1 row g-0">
        <div class="col-6">
          <div>
            <label for="FullName" class="text-muted">نام و نام خانوادگی:</label>
            <strong class="mr-1"
              >&nbsp;{{ item.firstName }}&nbsp;{{ item.lastName }}
            </strong>
          </div>
          <div *ngIf="userWant === null">
            <label for="FullName" class="text-muted">درخواست:</label>
            <strong class="mr-1">&nbsp;{{ item.userWant | userWants }} </strong>
          </div>
        </div>
        <div class="col-6">
          <label for="FullName" class="text-muted d-block"
            >ایمیل و شماره تماس</label
          >
          <strong class="mr-1"
            >{{ item.email }}<br />{{ item.phoneNumber }}
          </strong>
          <br />
          <strong class="mr-1">{{ item.createDate | relativeTime }} </strong>
        </div>
      </div>
      <div class="mb-3">
        <button
          type="button"
          class="btn btn-outline-success m-1"
          (click)="toggleNotebar(item, 'addNoteElement')"
        >
          یادداشت ها
        </button>
        <button
          (click)="deleteUserNeed(item.id, deleteModal)"
          type="button"
          class="btn btn-danger m-1"
        >
          حذف درخواست
        </button>
      </div>
    </div>
  </div>
  <div id="addNoteElement" class="col-md-12 mt-3" *ngIf="rows?.length > 0">
    <pagination-controls
      (pageChange)="setPage($event, userWant)"
      previousLabel=""
      nextLabel=""
    ></pagination-controls>
  </div>
</div>
<div *ngIf="rows?.length == 0" class="d-flex justify-content-center">
  <img
    src="../../../../../assets/images/97434-no-data-available.gif"
    class="img-fluid w-50"
    alt=""
  />
</div>
<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      آیا از حذف درخواست مطمئن هستید
    </h4>
    <button
      (click)="modal.dismiss()"
      type="button"
      class="close"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark btn-rounded m-1"
      (click)="modal.close(true)"
    >
      بله
    </button>
    <button
      type="button"
      class="btn btn-outline-dark btn-rounded m-1"
      (click)="modal.dismiss()"
    >
      خیر
    </button>
  </div>
</ng-template>
<div
  [ngClass]="{ open: _UserNeedService.sidebarState.sidenavOpen }"
  class="notebar-left rtl-ps-none bg-gradient-grey rounded-4 shadow-lg"
  [perfectScrollbar]="{ suppressScrollX: true }"
>
  <div class="mt-4 ml-3">
    <i
      (click)="updateNotebar()"
      ngbTooltip="بستن"
      [openDelay]="100"
      [closeDelay]="500"
      placement="bottom"
      class="i-Close bg-white text-dark border-0 clickable-btn rounded-circle"
    ></i>
  </div>

  <hr class="separator-breadcrumb mt-2 mb-1" />
  <div class="p-2"><h4 class="pl-2 text-light">یادداشت ها</h4></div>
  <ul class="aside-left">
    <li class="aside-item lvl1">
      <div class="aside-item-hold">
        <div class="my-css">
          <div>
            <div class="timeline-card card mt-2">
              <div class="card-header bg-dark m-0 p-0">
                <p class="text-white m-0 p-2">یادداشت شماره 1</p>
              </div>
              <div class="card-body bg-secondary">
                <p class="text-white" *ngIf="toggled == true">
                  {{ note.phoneNumber }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <hr class="separator-breadcrumb mt-0 mb-1" />
  <div class="ml-3">
    <form action="">
      <div class="row">
        <div class="col-10 form-group mb-3 mt-3">
          <label class="text-white" for="title">ایجاد یادداشت</label>
          <textarea
            type="text"
            class="form-control bg-dark textarea-font"
          ></textarea>
        </div>
      </div>
    </form>
    <button type="button" class="btn btn-light mb-2">ایجاد</button>
  </div>
</div>
