<div class="my-css">
  <div class="timeline-card card mt-4" *ngFor="let item of rows">
    <div class="card-body">
      <div class="mb-1 row g-0">
        <div class="col-6">
          <div>
            <label for="FullName" class="text-muted">نام و نام خانوادگی:</label>
            <strong class="mr-1"
              >&nbsp;{{ item.firstName }}&nbsp;{{ item.lastName }}
            </strong>
          </div>
          <div>
            <label for="FullName" class="text-muted">درخواست:</label>
            <strong class="mr-1">&nbsp;{{ item.userWant | userWants }} </strong>
          </div>
        </div>
        <div class="col-6">
          <label for="FullName" class="text-muted d-block"
            >ایمیل و شماره تماس</label
          >
          <strong class="mr-1"
            >&nbsp;{{ item.email }}_{{ item.phoneNumber }}
          </strong>
        </div>
      </div>
      <div class="mb-3">
        <button
          (click)="deleteUserNeed(item.id, deleteModal)"
          type="button"
          class="btn btn-danger btn-rounded m-1"
        >
          حذف درخواست
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="rows?.length == 0" class="row text-center">
  <img
    src="../../../../../assets/images/97434-no-data-available.gif"
    class="gif-fluid col-12"
    alt=""
  />
</div>
<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      آیا از حذف درخواست مطمئن هستید
    </h4>
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark btn-rounded"
      (click)="modal.close(true)"
    >
      بله
    </button>
    <button
      type="button"
      class="btn btn-outline-dark btn-rounded"
      (click)="modal.close(false)"
    >
      خیر
    </button>
  </div>
</ng-template>
