<div class="card row mt-2 px-3" *ngIf="isDataFetched">
  <form [formGroup]="addForm" class="row">
    <!-- name -->

    <div class="col-md-6 form-group mb-3">
      <label for="firstName">نام</label>
      <input
        type="text"
        class="form-control radius"
        id="firstName"
        placeholder="نام را وارد کنید "
        [formControl]="addForm.controls['firstName']"
        [(ngModel)]="addUpdate.firstName"
        maxlength="51"
        minlength="2"
        [attr.disabled]="isEdit ? true : null"
      />

      <small
        *ngIf="
          addForm.controls['firstName'].hasError('required') &&
          addForm.controls['firstName'].touched
        "
        class="mat-text-warn m-t-negative"
        >نام ضروری است</small
      >
    </div>
    <!-- lastName -->

    <div class="col-md-6 form-group mb-3">
      <label for="lastName">نام خانوادگی</label>
      <input
        type="text"
        class="form-control radius"
        id="lastName"
        placeholder="نام خانوادگی را وارد کنید "
        [formControl]="addForm.controls['lastName']"
        [(ngModel)]="addUpdate.lastName"
        maxlength="51"
        minlength="2"
        [attr.disabled]="isEdit ? true : null"
      />

      <small
        *ngIf="
          addForm.controls['lastName'].hasError('required') &&
          addForm.controls['lastName'].touched
        "
        class="mat-text-warn m-t-negative"
        >نام خانوادگی ضروری است</small
      >
    </div>
    <!-- userName -->
    <div class="col-md-6 form-group mb-3">
      <label for="username">نام کاربری</label>
      <input
        type="text"
        class="form-control radius"
        id="username"
        placeholder="نام کاربری مورد نظر را وارد کنید "
        [formControl]="addForm.controls['username']"
        [(ngModel)]="addUpdate.subject"
        maxlength="51"
        minlength="2"
        [attr.disabled]="true"
      />

      <small
        *ngIf="
          addForm.controls['username'].hasError('required') &&
          addForm.controls['username'].touched
        "
        class="mat-text-warn m-t-negative"
        >نام کاربری ضروری است</small
      >
    </div>
    <!-- email -->
    <div class="col-md-6 form-group mb-3">
      <label for="email">ایمیل</label>
      <input
        type="email"
        class="form-control radius"
        id="email"
        placeholder="ایمیل را وارد کنید "
        [formControl]="addForm.controls['email']"
        [(ngModel)]="addUpdate.email"
        maxlength="51"
        minlength="2"
        [attr.disabled]="true"
      />

      <small
        *ngIf="
          addForm.controls['email'].hasError('required') &&
          addForm.controls['email'].touched
        "
        class="mat-text-warn m-t-negative"
        >ایمیل ضروری است</small
      >
    </div>

    <div class="col-md-6 form-group mb-3">
      <label for="phoneNumber">شماره تماس</label>
      <input
        type="phoneNumber"
        class="form-control radius"
        id="phoneNumber"
        placeholder="شماره تماس مورد نظر را وارد کنید "
        [formControl]="addForm.controls['phoneNumber']"
        [(ngModel)]="addUpdate.phoneNumber"
        maxlength="11"
        minlength="2"
        [attr.disabled]="isEdit ? true : null"
      />

      <small
        *ngIf="
          addForm.controls['phoneNumber'].hasError('required') &&
          addForm.controls['phoneNumber'].touched
        "
        class="mat-text-warn m-t-negative"
        >شماره تماس ضروری است</small
      >
    </div>
    <div class="col-md-6 d-flex align-items-end mb-3 flex-wrap">
      <button
        type="button"
        class="btn-download btn d-flex justify-content-around py-btns radius align-items-center text-dark"
        (click)="isEdit = false"
        *ngIf="isEdit"
      >
        <i class="i-Pen-2 text-bigger mr-2"></i
        ><strong class="text-small">ویرایش پروفایل</strong>
      </button>

      <button
        type="button"
        class="btn-save btn d-flex justify-content-around py-btns radius align-items-center mt-2 mt-sm-0"
        (click)="updateUser()"
        *ngIf="!isEdit"
      >
        <i class="i-Yes text-bigger mr-2"></i
        ><strong class="text-small">ذخیره</strong>
      </button>

      <button
        type="button"
        class="btn-delete btn d-flex justify-content-around py-btns radius align-items-center ml-2 mt-2 mt-sm-0"
        (click)="isEdit = true"
        *ngIf="!isEdit"
      >
        <i class="i-Close text-bigger mr-2"></i
        ><strong class="text-small">انصراف</strong>
      </button>

      <button
        (click)="openPasswordModal(passwordModal)"
        type="button"
        class="btn-upload btn d-flex justify-content-around py-btns radius align-items-center ml-2 mt-2 mt-sm-0"
        *ngIf="isEdit"
      >
        <i class="i-Key text-bigger mr-2"></i
        ><strong class="text-small">تغییر رمز عبور</strong>
      </button>
      <button
        *ngIf="isEdit"
        type="button"
        (click)="getReferral(repModal, userReferralModalCreate)"
        class="btn-download btn d-inline-flex justify-content-around py-btns radius align-items-center ml-2 mt-2 mt-sm-0"
      >
        <i class="i-Business-Man text-bigger mr-2"></i>
        <strong class="text-small">معرف من </strong>
      </button>
    </div>
  </form>
</div>

<!--  -->

<ng-template #passwordModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">تغییر رمز عبور</h4>

    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss(false)"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="passwordForm" (ngSubmit)="submit()">
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12 form-group mb-3 mt-3">
          <label for="firstName ">رمز عبور قبلی</label>
          <input
            name="oldPassword"
            id="oldPassword"
            class="form-control"
            [(ngModel)]="password.oldPassword"
            [formControl]="passwordForm.controls['oldPassword']"
            type="password"
          />
        </div>
        <div class="col-sm-12 form-group mb-3 mt-3">
          <label for="firstName ">رمز عبور جدید </label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            [(ngModel)]="password.password"
            [formControl]="passwordForm.controls['password']"
          />
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn-save btn d-inline-flex justify-content-around py-btns radius align-items-center"
        ngbAutofocus
        (click)="modal.close(true)"
      >
        <i class="i-Yes text-bigger mr-2"></i><strong>تایید</strong>
      </button>

      <button
        type="button"
        class="btn-delete btn d-inline-flex justify-content-around py-btns radius align-items-center ml-2"
        (click)="modal.close(false)"
      >
        <i class="i-Close text-bigger mr-2"></i><strong>انصراف</strong>
      </button>
    </div>
  </form>
</ng-template>

<ng-template #repModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">معرف</h4>

    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <p>
      <span>{{ referral.firstname }}</span>
      <span class="ml-1">{{ referral.lastName }}</span>
    </p>

    <button
      class="btn-upload btn d-inline-flex justify-content-around py-btns radius align-items-center"
      (click)="[modal.dismiss(), sendUserReferralChange(userReferralModal)]"
    >
      <i class="i-Pen-5 text-bigger mr-2"></i>
      <strong>تغییر معرف</strong>
    </button>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn-details btn d-inline-flex justify-content-around py-btns radius align-items-center mr-1"
      (click)="modal.dismiss()"
    >
      <i class="i-Close text-bigger mr-2"></i>
      <strong>متوجه شدم</strong>
    </button>
  </div>
</ng-template>

<ng-template #userReferralModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">تغییر معرف</h4>

    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body px-4">
    <div class="col-md-6 d-flex flex-column p-0">
      <label for="referralCode">کد معرف جدید</label>
      <input type="text" id="referralCode" [(ngModel)]="userReferral.title" />
    </div>

    <div class="d-flex flex-column mt-2">
      <label for="referralDescription">توضیحات</label>
      <textarea
        id="referralDescription"
        cols="30"
        rows="10"
        [(ngModel)]="userReferral.description"
      ></textarea>
    </div>
  </div>

  <div class="modal-footer">
    <button
      (click)="modal.close()"
      type="button"
      class="btn-download btn d-inline-flex justify-content-around py-btns radius align-items-center mr-1"
    >
      <i class="i-Yes text-bigger mr-2"></i>
      <strong>تایید</strong>
    </button>

    <button
      type="button"
      class="btn-delete btn d-inline-flex justify-content-around py-btns radius align-items-center mr-1"
      (click)="modal.dismiss()"
    >
      <i class="i-Close text-bigger mr-2"></i>
      <strong>انصراف</strong>
    </button>
  </div>
</ng-template>

<ng-template #userReferralModalCreate let-modal>
  <div class="modal-header">
    <h4 class="modal-title">ایجاد معرف</h4>

    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body px-4">
    <div class="col-md-6 d-flex flex-column p-0">
      <label for="referralCode">کد معرف جدید</label>
      <input
        type="text"
        class="form-control radius"
        id="referralCode"
        [(ngModel)]="userReferral.title"
      />
    </div>

    <div class="d-flex flex-column mt-2">
      <label for="referralDescription">توضیحات</label>
      <textarea
        class="form-control radius"
        id="referralDescription"
        cols="30"
        rows="10"
        [(ngModel)]="userReferral.description"
      ></textarea>
    </div>
  </div>

  <div class="modal-footer">
    <button
      (click)="modal.close()"
      type="button"
      class="btn-download btn d-inline-flex justify-content-around py-btns radius align-items-center mr-1"
    >
      <i class="i-Yes text-bigger mr-2"></i>
      <strong>تایید</strong>
    </button>

    <button
      type="button"
      class="btn-delete btn d-inline-flex justify-content-around py-btns radius align-items-center mr-1"
      (click)="modal.dismiss()"
    >
      <i class="i-Close text-bigger mr-2"></i>
      <strong>انصراف</strong>
    </button>
  </div>
</ng-template>
