<div class="row">
  <form class="col-12 row mt-2 mb-3" [formGroup]="addForm">
    <!-- name -->

    <div class="col-md-6 form-group mb-3">
      <label for="firstName">نام</label>
      <input type="text" class="form-control form-control-rounded" id="firstName" placeholder="نام را وارد کنید "
        [formControl]="addForm.controls['firstName']" [(ngModel)]="addUpdate.firstName" maxlength="51" minlength="2"
        [attr.disabled]="isEdit? true : null"/>

      <small *ngIf="
          addForm.controls['firstName'].hasError('required') &&
          addForm.controls['firstName'].touched
        " class="mat-text-warn m-t-negative">نام ضروری است</small>
    </div>
    <!-- lastName -->

    <div class="col-md-6 form-group mb-3">
      <label for="lastName">نام خانوادگی</label>
      <input type="text" class="form-control form-control-rounded" id="lastName"
        placeholder="نام خانوادگی را وارد کنید " [formControl]="addForm.controls['lastName']"
        [(ngModel)]="addUpdate.lastName" maxlength="51" minlength="2" [attr.disabled]="isEdit? true : null"  />

      <small *ngIf="
          addForm.controls['lastName'].hasError('required') &&
          addForm.controls['lastName'].touched
        " class="mat-text-warn m-t-negative">نام خانوادگی ضروری است</small>
    </div>
    <!-- userName -->
    <div class="col-md-6 form-group mb-3">
      <label for="username">نام کاربری</label>
      <input type="text" class="form-control form-control-rounded" id="username"
        placeholder="نام کاربری مورد نظر را وارد کنید " [formControl]="addForm.controls['username']"
        [(ngModel)]="addUpdate.email" maxlength="51" minlength="2" [attr.disabled]="true"  />

      <small *ngIf="
              addForm.controls['username'].hasError('required') &&
              addForm.controls['username'].touched
            " class="mat-text-warn m-t-negative">نام کاربری ضروری است</small>
    </div>
    <!-- email -->
    <div class="col-md-6 form-group mb-3">
      <label for="email">ایمیل</label>
      <input type="email" class="form-control form-control-rounded" id="email"
        placeholder="ایمیل را وارد کنید " [formControl]="addForm.controls['email']"
        [(ngModel)]="addUpdate.email" maxlength="51" minlength="2" [attr.disabled]="true"  />

      <small *ngIf="
                addForm.controls['email'].hasError('required') &&
                addForm.controls['email'].touched
              " class="mat-text-warn m-t-negative">ایمیل ضروری است</small>
    </div>

    <div class="col-md-6 form-group mb-3">
      <label for="phoneNumber">شماره تماس</label>
      <input type="phoneNumber" class="form-control form-control-rounded" id="phoneNumber"
        placeholder="شماره تماس مورد نظر را وارد کنید " [formControl]="addForm.controls['phoneNumber']"
        [(ngModel)]="addUpdate.phoneNumber" maxlength="51" minlength="2" [attr.disabled]="isEdit? true : null"  />

      <small *ngIf="
                addForm.controls['phoneNumber'].hasError('required') &&
                addForm.controls['phoneNumber'].touched
              " class="mat-text-warn m-t-negative">شماره تماس ضروری است</small>
    </div>

    <div class="col-md-6 form-group mb-3">
      <label for="referralCode">کد معرف شما</label>
      <input type="referralCode" class="form-control form-control-rounded" id="referralCode"
        placeholder="کد معرف را وارد کنید " [formControl]="addForm.controls['referralCode']"
        [(ngModel)]="addUpdate.referralCode" maxlength="51" minlength="2" [attr.disabled]="true"/>

      <small *ngIf="
                addForm.controls['referralCode'].hasError('required') &&
                addForm.controls['referralCode'].touched
              " class="mat-text-warn m-t-negative">کد معرف ضروری است</small>
    </div>
    <button
    type="button"
    class="btn btn-outline-dark btn-rounded"
    (click)="isEdit=false"
    *ngIf="isEdit"
  >
    ویرایش
  </button>
  <button
  type="button"
  class="btn btn-outline-dark btn-rounded"
  (click)="isEdit=false"
  *ngIf="!isEdit"
>
  ذخیر
</button>
  </form>
</div>
