<div class="breadcrumb">
  <h1>Basic</h1>
  <ul>
    <li><a href="">Form</a></li>
    <li>Basic</li>
  </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="card-title mb-3">ورودی های فرم</div>
        <form
          ng-reflect-form="[object Object]"
          class="ng-untouched ng-pristine ng-valid"
        >
          <div class="row">
            <div class="col-md-6 form-group mb-3">
              <label for="Title ">عنوان</label
              ><input
                type="text"
                id="title"
                placeholder="عنوان"
                class="form-control"
              />
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="Product">محصول</label
              ><input
                type="text"
                id="Product "
                placeholder="محصول "
                class="form-control"
              />
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="ProductID">شناسه محصول</label
              ><input
                type="text"
                id="ProductID"
                placeholder="شناسه محصول "
                class="form-control"
              />
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="Price">قیمت</label
              ><input
                type="text"
                id="Price"
                placeholder="قیمت"
                class="form-control"
              />
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="ExpireDate">تاریخ انقضا</label
              ><input
                type="text"
                id="ExpireDate"
                placeholder="تاریخ انقضا"
                class="form-control"
              />
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="Features">امکانات</label
              ><input
                type="text"
                id="Features"
                placeholder="امکانات"
                class="form-control"
              />
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="OrderID">شماره شناسه</label
              ><input
                type="text"
                id="OrderID"
                placeholder="شماره شناسه"
                class="form-control"
              />
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="Description">توضیحات </label
              ><textarea
                _ngcontent-oie-c199=""
                id="Description"
                aria-label="With textarea"
                class="form-control"
              ></textarea>
            </div>
            <div class="input-group mb-3">
              <div class="custom-file">
                <input
                  type="file"
                  id="inputGroupFile02"
                  class="custom-file-input"
                /><label
                  for="inputGroupFile02"
                  aria-describedby="inputGroupFileAddon02"
                  class="custom-file-label"
                ></label>
              </div>
              <div class="input-group-append">
                <span id="IconPath" class="input-group-text">آپلود آیکون</span>
              </div>
            </div>
          </div>

          <label class="checkbox checkbox-success"
            ><input
              _ngcontent-yio-c138=""
              type="checkbox"
              checked="IsActive"
              id="IsActive" /><span _ngcontent-yio-c138="">فعال است </span
            ><span class="checkmark"></span
          ></label>

          <button type="button" class="btn btn-primary btn-block m-1">
            ثبت
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="breadcrumb">
  <h1>لیست</h1>
  <ul>
    <li><a href="">جدول داده ها</a></li>
    <li>لیست</li>
  </ul>
</div>

<div class="separator-breadcrumb border-top"></div>
<div class="row mb-4">
  <!-- GRID AND LIST BUTTONS -->

  <!-- SELECT CEHECKBOX -->
</div>

<div class="row">
  <div class="col-md-3">
    <div class="card card-profile-1 mb-4">
      <div class="card-body text-center">
        <div class="avatar box-shadow-2 mb-2">
          <img src="./assets/images/faces/16.jpg" alt="icon" />
        </div>
        <span class="badge badge-pill badge-success text-end p-2 mb-1 mr-1"
          >Success</span
        >
        <h6 class="m-0">Jassica Hike</h6>
        <p class="mt-0 text-muted">UI/UX Designer</p>
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <h6 class="text-center">امکانات</h6>
            </ng-template>
            <ng-template ngbPanelContent>
              <span class="text-justify">
                <ol>
                  <li class="col"></li>
                  <li class="col"></li>
                  <li class="col"></li>
                </ol>
              </span>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>

        <button
          class="btn btn-primary btn-block mt-2"
          (click)="open(modalLong)"
        >
          ویرایش
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card card-profile-1 mb-4">
      <div class="card-body text-center">
        <div class="avatar box-shadow-2 mb-2">
          <img src="./assets/images/faces/16.jpg" alt="icon" />
        </div>
        <span class="badge badge-pill badge-success text-end p-2 mb-1 mr-1"
          >Success</span
        >
        <h6 class="m-0">Jassica Hike</h6>
        <p class="mt-0 text-muted">UI/UX Designer</p>
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <h6 class="text-center">امکانات</h6>
            </ng-template>
            <ng-template ngbPanelContent>
              <span class="text-justify">
                <ol>
                  <li class="col"></li>
                  <li class="col"></li>
                  <li class="col"></li>
                </ol>
              </span>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>

        <button
          class="btn btn-primary btn-block mt-2"
          (click)="open(modalLong)"
        >
          ویرایش
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card card-profile-1 mb-4">
      <div class="card-body text-center">
        <div class="avatar box-shadow-2 mb-2">
          <img src="./assets/images/faces/16.jpg" alt="icon" />
        </div>
        <span class="badge badge-pill badge-success text-end p-2 mb-1 mr-1"
          >Success</span
        >
        <h6 class="m-0">Jassica Hike</h6>
        <p class="mt-0 text-muted">UI/UX Designer</p>
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <h6 class="text-center">امکانات</h6>
            </ng-template>
            <ng-template ngbPanelContent>
              <span class="text-justify">
                <ol>
                  <li class="col"></li>
                  <li class="col"></li>
                  <li class="col"></li>
                </ol>
              </span>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>

        <button
          class="btn btn-primary btn-block mt-2"
          (click)="open(modalLong)"
        >
          ویرایش
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card card-profile-1 mb-4">
      <div class="card-body text-center">
        <div class="avatar box-shadow-2 mb-2">
          <img src="./assets/images/faces/16.jpg" alt="icon" />
        </div>
        <span class="badge badge-pill badge-success text-end p-2 mb-1 mr-1"
          >Success</span
        >
        <h6 class="m-0">Jassica Hike</h6>
        <p class="mt-0 text-muted">UI/UX Designer</p>
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <h6 class="text-center">امکانات</h6>
            </ng-template>
            <ng-template ngbPanelContent>
              <span class="text-justify">
                <ol>
                  <li class="col"></li>
                  <li class="col"></li>
                  <li class="col"></li>
                </ol>
              </span>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>

        <button
          class="btn btn-primary btn-block mt-2"
          (click)="open(modalLong)"
        >
          ویرایش
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #modalLong let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modal With large content</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
      blanditiis ipsam voluptate eveniet. Ipsum, vero similique? Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Aspernatur blanditiis ipsam
      voluptate eveniet. Ipsum, vero similique?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
      blanditiis ipsam voluptate eveniet. Ipsum, vero similique? Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Aspernatur blanditiis ipsam
      voluptate eveniet. Ipsum, vero similique?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
      blanditiis ipsam voluptate eveniet. Ipsum, vero similique? Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Aspernatur blanditiis ipsam
      voluptate eveniet. Ipsum, vero similique?
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark btn-rounded"
      (click)="modal.close('ok')"
    >
      Ok
    </button>
  </div>
</ng-template>
