<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink>ایجاد یا ویرایش</a>
    <ng-template ngbNavContent> ویرایش </ng-template>
  </li>
  <li ngbNavItem [disabled]="productId == 0">
    <a ngbNavLink>بک تست </a>
    <ng-template ngbNavContent>
      <app-back-test [productId]="productId"></app-back-test>
    </ng-template>
  </li>

  <li ngbNavItem [disabled]="productId == 0">
    <a ngbNavLink>آموزش </a>
    <ng-template ngbNavContent>
      <app-learn [productId]="productId"></app-learn>
    </ng-template>

  </li>
  <li ngbNavItem [disabled]="productId == 0">
    <a ngbNavLink>پلن های فروش </a>
    <ng-template ngbNavContent>
      <app-plan [productId]="productId"></app-plan>
    </ng-template>
  </li>
  <li ngbNavItem [disabled]="productId == 0">
    <a ngbNavLink>FAQ</a>
    <ng-template ngbNavContent>
      <app-faq [productId]="productId" [tableType]="6"></app-faq>
    </ng-template>
  </li>
  <li ngbNavItem [disabled]="productId == 0">
    <a ngbNavLink>نظرات </a>
    <ng-template ngbNavContent>
      <app-comment [productId]="productId" [tableType]="6"></app-comment>
    </ng-template>
  </li>
</ul>



<div [ngbNavOutlet]="nav"></div>
