.list-gutter {
    margin: 0 0 0 12px !important;
}
input[type="file"] {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fbfbfb;
    border-radius: 10px;
    border: 1px solid #efefef;
  }
  // Input Button File
  input[type="file"]::file-selector-button {
    margin-right: 4px;
    border: none;
    background: #5e6a69;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
  }
  
  input[type="file"]::file-selector-button:hover {
    background: #4a5352;
  }
  .text-align{
    text-align: center;
  }
  .col-color {
    display: flex;
    align-items: center;
    margin-left: 1rem;
  }
  .box-color {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }