<ng-container *ngIf="ifDataExist">
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink
        >
        <p *ngIf="addUpdate.id == 0">ایجاد</p>
        <p *ngIf="addUpdate.id !== 0">ویرایش</p></a
      >
      <ng-template ngbNavContent>
        <div class="row">
          <!-- cardImagePath img -->
          <ng-container *ngIf="addUpdate.fileExists">
            <div
              class="d-flex justify-content-end align-items-end col-md-3 col-5 mb-5 mt-1"
            >
              <img
                (error)="addUpdate.fileExists = false"
                class="align-self-center w-100 radius-md"
                [src]="'https://dl.iraniexpert.com/' + addUpdate.cardImagePath"
                [alt]="addUpdate.title"
              />
            </div>
            <div class="col-md-6 col-5">
              <button
                *appCanAccess="'ProductT-Edit'"
                class="btn-delete btn d-inline-flex justify-content-around py-btns radius align-items-center mr-1"
                (click)="deleteImg(addUpdate.cardImagePath)"
              >
                <i class="i-Close text-bigger mr-2"></i><strong>حذف</strong>
              </button>
            </div>
          </ng-container>
          <ng-container *ngIf="!addUpdate.fileExists">
            <div
              class="col-md-7 mt-4"
              *appCanAccess="['ProductT-Edit', 'ProductT-Add']"
            >
              <label class="d-block" for="picker1">انتخاب تصویر</label>
              <div class="col-md-7 mt-4">
                <input
                type="file"
                class="text-small"
                id="files"
                (change)="
                  this.isFileValid = checkFileValidation($event)
                "
                [ngModel]="imageInputText"
              />
              <div
              class="d-flex flex-row flex-wrap justify-content-around align-items-center col-10 col-lg-4 col-md-8"
            >
            <button
            [disabled]="!isFileValid"
            class="btn-upload btn d-inline-flex justify-content-start py-btns radius align-items-center m-1"
            (click)="uploadImg()"
            *ngIf="imageUploadProccess==0"
          >
            <i class="i-Upload text-dark text-bigger mr-3"></i>
            <strong class="text-small">آپلود</strong>
          </button>
          <div
          *ngIf="imageUploadProccess > 0 && imageUploadProccess < 100"
          class="progress bg-progress-container radius-progress m-2 flex-grow-1"
          style="height: 32px"
        >
          <div
            class="progress-bar bg-progressbar radius-progress pl-1"
            [style.width]="progress + '%'"
          >
            {{ progress }}%
          </div>
        </div>
        
            </div>
            <div class="col-8 col-md-6 col-lg-5">
             <!-- <image-cropper
                [maintainAspectRatio]="false"
                [resizeToWidth]="1280"
                [imageChangedEvent]="imgChangeEvt"
                format="webp"
                (imageCropped)="cropImg($event)"
                *ngIf="imageUploadProccess==0"
              >
              </image-cropper>  -->
              </div>
         
                <div class="float-left w-25">
                  <img [src]="cropImagePreview" alt=""  />
                </div>
                <button
                class="btn-delete btn mt-2 d-inline-flex justify-content-around py-btns radius align-items-center"
                (click)="deleteImg(addUpdate.cardImagePath)"
                 *ngIf="imageUploadProccess==100">
                <i class="i-Close text-bigger mr-2"></i>
                <strong>حذف</strong>
              </button>
              </div>
              <div>

              </div>
           
            </div>
            <!-- <div class="col-12 mt-1 mb-2">
              <button
                type="button"
                [disabled]="!cropImagePreview"
                class="btn-upload btn d-inline-flex justify-content-around py-btns radius align-items-center"
                (click)="uploadFile()"
              >
                <i class="i-Upload text-bigger mr-2"></i>
                <strong>آپلود کن</strong>
              </button>
            </div> -->
          </ng-container>
          <form class="col-12 row mt-2 mb-3" [formGroup]="addForm">
            <!-- Title -->
            <div class="col-md-6 form-group mb-3">
              <label for="title">عنوان</label>
              <input
                type="text"
                class="form-control form-control-rounded"
                id="title"
                placeholder="عنوان مورد نظر را وارد کنید "
                [formControl]="addForm.controls['title']"
                [(ngModel)]="addUpdate.title"
                maxlength="51"
                minlength="2"
              />

              <small
                *ngIf="
                  addForm.controls['title'].hasError('required') &&
                  addForm.controls['title'].touched
                "
                class="mat-text-warn m-t-negative"
                >عنوان محصول ضروری است</small
              >
            </div>
            <!-- type  -->
            <div class="col-md-6 form-group mb-3">
              <label>نوع محصول را انتخاب کنید</label>
              <select
                [formControl]="addForm.controls['type']"
                class="form-control form-control-rounded"
                [ngModel]="addUpdate.type"
                (ngModelChange)="selectType($event)"
              >
                <option value="0">اکسپرت</option>
                <option value="1">اندیکاتور</option>
                <option value="2">کمکی</option>
              </select>
              <small
                *ngIf="
                  addForm.controls['type'].hasError('required') &&
                  addForm.controls['type'].touched
                "
                class="mat-text-warn m-t-negative"
                >انتخاب نوع گروه ضروری است</small
              >
            </div>
            <!-- OrderId  -->
            <div class="col-md-6 form-group mb-3">
              <label for="orderID">اولویت را مشخص کنید</label>
              <select
                [formControl]="addForm.controls['orderID']"
                class="form-control form-control-rounded"
                [ngModel]="addUpdate.orderID"
                (ngModelChange)="selectOrder($event)"
              >
                <option value="0">بسیار بالا</option>
                <option value="1">بالا</option>
                <option value="2">متوسط</option>
                <option value="3">پایین</option>
                <option value="4">بسیار پایین</option>
              </select>
              <small
                *ngIf="
                  addForm.controls['orderID'].hasError('required') &&
                  addForm.controls['orderID'].touched
                "
                class="mat-text-warn m-t-negative"
                >انتخاب نوع گروه ضروری است</small
              >
            </div>
            <!-- isActive  -->
            <div class="col-md-6 form-group mb-3 mt-3">
              <label class="m-1">فعال</label>
              <label class="switch switch-primary mr-2 m-2">
                <span>غیرفعال</span>
                <input
                  [(ngModel)]="addUpdate.isActive"
                  [formControl]="addForm.controls['isActive']"
                  type="checkbox"
                  id="isActive"
                />
                <span class="slider"></span>
              </label>
            </div>
            <!-- description  -->
            <div class="col-md-12 form-group mb-3">
              <label for="description">توضیحات</label>
              <textarea
                name=""
                cols="30"
                rows="10"
                type="text"
                class="form-control form-control-rounded"
                id="description"
                [formControl]="addForm.controls['description']"
                [(ngModel)]="addUpdate.description"
                maxlength="501"
              >
              </textarea>
              <small
                *ngIf="addForm.controls['description'].hasError('maxlength')"
                class="mat-text-warn m-t-negative"
                >توضیحات بیشتر از حد مجاز</small
              >
            </div>
          </form>
        </div>
        <ng-container *appCanAccess="'ProductT-Edit'">
          <button
            type="button"
            class="btn-download btn d-inline-flex justify-content-around py-btns radius align-items-center"
            (click)="addOrUpdate()"
            *ngIf="addUpdate.id !== 0"
            [disabled]="!addForm.valid "
          >
            <i class="i-Pen-5 text-bigger mr-2"></i>
            <strong>ویرایش</strong>
          </button>
        </ng-container>
        <ng-container *appCanAccess="'ProductT-Add'">
          <button
            type="button"
            class="btn-add btn d-inline-flex justify-content-around py-btns radius align-items-center"
            (click)="addOrUpdate()"
            *ngIf="addUpdate.id === 0"
            [disabled]="(!addForm.valid)"
          >
            <i class="i-Add text-bigger mr-2"></i>
            <strong>ایجاد</strong>
          </button>
        </ng-container>
      </ng-template>
    </li>
    <li ngbNavItem [disabled]="productId == 0">
      <a ngbNavLink>امکانات </a>
      <ng-template ngbNavContent>
        <app-facility [productId]="productId"></app-facility>
      </ng-template>
    </li>
    <li ngbNavItem [disabled]="productId == 0">
      <a ngbNavLink>گالری تصاویر </a>
      <ng-template ngbNavContent>
        <app-gallery [productId]="productId"></app-gallery>
      </ng-template>
    </li>
    <li ngbNavItem [disabled]="productId == 0">
      <a ngbNavLink>بک تست </a>
      <ng-template ngbNavContent>
        <app-back-test [productId]="productId"></app-back-test>
      </ng-template>
    </li>

    <li ngbNavItem [disabled]="productId == 0">
      <a ngbNavLink>آموزش </a>
      <ng-template ngbNavContent>
        <app-learn [productId]="productId"></app-learn>
      </ng-template>
    </li>
    <li ngbNavItem [disabled]="productId == 0">
      <a ngbNavLink>پلن های فروش </a>
      <ng-template ngbNavContent>
        <app-plan [productId]="productId"></app-plan>
      </ng-template>
    </li>
    <li ngbNavItem [disabled]="productId == 0">
      <a ngbNavLink>FAQ</a>
      <ng-template ngbNavContent>
        <app-faq [productId]="productId" [tableType]="6"></app-faq>
      </ng-template>
    </li>
    <li ngbNavItem [disabled]="productId == 0">
      <a ngbNavLink>نظرات </a>
      <ng-template ngbNavContent>
        <app-comment [productId]="productId" [tableType]="6"></app-comment>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav"></div>
</ng-container>
