<div class="app-footer">
	<div class="row">
		<div class="col-md-9">
			<p><strong>جهت اعلام هرگونه خطا و یا سوال در ارتباط با پرتال از روش های زیر ارتباط بگیرید</strong></p>
      <p><a href="http://sdp.behara.com/" target="_blank"> 1-ثبت درخواست درپرتال خدمات و پشتیبانی</a></p>
      <p>2-ارسال ایمیل به <a href="mailto:Y.beheshti@chuckles.ir">Y.beheshti@chuckles.ir</a></p>
		</div>
	</div>
	<div class="footer-bottom border-top pt-3 d-flex flex-column flex-sm-row align-items-center">
		<span class="flex-grow-1"></span>
		<div class="d-flex align-items-center">
			<img class="logo" src="./assets/images/logo.jpg" alt="">
			<div>
				<p class="m-0">&copy; 2022 Dena.Marketing Admin</p>
				<p class="m-0">کلیه حقوق  مادی و معنی این سیستم متعلق به Dena.Marketing می باشد.</p>
			</div>
		</div>
	</div>
</div>
