<form [formGroup]="addForm">
  <div class="row">
    <div class="col-md-6 form-group mb-3">
      <label for="title">سوال</label>
      <textarea
        name=""
        id=""
        cols="30"
        rows="5"
        type="text"
        class="form-control form-control-rounded"
        id="question"
        placeholder="سوال را وارد نمایید."
        [formControl]="addForm.controls['question']"
        [(ngModel)]="addUpdate.question"
      ></textarea>
      <small
        *ngIf="
          addForm.controls['question'].hasError('required') &&
          addForm.controls['question'].touched
        "
        class="mat-text-warn m-t-negative"
        >ورود سوال ضروری است</small
      >
    </div>

    <div class="col-md-6 form-group mb-3">
      <label for="title">پاسخ</label>
      <textarea
        name=""
        cols="30"
        rows="5"
        type="text"
        class="form-control form-control-rounded"
        id="answer"
        placeholder="پاسخ را وارد نمایید."
        [formControl]="addForm.controls['answer']"
        [(ngModel)]="addUpdate.answer"
      ></textarea>
      <small
        *ngIf="
          addForm.controls['answer'].hasError('required') &&
          addForm.controls['answer'].touched
        "
        class="mat-text-warn m-t-negative"
        >ورود پاسخ ضروری است</small
      >
    </div>

    <button
      type="button"
      class="btn btn-outline-primary btn-rounded mb-4"
      (click)="addOrUpdate()"
      [disabled]="!addForm.valid"
    >
      ذخیره
    </button>
  </div>
</form>
<div class="separator-breadcrumb border-top"></div>
<ngb-accordion
  #acc="ngbAccordion"
  [closeOthers]="true"
  [destroyOnHide]="false"
  *ngFor="let item of rows"
>
  <ngb-panel class="ngb-panel text-white" title="{{ item.question }}">
    <ng-template ngbPanelContent>
      <div class="row">
        <div class="col-10 text-start mr-5">
          {{ item.answer }}
        </div>
        <div class="col-10 text-start">
          <button (click)="addUpdate = item" class="btn btn-info mt-4">
            ویرایش
          </button>
          <button
            type="button"
            (click)="deleteFaq(item.id, deleteConfirmModal)"
            class="btn btn-danger mt-4 ml-2"
          >
            حذف
          </button>
        </div>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
<div *ngIf="rows?.length == 0" class="d-flex justify-content-center">
  <img
    src="../../../../../assets/images/97434-no-data-available.gif"
    class="img-fluid w-50"
    alt=""
  />
</div>
<!-- Delete -->
<ng-template #deleteConfirmModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">حذف آموزش</h4>
    <button
      type="button"
      class="close"
      aria-label="Close button"
      aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>آیا از حذف مطمئنید؟</strong></p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary btn-rounded mr-1"
      (click)="modal.dismiss('cancel')"
    >
      خیر
    </button>
    <button
      type="button"
      ngbAutofocus
      class="btn btn-wide btn-danger btn-rounded"
      (click)="modal.close('Ok')"
    >
      بله
    </button>
  </div>
</ng-template>
