<form [formGroup]="addForm">
  <div class="row">
    <div class="col-md-6 form-group mb-3">
      <label for="title">سوال</label>
      <textarea
        name=""
        id=""
        cols="30"
        rows="5"
        type="text"
        class="form-control form-control-rounded"
        id="question"
        placeholder="سوال را وارد نمایید."
        [formControl]="addForm.controls['question']"
        [(ngModel)]="addUpdate.question"
      ></textarea>
      <small
        *ngIf="
          addForm.controls['question'].hasError('required') &&
          addForm.controls['question'].touched
        "
        class="mat-text-warn m-t-negative"
        >ورود سوال ضروری است</small
      >
    </div>

    <div class="col-md-6 form-group mb-3">
      <label for="title">پاسخ</label>
      <textarea
        name=""
        cols="30"
        rows="5"
        type="text"
        class="form-control form-control-rounded"
        id="answer"
        placeholder="پاسخ را وارد نمایید."
        [formControl]="addForm.controls['answer']"
        [(ngModel)]="addUpdate.answer"
      ></textarea>
      <small
        *ngIf="
          addForm.controls['answer'].hasError('required') &&
          addForm.controls['answer'].touched
        "
        class="mat-text-warn m-t-negative"
        >ورود پاسخ ضروری است</small
      >
    </div>

    <button
      type="button"
      class="btn btn-outline-dark btn-rounded"
      (click)="addOrUpdate()"
      [disabled]="!addForm.valid"
    >
      ذخیره
    </button>
  </div>
</form>

<ngb-accordion
  #acc="ngbAccordion"
  [closeOthers]="true"
  [destroyOnHide]="false"
  *ngFor="let item of rows"
>
  <ngb-panel class="ngb-panel" title="{{ item.question }}">
    <ng-template ngbPanelContent>
      <div class="row">
        <div class="col-10 text-start mr-5">
          {{ item.answer }}
        </div>
        <div class="col-10 text-start">
          <button (click)="addUpdate = item" class="btn btn-info mt-4">
            ویرایش
          </button>
        </div>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
