<!----------------------------------- Change The Showing Context  -->
<div
  class="updateNoteBar"
  *ngIf="toggled"
  (click)="clearNote()"
  (click)="updateNotebar()"
></div>

<!-- <input type="text" [(ngModel)]="filter.firstName" />
<button (click)="filterOrders()"></button> -->

<div class="row g-0 p-0 m-0">
  <div class="col-12 row g-0 p-0 flex-row mb-2">
    <div class="col-auto mb-2">
      <button
        class="btn btn-final text-white"
        (click)="getOrders(8, 0, filter)"
      >
        نهایی
      </button>
    </div>

    <div class="col-auto mb-2">
      <button class="btn btn-primary" (click)="getOrders(1, 0, filter)">
        در انتظار پرداخت
      </button>
    </div>
    <div class="col-auto mb-2">
      <button class="btn btn-dark" (click)="getOrders(6, 0, filter)">
        در انتظار تائید
      </button>
    </div>

    <div class="col-auto mb-2">
      <button
        class="btn btn-confirmed text-white"
        (click)="getOrders(2, 0, filter)"
      >
        تائید شده
      </button>
    </div>

    <div class="col-auto mb-2">
      <button
        class="btn btn-rejected text-white"
        (click)="getOrders(5, 0, filter)"
      >
        رد شده
      </button>
    </div>
    <div class="filter-buttom mb-2">
      <button
        class="btn bg-dark text-white"
        (click)="openFilterModal(filterModal)"
      >
        فیلتر کردن
      </button>
    </div>
  </div>
</div>

<section class="main-table">
  <table class="table">
    <thead class="bg-dark text-white">
      <tr>
        <th (click)="changeHeaderValue()" class="rounded--right">
          {{ headerValue
          }}<i
            class="text-white i-Sync nav-icon m-1 float-end p-2 text-dark syncIcon"
          ></i>
        </th>
        <th>نام کاربر</th>
        <th>شماره ی حساب</th>
        <th>نام و پلن محصول</th>
        <th>هزینه</th>
        <th (click)="changeDateValue()">
          {{ dateValue
          }}<i
            class="text-white i-Sync nav-icon m-1 float-end p-2 text-dark syncIcon"
          ></i>
        </th>
        <th>Max Balance</th>
        <th *ngIf="status == null">وضعیت</th>
        <th class="rounded--left">عملیات</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="p-3 shadow-sm border-bottom border-3"
        *ngFor="
          let item of rows.slice().reverse()
            | paginate
              : {
                  itemsPerPage: page.size,
                  page: page.pageNumber,
                  currentPage: page.pageNumber,
                  totalItems: page.totalElements
                }
        "
      >
        <td *ngIf="headerValue == 'ID'">
          {{ item.id }}
        </td>
        <td *ngIf="headerValue == 'کد رهگیری'">
          {{ item.code }}
        </td>
        <td>{{ item.firstName }}&nbsp;{{ item.lastName }}</td>
        <td>{{ item.accountNumber }}</td>
        <td>{{ item.productTitle }}|{{ item.planTitle }}</td>
        <td>{{ item.price | currency }}</td>
        <td *ngIf="dateValue == 'تاریخ ثبت به میلادی'">
          {{ item.createDate | date : " YYYY d MMMM " }}
        </td>
        <td *ngIf="dateValue == ' تاریخ ثبت به شمسی'">
          {{ item.jalaliDate }}
        </td>
        <td *ngIf="item.maximumBalance != null">{{ item.maximumBalance }}</td>
        <td *ngIf="item.maximumBalance == null">ندارد</td>
        <ng-container *ngIf="status == null">
          <td *ngIf="item.transactionStatus == 6">
            <span
              class="badge p-2 text-white"
              [ngClass]="item.transactionStatus == 6 ? 'wait-span' : ''"
              >{{ item.transactionStatus | transactionStatus }}</span
            >
          </td>

          <td *ngIf="item.transactionStatus == 8">
            <span
              class="badge p-2 text-white"
              [ngClass]="item.transactionStatus == 8 ? 'success-span' : ''"
              >{{ item.transactionStatus | transactionStatus }}</span
            >
          </td>

          <td *ngIf="item.transactionStatus == 1">
            <span
              class="badge p-2 text-white"
              [ngClass]="item.transactionStatus == 1 ? 'new-span' : ''"
              >{{ item.transactionStatus | transactionStatus }}</span
            >
          </td>

          <td *ngIf="item.transactionStatus == 2">
            <span
              class="badge p-2 text-white"
              [ngClass]="item.transactionStatus == 2 ? 'last-span' : ''"
              >{{ item.transactionStatus | transactionStatus }}</span
            >
          </td>

          <td
            *ngIf="
              item.transactionStatus != 2 &&
              item.transactionStatus != 1 &&
              item.transactionStatus != 6 &&
              item.transactionStatus != 8
            "
          >
            <span
              class="badge p-2 text-white"
              [ngClass]="
                item.transactionStatus != 2 &&
                item.transactionStatus != 1 &&
                item.transactionStatus != 6 &&
                item.transactionStatus != 8
                  ? 'failed-span'
                  : ''
                  ? 'new-span'
                  : ''
              "
              >{{ item.transactionStatus | transactionStatus }}</span
            >
          </td>
        </ng-container>

        <td class="td-oprate">
          <button
            *appCanAccess="'invoice-Full Premission'"
            class="btn text-small btn-info"
            (click)="openDetailModal(item, openDetails)"
          >
            جزئیات
          </button>

          <ng-container
            *ngIf="item.transactionStatus == 2 || item.transactionStatus == 8"
          >
            <button
              *appCanAccess="'Licence-Full Premission'"
              type="button"
              style="padding-right: 5px"
              [ngClass]="{ 'd-none': viewMode === 'grid' }"
              class="btn text-small btn-outline-info"
              (click)="openUpdateModal(sendLicense, item)"
            >
              لایسنس
            </button>
          </ng-container>
          <button
            *appCanAccess="'note-Full Premission'"
            class="btn text-small btn-success"
            [ngClass]="{ 'd-none': viewMode === 'grid' }"
            (click)="toggleNotebar(item.id)"
          >
            یادداشت
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<div class="col-md-12 mt-3" *ngIf="rows?.length > 0">
  <pagination-controls
    (pageChange)="setPage($event, this.status)"
    previousLabel=""
    nextLabel=""
  ></pagination-controls>
</div>

<div *ngIf="rows?.length == 0" class="d-flex justify-content-center">
  <img
    src="../../../../../assets/images/97434-no-data-available.gif"
    class="img-fluid w-50 radius-lg"
    style="opacity: 0.4"
    alt=""
  />
</div>

<!------------------------------------------------- Delete Modal -->

<!------------------------------------------------- Details Modal -->
<ng-template #openDetails>
  <div>
    <div class="modal-header">
      <h4 class="modal-title">جزئیات و تغییر وضعیت</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div>
        <div class="row">
          <div class="col-12 col-lg-4 form-group mb-3">
            <strong for="totalPrice" class="mb-3">زمان ثبت سفارش</strong>
            <input
              class="form-control mt-1"
              id="totalPrice"
              value="{{ orderDetail.createDate | date : 'h:mm , yyyy/M/d' }}"
              disabled
            />
          </div>
          <div class="col-6 col-lg-4 form-group mb-3">
            <strong for="totalPrice" class="mb-3">نام کاربر</strong>
            <input
              class="form-control mt-1"
              id="totalPrice"
              rows="1"
              value="{{ orderDetail.firstName }}&nbsp;{{
                orderDetail.lastName
              }}"
              disabled
            />
          </div>
          <div class="col-6 col-lg-4 form-group mb-3">
            <strong for="totalPrice" class="mb-3">شماره تماس</strong>
            <input
              class="form-control mt-1"
              id="totalPrice"
              rows="1"
              value="{{ orderDetail.phoneNumber }}"
              disabled
            />
          </div>
          <div class="col-12 col-sm-6 col-lg-4 form-group mb-3">
            <strong for="totalPrice" class="mb-3">شماره حساب</strong>
            <input
              class="form-control mt-1"
              id="totalPrice"
              rows="1"
              value="{{ orderDetail.accountNumber }}"
              disabled
            />
          </div>
          <div class="col-12 col-sm-6 col-lg-4 form-group mb-3">
            <strong for="totalPrice" class="mb-3">کد رهگیری</strong>
            <input
              class="form-control mt-1"
              id="totalPrice"
              rows="1"
              value="{{ orderDetail.code }}"
              disabled
            />
          </div>
          <div class="col-6 col-lg-4 form-group mb-3">
            <strong for="totalPrice" class="mb-3">کد معرف</strong>
            <input
              class="form-control mt-1"
              id="totalPrice"
              rows="1"
              value="{{ orderDetail.referralCode }}"
              disabled
            />
          </div>

          <div class="col-md-7 form-group mb-3">
            <strong for="totalPrice" class="mb-3">پاسخ بانک</strong>
            <textarea
              dir="ltr"
              class="form-control mt-1 text-small"
              id="totalPrice"
              rows="2"
              value="{{ orderDetail.bankResponse }}"
              disabled
            ></textarea>
          </div>
          <div class="col-md-5 form-group mb-3">
            <strong for="totalPrice" class="mb-3">توضیحات کاربر</strong>
            <textarea
              class="form-control mt-1"
              id="totalPrice"
              rows="2"
              value="{{ orderDetail.description }}"
              disabled
            ></textarea>
          </div>
          <div class="col-12 row" *ngIf="orderDetail.transactionStatus == 8">
            <div class="col-4 col-lg-3 form-group mb-3">
              <strong class="mb-3">تاریخ شروع لایسنس</strong>
              <input
                class="form-control mt-1"
                value="{{ orderDetail.startDate | date : 'yy/M/d' }}"
                disabled
              />
            </div>
            <div class="col-4 col-lg-3 form-group mb-3">
              <strong class="mb-3">تاریخ پایان لایسنس</strong>
              <input
                class="form-control mt-1"
                value="{{ orderDetail.expireDate | date : 'yy/M/d' }}"
                disabled
              />
            </div>
            <div class="col-4 col-lg-3 form-group mb-3">
              <strong class="mb-3">ورژن محصول</strong>
              <input
                class="form-control mt-1"
                value="{{ orderDetail.versionNumber }}"
                disabled
              />
            </div>
          </div>
          <div class="col-6 col-lg-3 form-group mb-3">
            <strong for="totalPrice" class="mb-3">محصول و پلن آن</strong>
            <input
              class="form-control mt-1"
              id="totalPrice"
              rows="1"
              value="{{ orderDetail.plan }}| {{ orderDetail.product }}"
              disabled
            />
          </div>
          <div class="col-6 col-lg-3 form-group mb-3">
            <strong for="totalPrice" class="mb-3">قیمت محصول</strong>
            <input
              class="form-control mt-1"
              id="totalPrice"
              rows="1"
              value="{{ orderDetail.price | currency }}"
              disabled
            />
          </div>
          <div class="col-6 col-md-3 form-group mb-3">
            <strong for="discountPrice" class="mb-3">تخفیف</strong>
            <input
              class="form-control mt-1"
              id="discountPrice"
              rows="1"
              (change)="changeFinalPrice($event.target.value)"
              value="{{ orderDetail.discountPrice | currency }}"
              disabled
            />
          </div>
          <div class="col-sm-6 col-md-3 form-group mb-3">
            <strong for="toPayPrice" class="mb-3">پرداخت نهایی</strong>
            <input
              class="form-control mt-1 bg-success text-white"
              id="toPayPrice"
              rows="1"
              value="{{ orderDetail.toPayPrice | currency }}"
              min=" {{ orderDetail.price }}"
            />
          </div>
          <div class="col-sm-6 col-md-4 form-group mb-3">
            <strong for="status" class="mb-3">وضعیت</strong>
            <input
              class="form-control mt-1 bg-success text-white"
              id="status"
              rows="1"
              value="{{ orderDetail.transactionStatus | transactionStatus }}"
              disabled
            />
          </div>

          <div class="col-md-4 form-group mb-3">
            <strong for="status" class="mb-3">تغییر وضعیت پرداخت</strong>
            <select
              class="form-control mt-1 text-dark"
              id="status"
              [ngModel]="invoiceDetail.status"
              (ngModelChange)="selectStatus($event)"
            >
              <option value="3">پرداخت شده</option>
              <option value="99">عدم پرداخت</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark btn-rounded"
        (click)="modal.close(true)"
      >
        تائید
      </button>
    </div>
  </div>
</ng-template>

<!------------------------------------------------- sendLicense Modal -->

<ng-template #sendLicense>
  <div class="modal-header">
    <h4 class="modal-title">ارسال لایسنس</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row mt-2">
      <div
        class="col-12 row d-flex flex-row align-items-center form-group mb-3"
      >
        <strong for="file" class="mb-3 ml-2">فایل لایسنس</strong>
        <ng-container *ngIf="licenseModel.fileExists">
          <div class="col-md-2 col-5 mb-5 mt-1">
            <img
              class="align-self-center w-100 radius-md"
              src="assets/images/zip-file-icon.png"
            />
          </div>
          <div class="col-md-6 col-5">
            <a
              class="btn btn-primary m-1"
              href="https://dl.iraniExpert.com/{{ licenseModel.filePath }}"
              >دانلود</a
            >
            <button
              class="btn btn-danger m-1"
              (click)="deleteModal(licenseModel, deletingModal, 1)"
            >
              حذف
            </button>
          </div>
        </ng-container>
        <input
          id="upload"
          type="file"
          *ngIf="!licenseModel.fileExists"
          (change)="onFileChanged($event)"
        />
      </div>
      <ng-container>
        <strong *ngIf="!licenseModel.fileExists" class="text-danger col-12"
          >فایل ارسالی باید zip باشد</strong
        >
        <div class="col-12 mt-2 mb-2">
          <button
            class="btn btn-primary col-2"
            (click)="uploadFile()"
            *ngIf="isValidate"
          >
            آپلود
          </button>
        </div>
      </ng-container>

      <div class="col-md-3 form-group mb-3" dir="ltr">
        <strong for="startDate" class="mb-3">تاریخ شروع</strong>

        <input
          (click)="s.toggle()"
          type="text"
          class="form-control"
          ngbDatepicker
          #s="ngbDatepicker"
          [(ngModel)]="startDate"
        />
      </div>
      <div class="col-md-3 form-group mb-3" dir="ltr">
        <strong for="expireDate" class="mb-3">تاریخ انقضا</strong>

        <input
          (click)="e.toggle()"
          type="text"
          class="form-control"
          ngbDatepicker
          #e="ngbDatepicker"
          [(ngModel)]="expireDate"
        />
      </div>
      <div class="col-md-3 form-group mb-3" dir="ltr">
        <strong for="versionNumber" class="mb-3">Version Number</strong>

        <input type="text" class="form-control" [(ngModel)]="versionNumber" />
      </div>
      <div class="col-md-5 form-group mb-3" dir="ltr">
        <strong for="accountNumber" class="mb-3">شماره حساب کاربر</strong>

        <input type="text" class="form-control" [(ngModel)]="accountNumber" />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark btn-rounded"
      (click)="modal.close(true)"
    >
      ارسال
    </button>
  </div>
</ng-template>

<!-- Note Model -->

<div
  [ngClass]="{ open: _orderService.sidebarState.sidenavOpen }"
  class="notebar-left rtl-ps-none bg-lightdark shadow-lg my-webKit"
  style="overflow-y: auto"
>
  <div class="mt-3 ml-3 mb-3">
    <i
      (click)="clearNote()"
      (click)="updateNotebar()"
      ngbTooltip="بستن"
      [openDelay]="100"
      [closeDelay]="500"
      placement="bottom"
      class="i-Close bg-dark text-white border-0 clickable-btn rounded-circle"
    ></i>
  </div>
  <hr class="separator-breadcrumb mt-0 mb-1" />
  <div class="ml-3">
    <form action="">
      <div class="row g-0 p-0 m-0">
        <div class="col-lg-12 col-md-11 col-10 form-group mb-3 mt-3">
          <label class="text-white" for="title">ایجاد یادداشت</label>
          <textarea
            name="title"
            id="title"
            type="text"
            [(ngModel)]="note.text"
            class="form-control bg-white text-dark textarea-font"
          ></textarea>
        </div>
      </div>
    </form>
    <div class="d-flex justify-content-end mr-3">
      <button
        [disabled]="
          note.text == '' ||
          note.text == ' ' ||
          note.text == '  ' ||
          note.text == '   ' ||
          note.text == '    '
        "
        type="button"
        (click)="openConfirmationModal(note, confirmationModal)"
        class="btn btn-secondary mb-2"
        *appCanAccess="'note-Add'"
      >
        ایجاد
      </button>
    </div>
  </div>
  <hr class="separator-breadcrumb mt-2 mb-1" />
  <div class="p-2"><h4 class="pl-2 text-light text-small">یادداشت ها</h4></div>
  <ul class="aside-left">
    <li class="aside-item lvl1">
      <div class="aside-item-hold">
        <div class="my-css">
          <div>
            <ng-container *ngFor="let item of notes">
              <div
                class="timeline-card rounded-4 bg-notes shadow-lg card mt-2"
                *ngIf="toggled == true"
              >
                <div class="rounded-alt bg-notes-header m-0 p-0">
                  <div class="d-flex justify-content-between">
                    <p class="m-0 p-2">{{ item.name }}</p>
                  </div>
                </div>
                <div class="card-body">
                  <b class="text-black">
                    {{ item.text }}
                  </b>
                </div>
                <div class="text-black mt-2 p-2 pb-0">
                  <smaller class="m-1"
                    >{{
                      item.createDate | date : "  h:mm , yyyy/M/d "
                    }},</smaller
                  >
                  <smaller class="m-1">{{ item.jalaliDate }}</smaller>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<!-- Add Modal -->
<ng-template #confirmationModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">ایجاد</h4>
    <button
      ngbAutofocus
      type="button"
      class="close"
      aria-label="Close button"
      aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>آیا از ایجاد این یادداشت مطمئنید؟</strong></p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary btn-rounded mr-1"
      (click)="modal.dismiss('cancel')"
    >
      خیر
    </button>
    <button
      type="button"
      class="btn btn-wide btn-success btn-rounded"
      (click)="modal.close(true)"
    >
      بله
    </button>
  </div>
</ng-template>

<ng-template #deletingModal let-modal>
  <div class="shadow-lg">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">حذف</h4>
      <button
        type="button"
        class="close"
        aria-label="Close button"
        aria-describedby="modal-title"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p><strong>آیا از حذف مطمئنید؟</strong></p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-secondary btn-rounded mr-1"
        (click)="modal.dismiss('cancel')"
      >
        خیر
      </button>
      <button
        type="button"
        ngbAutofocus
        class="btn btn-wide btn-danger btn-rounded"
        (click)="modal.close('Ok')"
      >
        بله
      </button>
    </div>
  </div>
</ng-template>
<ng-template #filterModal let-modal>
  <div class="d-flex align-items-center bg-gray">
    <div class="col-11 container mt-2 mb-2 contrast">
      <div class="modal-header row">
        <h4 class="modal-title text-white" id="modal-basic-title">فیلتر</h4>

        <button
          type="button"
          class="close text-white"
          aria-label="Close"
          (click)="modal.dismiss()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="row" [formGroup]="filterForm" (ngSubmit)="filterComment()">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6 form-group mb-3 mt-3">
              <label class="text-white">ID</label>
              <input
                class="form-control"
                [(ngModel)]="filterModel.iD"
                [formControl]="filterForm.controls['iD']"
              />
            </div>
            <div class="col-md-6 form-group mb-3 mt-3">
              <label class="text-white">شماره ی حساب </label>
              <input
                class="form-control"
                [(ngModel)]="filterModel.accountNumber"
                [formControl]="filterForm.controls['accountNumber']"
              />
            </div>
            <div class="col-md-6 form-group mb-3 mt-3">
              <label class="text-white">نام</label>
              <input
                class="form-control"
                [(ngModel)]="filterModel.name"
                [formControl]="filterForm.controls['name']"
              />
            </div>
            <div class="col-md-6 form-group mb-3 mt-3">
              <label class="text-white">ایمیل </label>
              <input
                name="accountNumber"
                id="accountNumber"
                class="form-control"
                [(ngModel)]="filterModel.email"
                [formControl]="filterForm.controls['email']"
              />
            </div>

            <div class="col-md-6 form-group mb-3" dir="ltr">
              <label for="accountNumber " class="text-white">تاریخ شروع</label>

              <input
                (click)="d.toggle()"
                type="text"
                class="form-control"
                ngbDatepicker
                #d="ngbDatepicker"
                [(ngModel)]="CrtDate"
                [formControl]="filterForm.controls['fromCreateDate']"
              />
            </div>
            <div class="col-md-6 form-group mb-3" dir="ltr">
              <label class="text-white">تاریخ پایان</label>

              <input
                (click)="e.toggle()"
                type="text"
                class="form-control"
                ngbDatepicker
                #e="ngbDatepicker"
                [(ngModel)]="ExpDate"
                [formControl]="filterForm.controls['ToCreateDate']"
              />
            </div>

            <!-- <div class="col-md-6 form-group mb-3 mt-3">
              <label for="accountNumber " class="text-white">امتیاز</label>
              <select
              class="form-control  text-dark"
              id="status"
              [(ngModel)]="filterModel.rate"
              [formControl]="filterForm.controls['rate']"
            >
              <option value=1>1</option>
              <option value=2>2</option>
              <option value=3>3</option>
              <option value=4>4</option>
              <option value=5>5</option>
            </select>
            </div> -->
            <div class="col-md-6 form-group mb-3 mt-3">
              <label class="text-white">وضعیت</label>
              <div class="mt-1">
                <label class="m-1 text-white">پذیرفته شده</label>
                <label class="switch switch-primary mr-2 m-2">
                  <span class="text-white">عدم پذیرش</span>
                  <input
                    [(ngModel)]="filterModel.isAccepted"
                    [formControl]="filterForm.controls['isAccepted']"
                    type="checkbox"
                    id="isActive"
                  />
                  <span class="slider"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer w-100">
          <button
            ngbAutofocus
            type="button"
            class="btn btn-outline-dark btn-rounded mr-1 text-white"
            (click)="modal.close(true)"
          >
            ویرایش
          </button>

          <button
            type="button"
            class="btn btn-outline-dark btn-rounded text-white"
            (click)="modal.dismiss()"
          >
            انصراف
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
