<!----------------------------------- Change The Showing Context  -->

<div class="row g-0 p-0 m-0">
  <div class="col-12 row g-0 p-0 flex-row mb-2">
    <div class="col-auto">
      <button class="btn btn-secondary" (click)="getOrderbyStatus(null)">
        تمامی سفارشات
      </button>
    </div>
    <div class="col-auto">
      <button class="btn btn-primary" (click)="getOrderbyStatus(1)">
        در انتظار پرداخت
      </button>
    </div>
    <div class="col-auto">
      <button class="btn btn-dark" (click)="getOrderbyStatus(6)">
        در انتظار تائید
      </button>
    </div>

    <div class="col-auto">
      <button
        class="btn btn-confirmed text-white"
        (click)="getOrderbyStatus(2)"
      >
        تائید شده
      </button>
    </div>
    <div class="col-auto">
      <button class="btn btn-final text-white" (click)="getOrderbyStatus(8)">
        نهایی
      </button>
    </div>
    <div class="col-auto">
      <button class="btn btn-rejected text-white" (click)="getOrderbyStatus(5)">
        رد شده
      </button>
    </div>
  </div>
</div>
<!----------------------------------- Head Table  -->
<div class="row list-horizntal">
  <div
    class="list-item"
    [ngClass]="{
      'col-md-12': viewMode === 'list',
      'col-md-3': viewMode === 'grid'
    }"
  >
    <div
      class="card o-hidden bg-dark mb-4 d-flex"
      [ngClass]="{
        'flex-row': viewMode === 'list',
        'flex-column': viewMode === 'grid'
      }"
    >
      <div
        class="flex-grow-1"
        [ngClass]="{
          'pl-2 d-flex': viewMode === 'list',
          'd-block': viewMode === 'grid'
        }"
      >
        <!-- <div class="list-thumb">
             THUMBNAIL
          </div> -->
        <!-- ID -->
        <div class="align-self-cente align-items-center text-white cursor-pointer d-flex justify-content-center" (click)="test()">{{headerValue}}<i class="text-white i-Sync nav-icon m-2 float-end p-2 text-dark syncIcon "></i></div>
        <div
          class="card-body align-self-center d-flex align-items-lg-center text-center"
          [ngClass]="{ 'flex-lg-row': viewMode === 'list' }"
        >
          <!-- OTHER DATA -->
          <div class="m-0 col text-lg-center text-white">نام کاربر</div>
          <div class="m-0 col text-lg-center text-white">شماره تماس</div>
          <div class="m-0 col text-lg-center text-white">نام و پلن محصول</div>
          <div class="m-0 col text-lg-center text-white">هزینه</div>
          <div class="m-0 col text-lg-center text-white">زمان ثبت سفارش</div>
          <div class="m-0 col text-lg-center text-white">maxBalance</div>
          <div class="m-0 col text-lg-center text-white" *ngIf="status == null">
            وضعیت
          </div>
          <div class="m-0 text-light d-md-block d-none col text-center">
            عملیات
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Orders-List -->
  <div
    class="list-item"
    [ngClass]="{
      'col-md-12': viewMode === 'list',
      'col-md-3': viewMode === 'grid'
    }"
    *ngFor="
      let item of rows
        | paginate
          : {
              itemsPerPage: page.size,
              page: page.pageNumber,
              currentPage: page.pageNumber,
              totalItems: page.totalElements
            }
    "
  >
    <div
      class="card mb-2 o-hidden d-flex"
      [ngClass]="{
        'flex-row-2': viewMode === 'list',
        'flex-column': viewMode === 'grid'
      }"
    >
      <div
        class="flex-grow-1"
        [ngClass]="{
          'pl-2 d-flex': viewMode === 'list',
          'd-block': viewMode === 'grid'
        }"
      >
        <div class="align-self-center" *ngIf="headerValue=='ID'">{{ item.id }}</div>
        <div class="align-self-center" *ngIf="headerValue=='Code'">{{ item.code }}</div>
        <div
          class="card-body align-self-center d-flex align-items-lg-center text-center"
          [ngClass]="{ 'flex-lg-row': viewMode === 'list' }"
        >
          <!-- OTHER DATA -->
          <div class="col m-0">
            {{ item.firstName }}&nbsp;{{ item.lastName }}
          </div>
          <div class="col m-0">{{ item.phoneNumber }}</div>
          <div class="col m-0">{{ item.product }}|{{ item.plan }}</div>
          <div class="col m-0">
            {{ item.price | currency }}
          </div>
          <div class="col m-0">{{ item.createDate }}</div>
          <div class="col m-0">{{ item.maxBalance }}</div>
          <div class="col m-0" *ngIf="status == null">
            {{ item.transactionStatus | transactionStatus }}
          </div>

          <div
            class="col d-sm-none d-none d-md-inline-block d-lg-inline-block d-xl-inline-block"
          >
            <div class="row text-center col-auto d-flex justify-content-around">
              <div class="row ">
              <div class="col-5">
                <button
                  *appCanAccess="'note-Full Premission'"
                  class="btn btn-success"
                  [ngClass]="{ 'd-none': viewMode === 'grid' }"
                  (click)="toggleNotebar(item)"
                >
                  یادداشت
                </button>
              </div>
              <div class="col-5">
                <button
                  *appCanAccess="'invoice-Full Premission'"
                  class="btn btn-info"
                  [ngClass]="{ 'd-none': viewMode === 'grid' }"
                  (click)="openDetailModal(item,openDetails)"
                >
                  جزِئیات
                </button>
              </div>
            </div>
              <div class="row pt-2 p-0 container">

                <div class="col-12">
                  <button
                    *appCanAccess="'Product-Delete'"
                    class="btn btn-danger w-100"
                    [ngClass]="{ 'd-none': viewMode === 'grid' }"
                    (click)="deleteOrder(item.id, deleteModal)"
                  >
                    حذف
                  </button>
                </div>
                
              </div>
              <div class="row pt-2 p-0 container">

                
                <div class="col-12 d-flex justify-content-center" *ngIf="item.transactionStatus==2">
                  <button
                  type="button"
                  [ngClass]="{ 'd-none': viewMode === 'grid' }"
                  class="btn btn-outline-info col w-100 m-1"
                  (click)="openUpdateModal(sendLicense,item)"
                >
                  ارسال لایسنس
                </button>
                
                </div>
                <div class="col-12 d-flex justify-content-center" *ngIf="item.transactionStatus==8">
                  <a class="btn btn-info w-100 text-white" href="https://dl.iraniExpert.com/{{item.filePath}}">
                    دانلود
                  </a>
                <!-- <div class="w-25 w-sm-100 ml-sm-2">
                  <button class="btn btn-danger" [ngClass]="{ 'd-none': viewMode === 'grid' }"
                  (click)="updateLicense(licence,item)">
                    تغییر
                  </button>
                </div> -->
                 </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="text-center row m-5 d-sm-block d-block d-md-none d-lg-none d-xl-none"
      >
        <h6 class="text-center">عملیات</h6>
        <button
          class="btn btn-outline-danger col m-1"
          [ngClass]="{ 'd-none': viewMode === 'grid' }"
          (click)="toggleNotebar(item)"
        >
          یادداشت
        </button>

        <button
          *appCanAccess="'invoice-Full Premission'"
          type="button"
          [ngClass]="{ 'd-none': viewMode === 'grid' }"
          class="btn btn-outline-info col m-1"
          [routerLink]="'/bsk/invoice/' + item.id"
        >
          فاکتور ها
        </button>
        <button
          type="button"
          [ngClass]="{ 'd-none': viewMode === 'grid' }"
          class="btn btn-outline-danger col m-1"
          (click)="deleteOrder(item.id, deleteModal)"
        >
          حذف
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-12 mt-3" *ngIf="rows?.length > 0">
    <pagination-controls
      (pageChange)="setPage($event, this.status)"
      previousLabel=""
      nextLabel=""
    ></pagination-controls>
  </div>
</div>
<div *ngIf="rows?.length == 0" class="d-flex justify-content-center">
  <img
    src="../../../../../assets/images/97434-no-data-available.gif"
    class="img-fluid w-50"
    alt=""
  />
</div>
<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">حذف امکان</h4>
    <button
      type="button"
      class="close"
      aria-label="Close button"
      aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>آیا از حذف مطمئنید؟</strong></p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary btn-rounded mr-1"
      (click)="modal.dismiss('cancel')"
    >
      خیر
    </button>
    <button
      type="button"
      ngbAutofocus
      class="btn btn-wide btn-danger btn-rounded"
      (click)="modal.close('Ok')"
    >
      بله
    </button>
  </div>
</ng-template>

<div
  [ngClass]="{ open: _orderService.sidebarState.sidenavOpen }"
  class="notebar-left rtl-ps-none bg-gradient-grey rounded shadow-lg"
  [perfectScrollbar]="{ suppressScrollX: true }"
>
  <div class="mt-4 ml-3">
    <i
      (click)="updateNotebar()"
      ngbTooltip="بستن"
      [openDelay]="100"
      [closeDelay]="500"
      placement="bottom"
      class="i-Close bg-white text-dark border-0 clickable-btn rounded-circle"
    ></i>
  </div>
  <hr class="separator-breadcrumb mt-0 mb-1" />
  <div class="ml-3">
    <form action="">
      <div class="row">
        <div class="col-10 form-group mb-3 mt-3">
          <label class="text-white" for="title">ایجاد یادداشت</label>
          <textarea
            name="title"
            id="title"
            type="text"
            class="form-control bg-dark textarea-font"
          ></textarea>
        </div>
      </div>
    </form>
    <button type="button" class="btn btn-light mb-2" *appCanAccess="'note-Add'">
      ایجاد
    </button>
  </div>
  <hr class="separator-breadcrumb mt-2 mb-1" />
  <div class="p-2"><h4 class="pl-2 text-light">یادداشت ها</h4></div>
  <ul class="aside-left">
    <li class="aside-item lvl1">
      <div class="aside-item-hold">
        <div class="my-css">
          <div>
            <div class="timeline-card card mt-2">
              <div class="card-header bg-dark m-0 p-0">
                <p class="text-white m-0 p-2">یادداشت شماره 1</p>
              </div>
              <div class="card-body bg-secondary">
                <p class="text-white" *ngIf="toggled == true">
                  {{ note.plan }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<ng-template #openDetails let-modal>
  <div>
    <div class="modal-header">
      <h4 class="modal-title">جزئیات و تغییر وضعیت</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <form [formGroup]="addForm" (ngSubmit)="submit()">
        <div class="row">
          <div class="col col-md-4 form-group mb-3">
            <label for="createDate">تاریخ ثبت فاکتور:</label>
            <div
              for="createDate"
              class="mb-3 text-white rounded-left rounded-right bg-dark p-2"
            >
              {{ orderDetail.createDate | date : " d MMMM " }}
            </div>
          </div>
          <div class="col col-md-4 form-group mb-3">
            <label for="updateDate">آخرین به روزرسانی:</label>
            <div
              for="updateDate"
              class="mb-3 text-white rounded-left rounded-right bg-dark p-2"
            >
              {{ orderDetail.updateDate | relativeTime }}
            </div>
            <!-- <div class="col col-md-5 form-group mb-3">
              <label for="Name">نام و نام خانوادگی</label>
              <div
              for="Name"
              class="mb-3 text-white rounded-left rounded-right bg-dark p-2">
              {{invoiceDetail.userInfo.firstName }}&nbsp;{{invoiceDetail.userInfo.firstName }}
              </div>
            </div>
            <div class="col col-md-5 form-group mb-3">
            <label for="phoneNumber">شماره</label>
            <div
            for="phoneNumber"
            class="mb-3 text-white rounded-left rounded-right bg-dark p-2">
            {{orderModel.userInfo.phoneNumber }}
            </div>
          </div>    -->
          </div>
          <div class="col-md-5 form-group mb-3">
            <strong for="totalPrice" class="mb-3">پلن انتخابی</strong>
            <input
              class="form-control mt-1"
              id="totalPrice"
              rows="1"
              value="{{ orderDetail.price | currency }}"
              disabled
            />
          </div>
          <!-- <div class="col-md-8 form-group mb-3">
            <strong for="bankResponse" class="mb-3">پاسخ بانک</strong>
            <textarea
              class="form-control mt-1"
              id="bankResponse"
              rows="1"
              value="{{ invoiceDetail.bankResponse }}"
              disabled
            >
            </textarea>
          </div> -->
          <div class="col-md-4 form-group mb-3 align-self-md-end">
            <strong for="bankResponseDate"
              >زمان پاسخ بانک :{{
                orderDetail.createDate | relativeTime
              }}</strong
            >
          </div>
          <div class="col-md-3 form-group mb-3">
            <strong for="totalPrice" class="mb-3">قیمت محصول</strong>
            <input
              class="form-control mt-1"
              id="totalPrice"
              rows="1"
              value="{{ orderDetail.price | currency }}"
              disabled
            />
          </div>

          <div class="col-md-3 form-group mb-3">
            <strong for="discountPrice" class="mb-3">تخفیف</strong>
            <input
              class="form-control mt-1"
              id="discountPrice"
              rows="1"
              (change)="changeFinalPrice($event.target.value)"
              value="{{ orderDetail.discountPrice | currency }}"
            />
          </div>
          <div class="col-md-3 form-group mb-3">
            <strong for="toPayPrice" class="mb-3">پرداخت نهایی</strong>
            <input
              class="form-control mt-1 bg-success text-white"
              id="toPayPrice"
              rows="1"
              value="{{ orderDetail.toPayPrice | currency }}"
              min=" {{ orderDetail.price }}"
            />
          </div>
          <div class="col-md-3 form-group mb-3">
            <strong for="status" class="mb-3">وضعیت</strong>
            <input
              class="form-control mt-1 bg-success text-white"
              id="status"
              rows="1"
              value="{{ orderDetail.transactionStatus | transactionStatus }}"
              disabled
            />
          </div>

          <div class="col-md-4 form-group mb-3">
            <strong for="status" class="mb-3">وضعیت پرداخت</strong>
            <select
              class="form-control mt-1 text-dark"
              id="status"
              placeholder="{{ invoiceDetail.status | paymentStatus }}"
              [formControl]="addForm.controls['status']"
              (ngModelChange)="selectStatus($event)"
              [ngModel]="orderDetail.transactionStatus"
            >
              <option value="3">پرداخت شده</option>
              <option value="99">عدم پرداخت</option>
            </select>
          </div>

          <!-- <div class="col-md-3 form-group mb-3">
            <strong for="bankType" class="mb-3">نوع بانک</strong>
            <input
              class="form-control mt-1 bg-success text-white"
              id="bankType"
              rows="1"
              value="{{invoiceDetail.bankType|bankType}}"
              disabled
            />

          </div> -->
          <!-- <div class="col-md-3 form-group mb-3">
            <strong for="backMethodType" class="mb-3">قیمت نهایی برای پرداخت</strong>
            <input
              class="form-control mt-1 bg-success text-white"
              id="backMethodType"
              rows="1"
              value="{{invoiceDetail.backMethodType|bankMethod}}"
              disabled
            />

          </div> -->
          <!-- [ngClass]="{
            'bg-primary': invoiceDetail.status === 0 ,
            'bg-light text-dark': invoiceDetail.status === 1 ,
            'bg-info': invoiceDetail.status === 2 ,
            'bg-success': invoiceDetail.status === 3 ,
            'bg-info': invoiceDetail.status === 4 ,
            'bg-warning text-dark': invoiceDetail.status === 98 ,
            'bg-danger': invoiceDetail.status === 99 }" -->
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark btn-rounded"
        (click)="modal.close(true)"
      >
        تائید
      </button>
    </div>
  </div>
</ng-template>
<ng-template #sendLicense let-modal>
  <div>
    <div class="modal-header">
      <h4 class="modal-title">ارسال لایسنس</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="addForm" (ngSubmit)="submit()">
        <div class="row mt-2">
          <div class="col-md-3 form-group mb-3">
            <strong for="file" class="mb-3">فایل لایسنس</strong>
            <input id="upload" type="file" (change)="onFileChanged($event)" />
          </div>
          <strong class="text-danger col-12">فایل ارسالی باید zip باشد</strong>
          <div class="col-12 mt-2 mb-2">
            <button
              class="btn btn-primary col-2"
              (click)="uploadFile()"
              *ngIf="clientId == null"
              [ngClass]="{
                'd-none': isValidate === false,
                'd-block': isValidate === true
              }"
            >
              آپلود
            </button>
          </div>

          <div class="col-md-3 form-group mb-3" dir="ltr">
            <strong for="startDate" class="mb-3">تاریخ شروع</strong>
            <!-- <button (click)="s.toggle()" class="mb-3 btn btn-primary">
              تاریخ شروع
            </button> -->
            <input
              (click)="s.toggle()"
              type="text"
              class="form-control"
              ngbDatepicker
              #s="ngbDatepicker"
              [(ngModel)]="startDate"
              [formControl]="addForm.controls['startDate']"
            />
          </div>
          <div class="col-md-3 form-group mb-3" dir="ltr">
            <strong for="expireDate" class="mb-3">تاریخ انقضا</strong>
            <!-- <button (click)="e.toggle()" class="mb-3 btn btn-primary">
              تاریخ انقضا
            </button> -->
            <input
              (click)="e.toggle()"
              type="text"
              class="form-control"
              ngbDatepicker
              #e="ngbDatepicker"
              [(ngModel)]="expireDate"
              [formControl]="addForm.controls['expireDate']"
            />
          </div>
          <div class="col-md-3 form-group mb-3" dir="ltr">
            <strong for="expireDate" class="mb-3">versionNumber</strong>
            <!-- <button (click)="e.toggle()" class="mb-3 btn btn-primary">
              تاریخ انقضا
            </button> -->
            <input
              (click)="e.toggle()"
              type="text"
              class="form-control"
              ngbDatepicker
              #e="ngbDatepicker"
              [(ngModel)]="versionNumber"
              [formControl]="addForm.controls['versionNumber']"
            />
          </div>
          <div class="col-md-5 form-group mb-3" dir="ltr">
            <strong for="expireDate" class="mb-3">شماره حساب کاربر</strong>
            <!-- <button (click)="e.toggle()" class="mb-3 btn btn-primary">
              تاریخ انقضا
            </button> -->
            <input
              type="text"
              class="form-control"
              [(ngModel)]="licenseModel.accountNumber"
              [formControl]="addForm.controls['accountNumber']"
            />
          </div>
          <!-- <div class="col-md-3 form-group mb-3">
            <strong for="rowID" class="mb-3">شماره سفارش</strong>
            <input
              type="text"
              class="form-control"
              disabled
            />
          </div> -->
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark btn-rounded"
        (click)="modal.close(true)"
      >
        ارسال
      </button>
    </div>
  </div>
</ng-template>
<ng-template #licence let-modal>
  <div>
    <div class="modal-header">
      <h4 class="modal-title">ارسال لایسنس</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="addForm" (ngSubmit)="submit()">
        <div class="row mt-2">
          <div class="col-4 form-group mb-3">
            <strong for="file" class="mb-3">فایل لایسنس</strong>
            <input id="upload" type="file" (change)="onFileChanged($event)" />
          </div>
          <strong class="text-danger col-3">فایل ارسالی باید zip باشد</strong>
          <div class="col-5 mt-2 mb-2">
            <button class="btn btn-primary col-2" (click)="uploadFile()" [ngClass]="{
                'd-none': isValidate === false,
                'd-block': isValidate === true
              }">
              آپلود
            </button>
          </div>
        </div>
        <div class="row mt-2">
            <strong for="expireDate" class="mb-3">شماره نسخه</strong>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="licenseModel.versionNumber"
              [formControl]="addForm.controls['versionNumber']"
            />
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark btn-rounded" (click)="modal.close(true)">
        ارسال
      </button>
    </div>
  </div>
</ng-template>