@media screen and (max-width: 1463px) {
  .margin-right {
    margin-right: -1.94rem;
  }
}
.notebar-left {
  position: fixed;
  top: 80px;
  height: calc(100vh - #{80px});
  background: #fff;
  box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
}
.bg-lightdark {
  background-color: #3f4343f0;
}
.btn-confirmed {
  background-color: #cb9800;
}
.btn-final {
  background-color: #6e6446;
}
.btn-rejected {
  background-color: #980404;
}
.success-span {
  background-color: #4caf50 !important;
}
.new-span {
  background-color: #5992c7 !important;
}
.failed-span {
  background-color: #e24c4c !important;
}
.wait-span {
  background-color: #a4d9a4 !important ;
}
.last-span {
  background-color: #85e089 !important ;
}
.notebar-left {
  left: calc(-#{400px} - #{20px});
  z-index: 90;
  transition: all 0.24s ease-in-out;
  &.open {
    left: 0;
  }
  .aside-left {
    list-style: none;
    text-align: center;
    width: 400px;
    height: 100%;
    margin: 0;
    padding: 0;
    .aside-item {
      position: relative;
      display: block;
      width: 100%;
      color: #000;
      &:focus,
      &:active {
        outline: none;
      }
      &.lvl1 {
        padding: 0 12px;
        text-align: justify;
      }
      .aside-item-hold {
        width: 100%;
        padding: 0 0;
        &:focus,
        &:active {
          outline: none;
        }
        .aside-text {
          font-size: 13px;
          display: block;
          font-weight: 400;
        }
      }
    }
  }
}
// :is(.my-css) .badge {
//   width: 80px !important;
//   padding: 4px 0;
//   font-size: 16px;
// }
.clickable-btn {
  cursor: pointer;
  font-size: 25px !important;
}
.bg-gradient-grey {
  background: linear-gradient(
    90deg,
    rgba(109, 129, 129, 1) 51%,
    rgba(87, 102, 99, 1) 92%
  );
}
.textarea-font {
  font-size: 13px;
  color: #fff;
}
.bg-green {
  background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
}
.bg-grey {
  background-color: #f5f7fa6b;
}
.syncIcon {
  font-weight: 900;
  border-radius: 50%;
  background: #f9f7fa;
}
.radius-lg {
  border-radius: 16px !important;
}
.padding-fixer {
  padding-left: 46px;
}
.updateNoteBar {
  top: 0;
  bottom: 0;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: none;
  display: block;
  z-index: 89;
  width: 100%;
  overflow: visible;
}
.rounded-4 {
  border-radius: 15px !important;
}
.rounded-alt {
  border-radius: 15px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.bg-notes {
  background-color: #c4ccd1;
}
.bg-notes-header {
  background-color: #5c65b3;
}
// @media (min-width: 409px) {
//   .updateNoteBar {

//     width: 0%;

//   }
// }
// @media (max-width: 576px) {
//   .updateNoteBar {

//     width: 23%;

//   }
// }
// @media (max-width: 767px) {
//   .updateNoteBar {

//     width: 37%;

//   }
// }
// }
// @media (max-width: 991px) {
//   .updateNoteBar {

//     width: 42%;

//   }
// }
// }
// @media (max-width: 1024px) {
//   .updateNoteBar {

//     width: 42%;

//   }
// }
// }

.main-table {
  overflow-x: scroll;
}
.main-table {
  .table {
    margin: 0 auto;
  }
}
table th,
td {
  min-width: 150px;
  // border: 1px solid black;
  padding: 20px;
  text-align: center;
  white-space: nowrap;
}
.rounded--right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.rounded--left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.td-oprate > button {
  margin: 0 5px;
}
.my-webKit::-webkit-scrollbar {
  display: none;
}
.my-webKit {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.filter-buttom {
  left: 0;
  position: absolute;
}
