@media screen and (max-width: 1463px) {
  .margin-right {
    margin-right: -1.94rem;
  }
}
.notebar-left {
  position: fixed;
  top: 70px;
  height: calc(100vh - #{80px});
  background: #fff;
  box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
}
@media screen and (min-width: 577px) {
  .notebar-left {
    top: 80px;
  }
}
.bg-lightdark {
  background-color: #3f4343f0;
}
.btn-confirmed {
  background-color: #cb9800;
}
.btn-final {
  background-color: #6e6446;
}
.btn-rejected {
  background-color: #980404;
}
.success-span {
  background-color: #4caf50 !important;
}
.new-span {
  background-color: #5992c7 !important;
}
.failed-span {
  background-color: #e24c4c !important;
}
.wait-span {
  background-color: #a4d9a4 !important ;
}
.last-span {
  background-color: #85e089 !important ;
}
.notebar-left {
  left: calc(-#{400px} - #{20px});
  z-index: 1057;
  transition: all 0.24s ease-in-out;
  &.open {
    left: 0;
  }
  .aside-left {
    list-style: none;
    text-align: center;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 0;
    .aside-item {
      position: relative;
      display: block;
      width: 100%;
      color: #000;
      &:focus,
      &:active {
        outline: none;
      }
      &.lvl1 {
        padding: 0 12px;
        text-align: justify;
      }
      .aside-item-hold {
        width: 100%;
        padding: 0 0;
        &:focus,
        &:active {
          outline: none;
        }
        .aside-text {
          font-size: 13px;
          display: block;
          font-weight: 400;
        }
      }
    }
  }
}
// :is(.my-css) .badge {
//   width: 80px !important;
//   padding: 4px 0;
//   font-size: 16px;
// }
.clickable-btn {
  cursor: pointer;
  font-size: 25px !important;
}
.bg-gradient-grey {
  background: linear-gradient(
    90deg,
    rgba(109, 129, 129, 1) 51%,
    rgba(87, 102, 99, 1) 92%
  );
}
.textarea-font {
  font-size: 13px;
  color: #fff;
}
.bg-green {
  background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
}
.bg--gray {
  background-color: rgb(70 85 85);
}
.syncIcon {
  font-weight: 900;
  border-radius: 50%;
  background: #f9f7fa;
}
.radius-lg {
  border-radius: 16px !important;
}
.padding-fixer {
  padding-left: 46px;
}
// .updateNoteBar {
//   top: 0;
//   bottom: 0;
//   position: fixed;
//   overflow-y: scroll;
//   overflow-x: hidden;
//   background-color: none;
//   display: block;
//   z-index: 1055;
//   width: 100%;
//   overflow: visible;
// }
.rounded-4 {
  border-radius: 15px !important;
}
.rounded-alt {
  border-radius: 15px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.bg-notes {
  background-color: #c4ccd1;
}
.bg-notes-header {
  background-color: #5c65b3;
}
// @media (min-width: 409px) {
//   .updateNoteBar {

//     width: 0%;

//   }
// }
// @media (max-width: 576px) {
//   .updateNoteBar {

//     width: 23%;

//   }
// }
// @media (max-width: 767px) {
//   .updateNoteBar {

//     width: 37%;

//   }
// }
// }
// @media (max-width: 991px) {
//   .updateNoteBar {

//     width: 42%;

//   }
// }
// }
// @media (max-width: 1024px) {
//   .updateNoteBar {

//     width: 42%;

//   }
// }
// }

.main-table {
  overflow-x: scroll;
}
.main-table {
  .table {
    margin: 0 auto;
  }
}
table th,
td {
  min-width: 150px;
  // border: 1px solid black;
  padding: 20px;
  text-align: center;
  white-space: nowrap;
}
.rounded--right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.rounded--left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.td-oprate > button {
  margin: 0 5px;
}
.my-webKit::-webkit-scrollbar {
  display: none;
}
.my-webKit {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.filter-buttom {
  left: 0;
  position: absolute;
}

.btn-filter {
  color: #e9e1e1 !important;
  background-color: #e5dbdef4;
  transition: all 0.15s ease-in-out;
}
.btn-filter:hover {
  background-color: #797576f4;
  transition: all 0.15s ease-in-out;
}
.btn-filter i {
  margin: 0;
  transition: all 0.15s ease-in-out;
}
.btn-filter:hover i {
  margin-top: 1.75px !important;
  transition: all 0.15s ease-in-out;
}
.btn-scale-1 {
  transition: transform 0.15s ease-in-out;
}
.btn-scale-1:hover {
  color: #af2929;
  transform: scale(1.1);
  transition: all 0.15s ease-in-out;
}
.btn-scale-1:hover i {
  color: #980404 !important;
}
.btn-scale-1:focus {
  border: 0 !important;
  box-shadow: none !important;
}
.activeOrder label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}
input[type="checkbox"] {
  height: 0;
  width: 0;
  //  visibility: hidden;
}
.add-btn{
  position: absolute;
    left: 2%;
}
.activeOrder label {
  cursor: pointer;
  //text-indent: -9999px;
  width: 70px;
  height: 35px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
  color: rgb(255, 255, 255);
  // margin-right: 47%;
}
input:checked + label {
  background: #663399;
}

input:checked + label:after {
  left: calc(100% - 1px);
  transform: translateX(-100%);
}

.activeOrder label:active:after {
  width: 60px;
}
.card-green {

  background: #2c762f;
  border-radius: 0.25rem;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }
 .card-purple {

  background: rgba(121, 117, 118, 0.9568627451);
  border-radius: 0.25rem;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }

 
 .btn-blue-right-section {
  text-align: center;

  border-left: 1px solid #fff;
}
.d-grid{
  display: grid;
}
.card-text-font{
  font-weight: bold;
  font-size: 0.8rem;
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  33% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  background: #8510bb;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  /* padding: 0px 30px; */
  color: #fff;
  font-family: Lato, Arial, sans-serif;
  border-color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
  will-change: transform;
  
  &:hover {
    background: darken(#8510bb,10%);
    box-shadow: 0 4px 17px rgba(0,0,0,0.2);
    transform: translate3d(0, -2px, 0);
  }
  &:active {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
    transform: translate3d(0, 1px, 0);
  }
}

.pulse {
  position: relative;
  
  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,.4);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    opacity: 0;
    margin: auto;
  }
  &:before {
    animation: pulse 1.5s infinite linear;
  }
  &:after {
    animation: pulse 2s .4s infinite linear;
  }
  &:hover:before, &:hover:after {
    display: none;
  }
}
.icon-font-size{
  font-size: 44px;
    font-weight: bold;
}
