<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="card-title mb-3">ورودی های فرم </div>
        <form
          _ngcontent-yio-c138=""
          novalidate=""
          ng-reflect-form="[object Object]"
          class="ng-untouched ng-pristine ng-valid"
        >
          <div _ngcontent-yio-c138="" class="row">
            <div _ngcontent-yio-c138="" class="col-md-6 form-group mb-3">
              <label _ngcontent-yio-c138="" for="firstName">شناسه محصول</label
              ><input
                _ngcontent-yio-c138=""
                type="text"
                id="title"
                placeholder="شناسه محصول"
                class="form-control"
              />
            </div>

            <div _ngcontent-yio-c138="" class="col-md-6 form-group mb-3">
              <label _ngcontent-yio-c138="" for="firstName">تولید - محصول </label
              ><input
                _ngcontent-yio-c138=""
                type="text"
                id="decscription"
                placeholder="تولید - محصول"
                class="form-control"
              />
            </div>

            <div _ngcontent-yio-c138="" class="col-md-6 form-group mb-3">
              <label _ngcontent-yio-c138="" for="firstName">VideoUrl </label
              ><input
                _ngcontent-yio-c138=""
                type="text"
                id="orderId "
                placeholder="VideoUrl "
                class="form-control"
              />
            </div>

            <div _ngcontent-yio-c138="" class="col-md-6 form-group mb-3"><label _ngcontent-yio-c138="" for="picker1">نوع</label><select _ngcontent-yio-c138="" class="form-control form-control-rounded"><option _ngcontent-yio-c138="">نوع اول</option><option _ngcontent-yio-c138="">نوع دوم</option><option _ngcontent-yio-c138="">نوع سوم</option></select></div>

            <div _ngcontent-yio-c158="" class="input-group mb-3">
              <div _ngcontent-yio-c158="" class="custom-file">
                <input
                  _ngcontent-yio-c158=""
                  type="file"
                  id="inputGroupFile02"
                  class="custom-file-input"
                /><label
                  _ngcontent-yio-c158=""
                  for="inputGroupFile02"
                  aria-describedby="inputGroupFileAddon02"
                  class="custom-file-label"
                  ></label
                >
              </div>
              <div _ngcontent-yio-c158="" class="input-group-append">
                <span
                  _ngcontent-yio-c158=""
                  id="inputGroupFileAddon02"
                  class="input-group-text"
                  >آپلود تصویر</span
                >
              </div>
            </div>
            <div _ngcontent-yio-c158="" class="input-group mb-3">
              <div _ngcontent-yio-c158="" class="custom-file">
                <input
                  _ngcontent-yio-c158=""
                  type="file"
                  id="inputGroupFile02"
                  class="custom-file-input"
                /><label
                  _ngcontent-yio-c158=""
                  for="inputGroupFile02"
                  aria-describedby="inputGroupFileAddon02"
                  class="custom-file-label"
                  ></label
                >
              </div>
              <div _ngcontent-yio-c158="" class="input-group-append">
                <span
                  _ngcontent-yio-c158=""
                  id="inputGroupFileAddon02"
                  class="input-group-text"
                  >آپلود آیکون</span
                >
              </div>
            </div>
          </div>

          <label _ngcontent-yio-c138="" class="checkbox checkbox-success"
            ><input _ngcontent-yio-c138="" type="checkbox" checked="" /><span
              _ngcontent-yio-c138=""
              >فعال است </span
            ><span _ngcontent-yio-c138="" class="checkmark"></span
          ></label>
        </form>
        <button _ngcontent-tco-c175="" type="button" class="btn btn-primary btn-block m-1">ثبت</button>
      </div>
    </div>

  </div>

</div>
