.custom-table-responsive {
  padding: 20px;
  border-radius: 10px;
  overflow-x: auto;
}

.custom-table {
  width: 100%;
  max-width: 1536px;
  min-width: 900px;
  thead {
    tr,
    th {
      font-weight: 500;
      font-size: 0.875rem;
    }
    tr {
      overflow: hidden;
      border-radius: 15px;
      th {
        padding: 12px 5px;

        background: #2b9a9e;
        color: #fff;
        border: none;
        text-align: center;
        vertical-align: middle;
        &:first-child {
          width: 100px;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
        }
        &:last-child {
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
        }
      }
    }
  }
  tbody {
    th,
    td {
      vertical-align: middle;
      color: #646464;
      font-weight: 500;
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: 0.725rem;
      small {
        color: darken(#ccc, 10%);
        font-weight: 300;
      }
    }
    tr {
      border-radius: 15px;
      overflow: hidden;
      &:nth-child(even) {
        background-color: #f3f3f3;
      }
      &:nth-child(odd) {
        background-color: #fff;
      }
      th,
      td {
        text-align: center;
        border: none;
        &:first-child {
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
        }
        &:last-child {
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
        }
        &.td-actions {
          width: 150px;
          padding: 0 1.5rem;
          button {
            border-radius: 50%;
            width: 35px !important;
            height: 35px !important;
            padding: 0.5rem !important;
            margin: 0 !important;
            background-color: #2b9a9e;
            font-size: 0.725rem;
            &.delete {
              background-color: #ee3232;
            }
          }
        }
      }

      &.active {
        opacity: 0.4;
      }
    }
  }
}
