<!-- Button - Create -->

<p-button
  dir="ltr"
  (click)="goToDetails(-1)"
  label="ایجاد سفارش"
  icon="pi pi-plus"
  styleClass="p-button-raised p-button-sm"
  iconPos="right"
></p-button>

<!-- Button - Create -->

<!-- Filter -->

<div class="d-flex flex-row flex-wrap align-items-center mt-5">
  <strong class="m-1 text-small"
    ><i class="i-Filter-2 text-dark text-bigger mr-1"></i> فیلتر بر اساس &nbsp;
    : &nbsp;</strong
  >

  <!-- TableType -->
  <strong for="pageOrder" class="text-small"> بخش </strong>
  <div ngbDropdown placement="bottom-end" class="col-auto">
    <button
      type="button"
      class="btn btn-filter radius py-btns text-small"
      id="dropdownBasic1"
      ngbDropdownToggle
    >
      <strong class="ml-1" style="font-size: 0.76rem">{{
        selectedTableType.title
      }}</strong>
    </button>
    <div
      ngbDropdownMenu
      class="mt-1 shadow-lg radius dropDown-scroll"
      aria-labelledby="dropdownBasic1"
      style="height: auto; overflow: auto; z-index: 0"
    >
      <button
        class="text-left btn mt-2"
        ngbDropdownItem
        *ngFor="let table of tableTypes"
        (click)="setFilter(table)"
      >
        <strong class="text-small ml-1">{{ table.title }}</strong>
      </button>
    </div>
  </div>

  <!-- TableType -->
</div>

<!-- Filter -->

<div class="table-responsive custom-table-responsive">
  <table class="table custom-table">
    <thead>
      <tr>
        <th>شناسه</th>
        <th>تاریخ تغییر</th>
        <th>بخش</th>
        <th>شناسه قبلی</th>
        <th>شناسه کنونی</th>
        <th>لینک قبلی</th>
        <th>لینک مقصد</th>
        <th>جزئیات</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="pageHasItems">
        <tr
          *ngFor="
            let item of items
              | paginate
                : {
                    itemsPerPage: 10,
                    currentPage: page.pageNumber
                  }
          "
        >
          <td>{{ item.id }}</td>
          <td>
            {{ item.updateDate | date : "yyyy/M/d" }} <br />
            توسط کاربر شماره:&nbsp;{{ item.updateBy }}
          </td>
          <td>{{ item.tableTypeTitle || "_" }}</td>
          <td>{{ item.fromRowID || "_" }}</td>
          <td>{{ item.toRowID || "_" }}</td>
          <td>{{ item.fromUrl || "_" }}</td>
          <td>{{ item.destUrl || "_" }}</td>
          <td class="td-actions">
            <div class="d-flex flex-row justify-content-around">
              <button
                ngbTooltip="جزئیات"
                class="btn"
                (click)="goToDetails(item.id)"
              >
                <span class="d-inline-flex"
                  ><span class="pi pi-arrow-up-right text-white"></span
                ></span>
              </button>
              <button
                ngbTooltip=" حذف"
                class="btn delete"
                (click)="deleteItem(item)"
              >
                <span class="d-inline-flex"
                  ><span class="pi pi-times text-white"></span
                ></span>
              </button>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <div class="col-md-12 mt-3" *ngIf="items.length > 10">
    <pagination-controls
      (pageChange)="get($event)"
      previousLabel=""
      nextLabel=""
      responsive="true"
    ></pagination-controls>
  </div>
  <div *ngIf="!pageHasItems" class="d-flex justify-content-center">
    <img
      src="../../../../../assets/images/97434-no-data-available.gif"
      class="img-fluid w-50 radius-lg"
      style="opacity: 0.4"
      alt=""
    />
  </div>
</div>
