<div class="d-flex flex-column justify-content-center align-items-center"></div>
<div class="modal">
  <div class="modal-header">
    <h4 class="modal-title">کد پاسخ بانک</h4>
  </div>
  <div class="modal-body">
    <form class="ng-untouched ng-pristine ng-invalid">
      <div class="row">
        <div class="col-md-12 form-group mb-3">
          <input
            type="text"
            id="code"
            name="code"
            #code
            placeholder="کد را وارد کنید"
            class="form-control form-control-rounded ng-untouched ng-pristine ng-invalid"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer justify-content-center">
    <button
      type="button"
      class="btn btn-outline-dark btn-rounded ng-star-inserted"
      (click)="updateOrder(code.value)"
    >
      ذخیره
    </button>
  </div>
</div>
