<div class="mb-4 d-block">
  <button
    class="btn btn-primary mb-4"
    type="button"
    [ngClass]="{ 'd-none': viewMode === 'grid' }"
    (click)="addorEdit(addUpdateModal, undefined)"
  >
    ایجاد
  </button>
</div>
<div class="separator-breadcrumb border-top"></div>
<!-- SINGLE LIST ITEM -->
<!----------------------------------- Head Table  -->
<div class="row list-horizontal">
  <div
    class="list-item"
    [ngClass]="{
      'col-md-12': viewMode === 'list',
      'col-md-3': viewMode === 'grid'
    }"
  >
    <div
      class="card bg-dark o-hidden mb-4 d-flex"
      [ngClass]="{
        'flex-row': viewMode === 'list',
        'flex-column': viewMode === 'grid'
      }"
    >
      <div
        class="flex-grow-1"
        [ngClass]="{
          'pl-2 d-flex': viewMode === 'list',
          'd-block': viewMode === 'grid'
        }"
      >
        <div class="align-self-center text-white">ID</div>
        <div
          id="myHeader"
          class="card-body align-self-center d-flex align-items-lg-center row text-center"
          [ngClass]="{ 'flex-lg-row': viewMode === 'list' }"
        >
          <!-- OTHER DATA -->
          <div class="m-0 col text-white text-lg-center">تصویر</div>
          <div
            class="m-0 col d-md-block text-light d-lg-block d-xl-block d-sm-none d-none text-lg-center"
          >
            عملیات
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- SINGLE LIST ITEM -->
  <div
    *ngFor="let item of rows"
    class="list-item"
    [ngClass]="{
      'col-md-12': viewMode === 'list',
      'col-md-3': viewMode === 'grid'
    }"
  >
    <div
      class="card o-hidden mb-4 d-flex"
      [ngClass]="{
        'flex-row-2': viewMode === 'list',
        'flex-column': viewMode === 'grid'
      }"
    >
      <!-- <div class="list-thumb">
          <img [src]="item.filePath" width="100px" height="50px" alt="تصویری وجود ندارد">
        </div> -->
      <div
        [ngClass]="{
          'pl-2 d-flex': viewMode === 'list',
          'd-block': viewMode === 'grid'
        }"
      >
        <div class="align-self-center">{{ item.id }}</div>
        <div
          class="card-body align-self-center text-center d-flex align-items-lg-center row"
          [ngClass]="{ 'flex-lg-row': viewMode === 'list' }"
        >
          <div class="m-0 col">
            <img src="{{ item.filePath }}" width="100" height="100" />
          </div>
          <div
            class="col d-sm-none d-none d-md-inline-block d-lg-inline-block d-xl-inline-block"
          >
            <div class="text-center col-auto d-flex justify-content-around">
              <div class="m-0 w-25 w-sm-100 ml-sm-2">
                <button
                  class="btn btn-danger"
                  [ngClass]="{ 'd-none': viewMode === 'grid' }"
                  (click)="deleteLearn(item.id, deleteConfirmModal)"
                >
                  حذف
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="text-center row m-5 d-sm-block d-block d-md-none d-lg-none d-xl-none"
      >
        <h6 class="text-center">عملیات</h6>
        <button
          type="button"
          [ngClass]="{ 'd-none': viewMode === 'grid' }"
          (click)="deleteLearn(item.id, deleteConfirmModal)"
          class="btn btn-outline-danger col-6 m-1"
        >
          حذف
        </button>
        <button
          type="button"
          (click)="addorEdit(addUpdateModal, item)"
          [ngClass]="{ 'd-none': viewMode === 'grid' }"
          class="btn btn-outline-warning col-6 m-1"
        >
          ویرایش
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="rows?.length == 0" class="d-flex justify-content-center">
  <img
    src="../../../../../assets/images/97434-no-data-available.gif"
    class="img-fluid w-50"
    alt=""
  />
</div>
<!---------------------------------------------- MODALS -->
<!-- Add Or Edit -->
<ng-template #addUpdateModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">ایجاد</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addForm" (ngSubmit)="submit()">
      <div class="col-md-7 mt-4">
        <input type="file" (change)="onFileChanged($event)" />

        <div>
          <image-cropper
            [imageChangedEvent]="imgChangeEvt"
            [maintainAspectRatio]="false"
            format="webp"
            [resizeToWidth]="1280"
            (imageCropped)="cropImg($event)"
            (imageLoaded)="imgLoad()"
            (cropperReady)="initCropper()"
            (loadImageFailed)="imgFailed()"
          >
          </image-cropper>
        </div>
        <div class="float-left w-25">
          <img [src]="cropImagePreview" alt="" />
        </div>
      </div>
      <div class="col-12 mt-2 mb-3">
        <button
          type="button"
          class="btn btn-rounded btn-outline-dark"
          (click)="uploadFile()"
        >
          آپلود کن
        </button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark btn-rounded"
      (click)="modal.close(false)"
    >
      ایجاد
    </button>
  </div>
</ng-template>

<!-- Delete -->
<ng-template #deleteConfirmModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">حذف تصویر</h4>
    <button
      type="button"
      class="close"
      aria-label="Close button"
      aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>آیا از حذف مطمئنید؟</strong></p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary btn-rounded mr-1"
      (click)="modal.dismiss('cancel')"
    >
      خیر
    </button>
    <button
      type="button"
      ngbAutofocus
      class="btn btn-wide btn-danger btn-rounded"
      (click)="modal.close('Ok')"
    >
      بله
    </button>
  </div>
</ng-template>

<!-- PAGINATION CONTROL -->
<div class="col-md-12 mt-3" *ngIf="rows?.length">
  <pagination-controls
    (pageChange)="page = $event"
    previousLabel=""
    nextLabel=""
  ></pagination-controls>
</div>
