<div class="mb-4 d-block" *appCanAccess="'ProductT-Edit'">
  <button
    class="btn-add btn d-inline-flex justify-content-around py-btns radius align-items-center mb-4"
    type="button"
    [ngClass]="{ 'd-none': viewMode === 'grid' }"
    (click)="addorEdit(addUpdateModal, undefined)"
  >
    <i class="i-Add text-bigger mr-2"></i>
    <strong>ایجاد</strong>
  </button>
</div>
<div
  class="separator-breadcrumb border-top"
  *appCanAccess="'ProductT-Edit'"
></div>

<!--
  -
  -
  SINGLE LIST ITEM
  -
  -
-->

<section class="main-table">
  <table class="table">
    <thead class="bg-dark text-white">
      <tr>
        <th>تصویر</th>
        <th class="rounded--left">عملیات</th>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let item of rows">
        <tr *ngIf="item.fileExists">
          <td>
            <img
              (error)="splitRow(item)"
              [src]="'https://dl.iraniexpert.com/' + item.filePath"
              width="100"
              height="100"
            />
          </td>
          <td>
            <button
              *appCanAccess="'ProductT-Edit'"
              class="btn-delete btn d-inline-flex justify-content-around py-btns radius align-items-center"
              (click)="deleteImg(item, deleteConfirmModal)"
            >
              <i class="i-Close text-bigger mr-2"></i>
              <strong>حذف</strong>
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</section>

<div *ngIf="rows?.length == 0" class="d-flex justify-content-center">
  <img
    src="../../../../../assets/images/97434-no-data-available.gif"
    class="img-fluid w-50"
    style="opacity: 0.4"
    alt=""
  />
</div>
<!---------------------------------------------- MODALS -->
<!-- Add Or Edit -->
<ng-template #addUpdateModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">ایجاد</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addForm" (ngSubmit)="submit()">
      <div class="col-md-7 mt-4">
        <input type="file" (change)="onFileChanged($event)" />

        <div>
          <image-cropper
            [imageChangedEvent]="imgChangeEvt"
            [maintainAspectRatio]="false"
            format="webp"
            [resizeToWidth]="1280"
            (imageCropped)="cropImg($event)"
            (imageLoaded)="imgLoad()"
            (cropperReady)="initCropper()"
            (loadImageFailed)="imgFailed()"
          >
          </image-cropper>
        </div>
        <div class="float-left w-25">
          <img [src]="cropImagePreview" alt="" />
        </div>
      </div>
      <div class="col-12 mt-2 mb-3">
        <button
          type="button"
          class="btn-upload btn d-inline-flex justify-content-around py-btns radius align-items-center"
          (click)="uploadFile()"
        >
          <i class="i-Upload text-dark text-bigger mr-3"></i>
          <strong>آپلود</strong>
        </button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn-add btn d-inline-flex justify-content-around py-btns radius align-items-center"
      (click)="modal.close(true)"
    >
      <i class="i-Add text-bigger mr-2"></i>
      <strong>ایجاد</strong>
    </button>
  </div>
</ng-template>

<!-- Delete -->
<ng-template #deleteConfirmModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">حذف تصویر</h4>
    <button
      type="button"
      class="close"
      aria-label="Close button"
      aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>آیا از حذف مطمئنید؟</strong></p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn-save btn d-inline-flex justify-content-around py-btns radius align-items-center mr-1"
      (click)="modal.dismiss('cancel')"
    >
      <i class="i-Close text-dark text-bigger mr-3"></i>
      <strong>خیر</strong>
    </button>
    <button
      type="button"
      ngbAutofocus
      class="btn-delete btn d-inline-flex justify-content-around py-btns radius align-items-center"
      (click)="modal.close('Ok')"
    >
      <i class="i-Yes text-dark text-bigger mr-3"></i>
      <strong>بله</strong>
    </button>
  </div>
</ng-template>
