.grid-gutter {
  grid-column-gap: 4%;
}
ul {
  padding-inline-start: 10px !important;
  margin-block-end: 0px !important;
}
hr {
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}
.dropDown-scroll::-webkit-scrollbar {
  width: 6px;
  margin-top: 2px;
  background: #fff;
  border-radius: 0 0 0 6px;
}
.dropDown-scroll::-webkit-scrollbar-thumb {
  background: #5e6a69;
  border-radius: 10px;
}
.dropDown-scroll::-webkit-scrollbar-track {
  border-radius: 10px;
}
.dropdown-menu {
  z-index: 1 !important;
}
.margin-top-lg {
  margin-top: 100.391px;
}
input::placeholder {
  color: #0b1136;
}
// input:: .datePicker {
//   display: none;
// }
input:focus {
  border-color: #ced4da !important;
  border: 1px solid #ced4da !important;
  color: #0b1136 !important;
  box-shadow: none !important;
  background: #f4f2f2 !important;
}
.date-picker:focus {
  background: #fff !important;
}
