<!-- <div
  ngbDropdown
  placement="bottom-end"
  class="d-inline-block m-1 mb-2"
  *ngIf="isDataFetched"
>
  <button
    type="button"
    class="btn btn-details radius py-btns text-small"
    id="dropdownBasic1"
    ngbDropdownToggle
  >
    در
  </button>
  <div
    ngbDropdownMenu
    class="mt-1 shadow-lg radius"
    aria-labelledby="dropdownBasic1"
  >
    <button
      class="text-left btn"
      ngbDropdownItem
      *ngFor="let tableType of tableTypes"
      .
      (click)="setPage(0, tableType.value)"
    >
      <strong>{{ tableType.title }}</strong>
    </button>
  </div>
</div>

<button
  *ngIf="isDataFetched"
  class="btn-filter btn d-inline-flex justify-content-around py-btns radius align-items-center m-1"
>
  <i class="i-Filter-2 text-dark text-bigger mr-2"></i>
  <strong class="text-dark ml-2 text-small"> فیلتر</strong>
</button> -->

<div
  class="row grid-gutter flex-row d-flex justify-content-start"
  *ngIf="isDataFetched"
>
  <ng-container *ngFor="let item of logRows">
    <div
      ngbTooltip="برای دیدن جزئیات کلیک کنید"
      placement="bottom-left"
      [openDelay]="300"
      (click)="openModal(item, detailsModal)"
      class="col-10 col-sm-8 py-3 col-md-5 col-lg-4 col-xl-2 card bg-white shadow-lg cursor-pointer"
    >
      <!-- Action Desription -->
      <div
        [ngClass]="{
          'btn-save': item.requestType == 0,
          'btn-delete': item.requestType == 2,
          'btn-add': item.requestType == 1
        }"
        class="d-flex py-1 radius align-items-center"
      >
        <span class="d-inline-flex p-2"
          ><span
            class="pi"
            [ngClass]="{
              'pi-trash': item.requestType == 2,
              'pi-pencil': item.requestType == 0,
              'pi-plus': item.requestType == 1
            }"
            style="font-size: 1.2rem"
          ></span
        ></span>
        <strong class="mx-2">{{ item.requestTypeTitle }}</strong>
      </div>
      <!-- Action Desription -->
      <!-- Log Details -->
      <ul class="list-unstyled mt-2">
        <li class="mt-2 mb-2">
          <div class="d-flex align-items-center">
            <span class="d-inline-flex p-2 bg-light rounded-circle"
              ><span
                class="pi"
                [ngClass]="{
                  'pi-images': item.tableType == 7,
                  'pi-users': item.tableType == 20,
                  'pi-user': item.tableType == 10,
                  'pi-cog': item.tableType == 27,
                  'pi-image': item.tableType == 22,
                  'pi-gift': item.tableType == 11,
                  'pi-shopping-cart': item.tableType == 8,
                  'pi-upload': item.tableType == 31,
                  'pi-file-word': item.tableType == 18,
                  'pi-hashtag': item.tableType == 5,
                  'pi-id-card': item.tableType == 32,
                  'pi-envelope': item.tableType == 9,
                  'pi-key': item.tableType == 26,
                  'pi-folder-open': item.tableType == 24,
                  'pi-shopping-bag': item.tableType == 6,
                  'pi-wrench': item.tableType == 23,
                  'pi-sign-in': item.tableType == 3,
                  'pi-cart-plus': item.tableType == 2,
                  'pi-bars': item.tableType == 17,
                  'pi-sitemap': item.tableType == 21,
                  'pi-tags': item.tableType == 17,
                  'pi-tag': item.tableType == 6,
                  'pi-dollar': item.tableType == 2,
                  'pi-file-pdf': item.tableType == 1,
                  'pi-file': item.tableType == 30,
                  'pi-money-bill': item.tableType == 14,
                  'pi-question': item.tableType == 29,
                  'pi-wallet': item.tableType == 15,
                  'pi-book': item.tableType == 12,
                  'pi-link': item.tableType == 12
                }"
                style="font-size: 1.2rem"
              ></span
            ></span>
            <strong class="mx-2 text-small"
              >{{ item.tableTypeTitle }} , <br />
              شناسه : {{ item.rowID }}</strong
            >
          </div>
        </li>
        <hr />
        <li class="mt-2 mb-2">
          <div class="d-flex align-items-center">
            <span class="d-inline-flex p-2 bg-light rounded-circle"
              ><span class="pi pi-user" style="font-size: 1.2rem"></span
            ></span>
            <strong class="mx-2 text-small">
              {{ item.firstName }} &nbsp; {{ item.lastName }}
            </strong>
          </div>
        </li>
        <hr />
        <li class="mt-2 mb-2">
          <div class="d-flex align-items-center">
            <span class="d-inline-flex p-2 bg-light rounded-circle"
              ><span class="pi pi-clock" style="font-size: 1.2rem"></span
            ></span>
            <strong class="mx-2 text-small">
              {{ item.createDate | date }}
            </strong>
          </div>
        </li>
      </ul>
    </div>
  </ng-container>
</div>

<ng-template let-modal #detailsModal>
  <div class="modal-header">
    <h4 class="modal-title">لاگ شماره‌ی {{ logDetail.id }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row mt-3">
      <div class="col-12 form-group mb-3">
        <strong for="totalPrice" class="mb-3">شناسه‌ی کابر</strong>
        <input
          class="form-control mt-1"
          value="{{ logDetail.userID }}"
          disabled
        />
      </div>
      <div class="col-12 form-group mb-3">
        <strong for="totalPrice" class="mb-3">ایمیل</strong>
        <input
          class="form-control mt-1"
          value="{{ logDetail.email }}"
          disabled
        />
      </div>
      <div class="col-12 form-group mb-3">
        <strong for="totalPrice" class="mb-3">شماره تماس</strong>
        <input
          class="form-control mt-1"
          value="{{ logDetail.phoneNumber }}"
          disabled
        />
      </div>
      <div class="col-12 form-group mb-3">
        <strong for="totalPrice" class="mb-3">کد معرف</strong>
        <input
          class="form-control mt-1"
          value="{{ logDetail.referralCode }}"
          disabled
        />
      </div>
      <div class="col-12 form-group mb-3">
        <strong for="totalPrice" class="mb-3">آدرس آی پی</strong>
        <input
          class="form-control mt-1"
          value="{{ logDetail.ipAddress }}"
          disabled
        />
      </div>
      <div class="col-12 form-group mb-3">
        <strong for="totalPrice" class="mb-3">تاریخ شمسی</strong>
        <input
          class="form-control mt-1"
          value="{{ logDetail.jalaliDate }}"
          disabled
        />
      </div>
      <div class="col-12 form-group mb-3">
        <strong for="totalPrice" class="mb-3">وضعیت فعالیت</strong>
        <input
          class="form-control mt-1"
          [value]="logDetail.isSuccess ? 'موفق' : 'ناموفق'"
          [ngClass]="{
            'btn-save': logDetail.isSuccess,
            'btn-delete': !logDetail.isSuccess
          }"
          disabled
        />
      </div>
    </div>
  </div>
</ng-template>
