<div class="breadcrumb">
  <h1>محصولات</h1>
  <ul>
    <li><a href="">آموزشات</a></li>
    <li>ویرایش</li>
  </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <form
          _ngcontent-yio-c138=""
          novalidate=""
          ng-reflect-form="[object Object]"
          class="ng-untouched ng-pristine ng-valid"
        >
          <div _ngcontent-yio-c138="" class="row">
            <div _ngcontent-yio-c138="" class="col-md-6 form-group mb-3">
              <label _ngcontent-yio-c138="" for="firstName">شناسه محصول</label
              ><input
                _ngcontent-yio-c138=""
                type="text"
                id="title"
                placeholder="شناسه محصول"
                class="form-control"
              />
            </div>
            <div _ngcontent-yio-c138="" class="col-md-6 form-group mb-3">
              <label _ngcontent-yio-c138="" for="firstName">محصول</label
              ><input
                _ngcontent-yio-c138=""
                type="text"
                id="title"
                placeholder="محصول"
                class="form-control"
              />
            </div>
            <div _ngcontent-yio-c138="" class="col-md-6 form-group mb-3">
              <label _ngcontent-yio-c138="" for="firstName">ردیف</label
              ><input
                _ngcontent-yio-c138=""
                type="text"
                id="title"
                placeholder="ردیف"
                class="form-control"
              />
            </div>
            <div _ngcontent-yio-c138="" class="col-md-6 form-group mb-3">
              <label _ngcontent-yio-c138="" for="firstName">عنوان</label
              ><input
                _ngcontent-yio-c138=""
                type="text"
                id="title"
                placeholder="عنوان"
                class="form-control"
              />
            </div>
            <div _ngcontent-yio-c138="" class="col-md-6 form-group mb-3">
              <label _ngcontent-yio-c138="" for="firstName">توضیحات</label
              ><input
                _ngcontent-yio-c138=""
                type="text"
                id="title"
                placeholder="توضیحات"
                class="form-control"
              />
            </div>
            <div _ngcontent-yio-c138="" class="col-md-2 form-group mb-3">
              <label _ngcontent-yio-c138="" for="firstName">ترتیب</label
              ><input
                _ngcontent-yio-c138=""
                type="number"
                id="title"
                placeholder="اهمیت"
                class="form-control"
              />
            </div>
          </div>
          <label _ngcontent-yio-c138="" class="checkbox checkbox-success"
            ><input _ngcontent-yio-c138="" type="checkbox" checked="" /><span
              _ngcontent-yio-c138=""
              >فعال است </span
            ><span _ngcontent-yio-c138="" class="checkmark"></span
          ></label>
          <div _ngcontent-yio-c138="" class="col-md-6 form-group mb-3">
            <label _ngcontent-yio-c138="" for="firstName">شناسه</label
            ><input
              _ngcontent-yio-c138=""
              type="text"
              id="title"
              placeholder="شناسه"
              class="form-control"
            />
          </div>
          <div _ngcontent-yio-c138="" class="col-md-6 form-group mb-3">
            <label _ngcontent-yio-c138="" for="firstName"
              >آخرین به روزرسانی</label
            ><input
              _ngcontent-yio-c138=""
              type="datetime-local"
              id="title"
              placeholder=""
              class="form-control"
            />
          </div>
          <div _ngcontent-yio-c138="" class="col-md-6 form-group mb-3">
            <label _ngcontent-yio-c138="" for="firstName">به روز شده توسط</label
            ><input
              _ngcontent-yio-c138=""
              type="text"
              id="title"
              placeholder="آقای شوز"
              class="form-control"
            />
          </div>
          <div _ngcontent-yio-c138="" class="col-md-6 form-group mb-3">
            <label _ngcontent-yio-c138="" for="firstName">ایجاد شده در </label
            ><input
              _ngcontent-yio-c138=""
              type="datetime-local"
              id="title"
              placeholder=""
              class="form-control"
            />
          </div>
          <div _ngcontent-yio-c138="" class="col-md-6 form-group mb-3">
            <label _ngcontent-yio-c138="" for="firstName">ایجاد شده توسط</label
            ><input
              _ngcontent-yio-c138=""
              type="text"
              id="title"
              placeholder="آقای شوزیان"
              class="form-control"
            />
          </div>
        </form>
        <button
          _ngcontent-tco-c175=""
          type="button"
          class="btn btn-primary m-1"
        >
          ثبت
        </button>
      </div>
    </div>
  </div>
</div>
