input[type="text"] {
  color: #444;
  padding: 22px;
  background: #eff8fb;
  border-radius: 10px;
  border: 1px solid #efefef;
  transition: all 400ms ease-in-out;
}
input[type="number"] {
  color: #444;
  padding: 22px;
  background: #eff8fb;
  border-radius: 10px;
  border: 1px solid #efefef;
  transition: all 400ms ease-in-out;
}
