<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink>ایجاد یا ویرایش</a>
    <ng-template ngbNavContent>
      <form class="card container p-4">
        <div class="row">
          <div class="col-md-6">
            <label for="title">عنوان</label>
            <input
              type="text"
              class="form-control form-control-rounded"
              id="title"
              placeholder="عنوان را وارد نمایید."
              [formControl]="addForm.controls['title']"
              [(ngModel)]="addUpdate.title"
            />
            <small
              *ngIf="
                addForm.controls['title'].hasError('required') &&
                addForm.controls['title'].touched
              "
              class="mat-text-warn m-t-negative"
              >ورود عنوان ضروری است</small
            >
          </div>
          <div class="col-md-6">
            <label for="brief">متن کوتاه</label>
            <textarea
              type="text"
              class="form-control form-control-rounded"
              id="brief"
              placeholder="متن کوتاه را وارد نمایید."
              [formControl]="addForm.controls['brief']"
              [(ngModel)]="addUpdate.brief"
            ></textarea>
            <small
              *ngIf="
                addForm.controls['brief'].hasError('required') &&
                addForm.controls['brief'].touched
              "
              class="mat-text-warn m-t-negative"
              >ورود متن کوتاه ضروری است</small
            >
          </div>
          <div class="col-md-6">
            <label for="picker1">انتخاب گروه</label>
            <select
              [formControl]="addForm.controls['groupID']"
              class="form-control form-control-rounded"
              (ngModelChange)="selectGroup($event)"
              [ngModel]="addUpdate.groupID"
            >
              <option *ngFor="let item of groupList" value="{{ item.value }}">
                {{ item.title }}
              </option>
            </select>
            <small
              *ngIf="
                addForm.controls['groupID'].hasError('required') &&
                addForm.controls['groupID'].touched
              "
              class="mat-text-warn m-t-negative"
              >انتخاب نوع گروه ضروری است</small
            >
          </div>
          <div class="col-md-7 mt-4">
            <input type="file" (change)="onFileChanged($event)" />

            <div>
              <image-cropper
                [imageChangedEvent]="imgChangeEvt"
                [maintainAspectRatio]="false"
                format="webp"
                [resizeToWidth]="1280"
                (imageCropped)="cropImg($event)"
                (imageLoaded)="imgLoad()"
                (cropperReady)="initCropper()"
                (loadImageFailed)="imgFailed()"
              >
              </image-cropper>
            </div>
            <div class="float-left w-25">
              <img [src]="cropImagePreview" alt="" />
            </div>
          </div>
          <div class="col-12 mt-1 mb-2">
            <button
              type="button"
              class="btn btn-rounded btn-outline-dark"
              (click)="uploadFile()"
            >
              آپلود کن
            </button>
          </div>
          <div class="col-md-12 form-group mb-3">
            <ckeditor
              [formControl]="addForm.controls['description']"
              [(ngModel)]="addUpdate.description"
              name="myckeditor"
              required
              [config]="ckeConfig"
              debounce="500"
              (paste)="onPasteEditor($event)"
              (change)="onChangeEditor($event)"
            >
            </ckeditor>
            <small
              *ngIf="
                addForm.controls['description'].hasError('required') &&
                addForm.controls['description'].touched
              "
              class="mat-text-warn m-t-negative"
              >توضیحات ضروری است</small
            >
          </div>
          <div class="col-md-6 form-group mb-3 mt-3">
            <label class="m-1">نمایش داده شود</label>
            <label class="switch switch-primary mr-2 m-2">
              <span>عدم نمایش</span>
              <input
                [(ngModel)]="addUpdate.isActive"
                [formControl]="addForm.controls['isActive']"
                type="checkbox"
                id="isActive"
              />
              <span class="slider"></span>
            </label>
          </div>
        </div>
        <div class="row">
          <button
            type="button"
            class="btn btn-outline-dark btn-rounded col-auto m-1"
            (click)="modal.close(true)"
            *ngIf="addUpdate.id !== 0"
            [disabled]="!addForm.valid"
            (click)="addOrUpdate(addUpdate)"
          >
            ویرایش
          </button>
          <button
            type="button"
            class="btn btn-outline-dark btn-rounded col-auto m-1"
            *ngIf="addUpdate.id === 0"
            [disabled]="!addForm.valid"
            (click)="addOrUpdate(addUpdate)"
          >
            ذخیره
          </button>
          <button
            type="button"
            class="btn btn-outline-dark btn-rounded col-auto m-1"
            [routerLink]="'/cnt/article'"
          >
            انصراف
          </button>
        </div>
      </form>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>نظرات </a>
    <ng-template ngbNavContent>
      <!-- [disabled]="articleId == 0 -->
      <app-comment [articleId]="articleId">
        <!-- [articleId]="articleId" -->
      </app-comment>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>
