.th-list div {
  color: black !important;
  font-size: 18px !important;
}
div:empty {
  border-bottom: 1px solid #111827;
  width: 24px;
  display: block;
  height: 3px;
  margin: 3px 0;
}
.menu-btn {
  padding: 8px 8px 9px 8px;
  background: #6d28d9;
  border-radius: 8px;
  position: relative;
  float: left;
  cursor: pointer;
}
.tags-bg{
  color: #e9e1e1 !important;
  background-color: #663399 !important;
}
.color-code{
  direction: ltr;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box-color{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.input-color{
  direction: ltr;
}
.col-color{
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.tags-box{
  display: flex;
  width: 80%;
  flex-direction: column;
}
.text-switch{
  text-align: center;
  margin-left: 2rem;
  padding-top: 2rem;
}