<form [formGroup]="addForm">
  <!-- *appCanAccess="'ProductT-Edit'" -->
  <div class="row">
    <div class="col-md-6 form-group mb-3">
      <label for="title">سوال</label>
      <textarea
        name=""
        id=""
        cols="30"
        rows="5"
        type="text"
        class="form-control form-control-rounded"
        id="question"
        placeholder="سوال را وارد نمایید."
        [formControl]="addForm.controls['question']"
        [(ngModel)]="addUpdate.question"
      ></textarea>
      <small
        *ngIf="
          addForm.controls['question'].hasError('required') &&
          addForm.controls['question'].touched
        "
        class="mat-text-warn m-t-negative"
        >ورود سوال ضروری است</small
      >
    </div>

    <div class="col-md-6 form-group mb-3">
      <label for="title">پاسخ</label>
      <ckeditor
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="addUpdate.answer"
        [config]="ckeConfig"
        debounce="100"
      >
      </ckeditor>
      <small *ngIf="addUpdate.answer == ''" class="mat-text-warn m-t-negative"
        >نوشتن پاسخ ضروری است</small
      >
    </div>

    <button
      type="button"
      class="btn-save btn d-inline-flex justify-content-around py-btns radius align-items-center mb-4"
      (click)="addOrUpdate()"
      [disabled]="!addForm.valid || addUpdate.answer?.trim().length == 0"
    >
      <i class="i-Yes text-bigger mr-2"></i>
      <strong>ذخیره</strong>
    </button>
  </div>
</form>
<div class="separator-breadcrumb border-top">
  <!-- *appCanAccess="'ProductT-Edit'" -->
</div>
<ngb-accordion
  #acc="ngbAccordion"
  [closeOthers]="true"
  [destroyOnHide]="false"
  *ngFor="let item of rows"
>
  <ngb-panel class="ngb-panel text-white" title="{{ item.question }}">
    <ng-template ngbPanelContent>
      <div class="row">
        <div class="col-10 text-start mr-5" [innerHTML]="item.answer">
          {{ item.answer }}
        </div>
        <div class="col-10 text-start">
          <!-- *appCanAccess="'ProductT-Edit'" -->
          <button
            (click)="addUpdate = item; scroll()"
            class="btn-upload btn d-inline-flex justify-content-around py-btns radius align-items-center mt-4"
          >
            <i class="i-Pen-5 text-bigger mr-2"></i>
            <strong>ویرایش</strong>
          </button>
          <button
            type="button"
            (click)="deleteFaq(item.id, deleteConfirmModal)"
            class="btn-delete btn d-inline-flex justify-content-around py-btns radius align-items-center mt-4 ml-2"
          >
            <i class="i-Close text-bigger mr-2"></i>
            <strong>حذف</strong>
          </button>
        </div>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
<div *ngIf="rows?.length == 0" class="d-flex justify-content-center">
  <img
    src="../../../../../assets/images/97434-no-data-available.gif"
    class="img-fluid w-50"
    style="opacity: 0.4"
    alt=""
  />
</div>
<!-- Delete -->
<ng-template #deleteConfirmModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">حذف</h4>
    <button
      type="button"
      class="close"
      aria-label="Close button"
      aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>آیا از حذف مطمئنید؟</strong></p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn-save btn d-inline-flex justify-content-around py-btns radius align-items-center mr-1"
      (click)="modal.dismiss('cancel')"
    >
      <i class="i-Close text-bigger mr-2"></i>
      <strong>خیر</strong>
    </button>
    <button
      type="button"
      ngbAutofocus
      class="btn-delete btn d-inline-flex justify-content-around py-btns radius align-items-center"
      (click)="modal.close('Ok')"
    >
      <i class="i-Yes text-bigger mr-2"></i>
      <strong>بله</strong>
    </button>
  </div>
</ng-template>
