.rounded-4 {
  border-radius: 8px !important;
}
.rounded-alt {
  border-radius: 8px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.bg-notes {
  background-color: #c4ccd1;
}
.bg-notes-header {
  background-color: #5c65b3;
}
