@font-face {
  font-family: Vazir;
  src: url("../../../../assets/fonts/Vazir.eot");
  src: url("../../../../assets/fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("../../../../assets/fonts/Vazir.woff2") format("woff2"),
    url("../../../../assets/fonts/Vazir.woff") format("woff"),
    url("../../../../assets/fonts/Vazir.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.font-face {
  font-family: 'Vazir' !important;

}
.main-table{
  overflow: scroll;
  max-height: 40em;
}
.f-direction{
  direction: ltr;
}
*{
  margin:
   0;
  padding: 0;
  box-sizing: border-box;
}
.main{
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: "https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png";
  background-position: center;
  background-size: cover;
}
.profile-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 100%;
  border-radius: 25px;


}
.image{
  position: relative;
  height: 100px;
  width: 100px;
}
.image .profile-pic{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 5px 20px rgba(0,0,0,0.4);
}
.data{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.data h2{
  font-size: 33px;
  font-weight: 600;
}
span{
  font-size: 18px;
}
.row{
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.row .info{
  text-align: center;
  padding: 0 20px;
}
.buttons{
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.buttons .btn{
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  padding: 8px 25px;
  border-radius: 25px;
  font-size: 18px;
  white-space: nowrap;
  background: linear-gradient(to left, #33ccff 0%, #ff99cc 100%);
}
.buttons .btn:hover{
  box-shadow: inset 0 5px 20px rgba(0,0,0,0.4);
}
.total-payment{
  color: rgb(36, 148, 36);
}
.fo-small{
  font-size: small;

}
table {
margin-top: 20px;
  
}

.person-Count{
  display: flex;
          justify-content:center ;
            
              flex-direction: row-reverse;
}
.header-label{
  background: #5e6a69;
  color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-size: 0.8rem !important;

}
.p-organizationchart-node-content{
  border: 3px solid #dee2e6  !important;
}