
<div class="table-direction card flex ">
    <p-organizationChart [value]="treeNodes" selectionMode="single" [(selection)]="selectedNode"
    (onNodeExpand)="testonNodeExpand($event)" styleClass="company">
    <ng-template let-node pTemplate="person">
       
       
      
        
      <!-- <div> <div id="main">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" >
      </div></div> -->
      <section class="main">
        <div class="profile-card">
          <div class="image">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" >
          </div>
          <div class="data">
            <h3>{{node.title}}</h3>
            <span class="fo-small" *ngIf="node.parentId!=null">مجموع پرداختی:<span class="total-payment fo-small">${{node.totalPayment  == null ? 0 : node.totalPayment }}</span></span>
          </div>
          <div class="row m-2">
            <div class="col-6">
              <h5>شماره حساب</h5>
              <span class="fo-small">{{node.accountNumber}}</span>
            </div>
            <div class="col-6">
              <h5>ایدی</h5>
              <span class="fo-small">{{node.id}}</span>
            </div>
            <div class="col-6">
              <h5>شماره تلفن</h5>
              <span class="fo-small">{{node.phoneNumber}}</span>
            </div>
            <div class="col-6">
              <h5>زیر مجموعه ها</h5>
              <span class="fo-small">{{node.childrenCount}}</span>
            </div>
            <div class="col-12 text-center">
              <h5>ایمیل</h5>
              <span class="fo-small">{{node.email}}</span>
            </div>
          </div>
       
        </div>
      </section>  
    </ng-template>
   
</p-organizationChart>
</div>
