<div class="table-direction">

<h5>Advanced</h5>
<p>Organization with advanced customization.</p>
<p-organizationChart [value]="Users" selectionMode="single" (onNodeExpand)="testonNodeExpand()" [(selection)]="selectedNode" (onNodeSelect)="onNodeSelect($event)"
    styleClass="company">
    <ng-template let-node pTemplate="person">

        <div class="node-content" style="border: black;">
            <img class="img-s"  src="../../../../../../assets/images/User.png" width="32">
            <div>{{node.data.firstname }} {{node.data.lastName}}</div>
            

        </div>
    </ng-template>
 
</p-organizationChart>
