.gap-custom {
  gap: 0.9rem;
}
.h-custom {
  height: 350px;
}
.custom-table-responsive {
  padding: 20px;
  border-radius: 10px;
}
.custom-table {
  max-width: 100%;
  thead {
    tr,
    th {
      border-top: none;
      font-weight: 800;
      border-bottom: none !important;
      font-size: 0.81rem;
    }
  }
  tbody {
    th,
    td {
      vertical-align: middle;
      color: #777;
      font-weight: 700;
      padding-top: 16px;
      padding-bottom: 16px;
      font-size: 0.79rem;
      small {
        color: darken(#ccc, 10%);
        font-weight: 300;
      }
      span {
        font-size: 0.75rem;
      }
    }
    tr {
      &:not(.spacer) {
        border-radius: 10px;
        overflow: hidden;
        transition: 0.3s all ease;
        &:hover {
          box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.5);
        }
      }
      th,
      td {
        background: #efefef;
        border: none;

        &:first-child {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
        &:last-child {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }
      }
      &.spacer {
        td {
          padding: 0 !important;
          height: 10px;
          border-radius: 0 !important;
          background: transparent !important;
        }
      }
      &.active {
        opacity: 0.4;
      }
    }
  }
}

.drag-scroll {
  height: inherit;
  width: 100%;
}
.basket-price-section {
  margin: 10px 0 !important;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .basket-price-container {
    width: 243.891px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px 0 !important;
    span {
      flex: 0 0 50%;
      max-width: 50%;
      text-align: center;
      padding: 0.25rem;
      &:is(.right-span) {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      &:is(.left-span) {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    }
  }
  .p-dropdown-flex {
    flex: 0.4 0 50% !important;
  }
}
