<button
  *appCanAccess="'Product-Add'"
  type="button"
  [routerLink]="'/prd/addUpdate'"
  class="btn btn-primary mb-4"
>
  <span>ایجاد</span>
</button>

<div class="separator-breadcrumb border-top"></div>

<section class="main-table">
  <table class="table">
    <thead class="bg-dark text-white">
      <tr>
        <th class="rounded--right">ID</th>
        <th>عکس</th>
        <th>عنوان</th>
        <th>نوع</th>
        <th>وضعیت</th>
        <th class="rounded--left">عملیات</th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="
          let item of rows
            | paginate
              : {
                  itemsPerPage: page.size,
                  page: page.pageNumber,
                  currentPage: page.pageNumber,
                  totalItems: page.totalElements
                }
        "
      >
        <td>{{ item.id }}</td>

        <td>
          <a href="" class="m-0">
            <img
              src="{{ 'https://dl.iraniexpert.com/' + item.cardImagePath }}"
              class="m-0 img-card"
              alt=""
            />
          </a>
        </td>

        <td>
          {{ item.title }}
        </td>

        <td>
          {{ item.type | productType }}
        </td>

        <td *ngIf="item.isActive === false">غیر فعال</td>
        <td *ngIf="item.isActive === true">فعال</td>

        <td class="td-oprate">
          <button
            *appCanAccess="'Product-Edit'"
            class="btn btn-info"
            [routerLink]="'/prd/addUpdate/' + item.id"
          >
            جزئیات
          </button>
          <button
            *appCanAccess="'Product-Delete'"
            class="btn btn-danger"
            (click)="deleteProduct(item.id, deleteConfirmModal)"
          >
            حذف
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<div class="col-md-12 mt-3" *ngIf="rows?.length > 0">
  <pagination-controls
    (pageChange)="setPage($event)"
    previousLabel=""
    nextLabel=""
  ></pagination-controls>
</div>

<div *ngIf="rows?.length == 0" class="d-flex justify-content-center">
  <img
    src="../../../../../assets/images/97434-no-data-available.gif"
    class="img-fluid w-50"
    style="opacity: 0.4"
    alt=""
  />
</div>

<ng-template #deleteConfirmModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">حذف محصول</h4>
    <button
      type="button"
      class="close"
      aria-label="Close button"
      aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>آیا از حذف مطمئنید؟</strong></p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary btn-rounded mr-1"
      (click)="modal.dismiss('cancel')"
    >
      خیر
    </button>
    <button
      type="button"
      ngbAutofocus
      class="btn btn-wide btn-danger btn-rounded"
      (click)="modal.close('Ok')"
    >
      بله
    </button>
  </div>
</ng-template>
